/* Здесь будут храниться стили нашего сайта */
/* GENERAL */
body {
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
}
h1 {
    font-family: "Roboto Slab";
    font-size: 44px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 2.2px;
    padding:0 0 20px 0;
}
h2 {
    font-family: "Roboto Slab";
    font-size: 40px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 2.2px;
    padding: 0 0 20px 0;
}
h3 {
    font-family: "Roboto Slab";
    font-size: 30px;
    font-weight: bold;
    line-height: 65px;
    letter-spacing: 2.2px;
    padding: 0 0 20px 0;
}
p, span {
    font-weight: 300;
}
ul, li {
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
    padding:0;
    margin:0;
    font-weight: 300;
}
::placeholder {
    color:#005388;
    opacity:1;
}
:-ms-input-placeholder {
    color:#005388;
}
::-ms-input-placeholder {
    color: #005388;
}
    /* GRID */
    .container {
        display: flex;
        justify-content: center;
    }
        .header .row,
        .works .row
            {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 1170px;
            padding: 0 15px;
            margin: 0 auto;
            z-index: 2;
        }

    /* HEADER */
    .header {
        display: none;
        background:url('../img/bg-image.jpg') top center no-repeat;
        background-size: cover;
        padding:55px 0;
        position: relative;
    }
    .header::before {
        content:'';
        display:block;
        position:absolute;
        top:0;
        left:50%;
        height:100%;
        width: calc(50% + 292px);
        background:#005388;
        margin-left:-292px;
        opacity:0.8;
        z-index: 1;
    }

        .header__text {
            color:#fff;
            margin-left: auto;
            padding:85px 260px 95px 190px;
            border:3px solid #fff;
        }
        .header__text span {
            display:block;
        }

        .header__description {
            width: 100%;
            max-width: 400px;
            font-style: 20px;
            line-height: 36px;
            letter-spacing: 1px;
            padding:20px 0;
        }
        .header__button {
            display: inline-block;
            font-style: 16px;
            font-weight: 400;
            letter-spacing: 0.8px;
            color:#fff;
            text-decoration: none;
            border:2px solid #fff;
            padding:27px 28px;
            border-radius: 30px;
            margin:20px 0;
        }
        .header__button.white {
           background: #fff;
           color:#005388;
           margin-left:25px;  
        }
        .header__button:hover {
            background: #fff;
            color:#005388;
        }
         .header__button.white:hover {
             background: transparent;
             color:#fff;
         }

    /* Works */
    .works {
        display: none;
        padding: 120px 0;
    }
    .works-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 60px;
    }
    .work-item {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
        max-width: 510px;
        margin: 0 0 40px 0;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
        background-color: #fcfbfb;
    }
    .work-img {
        display:flex;
        justify-content: center;
        align-items: center
    }
    .work-text {
        padding: 30px 14px;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        font-display: space-between;
        letter-spacing: 0.9px;
    }
    .work-decrioption {
        line-height:28px;
        font-weight: 300;
    }
    .work-link {
        text-decoration:none;
        color:#005388;
        padding-top:30px;
    }

   
    /* Action */
    .action {
        padding: 90px 0;
        background: #4c4c4c;
        color: #fff; 
    }
    
    .action .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .action-description {
        text-align:left;
        max-width: 550px;
    }
    .action form {
        display:block;
        border:none;
        background:#fff;
        border-radius: 40px;
        padding-left: 25px;
    }
    .action-input {
        border:none;
        color:#005388;
        font-weight: 400;
        letter-spacing: 0.9px;
        padding: 12px 5px 10px 5px;
        max-width: 150px;
    }
    .action-submit {
        background-color: #7dce3f;
        color:#fff;
        font-weight: 400;
        letter-spacing: 0.9px;
        border:none;
        padding: 15px 35px 18px 35px;
        border-radius: 30px;
        cursor:pointer;
    }
    form input:focus {
        outline: none;
    }
    
    /* About */
    .about .row {
        padding-top:80px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
    }
    .about-description {
        max-width: 545px;
    }
    .about-img {
        margin-top:70px;
    }
    .about-contact {
        text-align: center;
    }
    
    .about-contact ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .about-contact ul li {
        width:50%;
        margin:15px 0;
    }
    .about-contact ul li.left {
        text-align:right;
        padding-right:10px;
    }
    .about-contact ul li.right {
        text-align: left;
        padding-left:10px;
        font-weight:bold;
    }

    .about-form {
        display: flex;
        justify-content: center;
        border:1px solid #ccc;
        align-items: center;
    }

    .about-form input {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        border-radius:20px;
        border:none;
        border:0.5px solid #ccc;
        padding:10px 20px;
    }
    .about-submit {
       width:100%;
       max-width:500px;
    }


    /* MEDIA */
    @media screen and (max-width: 1024px) {
        .row {
            align-items: center;
        }
        /* HEADER */
        .header__text {
            padding: 85px 140px;
        }
        /* WORKS */
        .works {
            padding:50px 0;
        }
        .works-items {
            justify-content: center;
            padding:10px 0;
        }
        .action .container {
            flex-direction: column;
        } 
        .action .row {
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .action form {
            margin-top:30px;
        }
    }

    @media screen and (max-width: 780px) {
        /* HEADER */
        .header__text {
            padding: 20px;
            border: none;
            margin: auto;
        }
    }

    @media screen and (max-width: 550px) {
        h1 {
            font-size: 36px;
            line-height: 40px;
            text-align: center;
        }
        h2 {
            font-size: 30px;
            line-height: 20px;
            text-align: center;
        }

        /* HEADER */
        .header {
            padding: 20px 0;
            text-align: center;
        }

        .header__text {
            padding: 0;
        }

        .header__description {
            font-size: 16px;
            line-height: 30px;
        }

        .header__button {
            font-style: 14px;
            padding: 17px 18px;
            margin: 20px 0 10px 0;
        }

        .header__button.white {
            margin-left: 10px;
        }
        /* WORKS */
        .work-decrioption {
            font-size: 16px;
            line-height:20px;
        }
        .action-input {
            max-width: 100px;
        }
        .action-submit {
            padding-left:15px;
            padding-right:15px;
        }


    }