.price
	padding: $gutter*2 0
	background: #f2f2f2
	img
		width: 100%
	.right
		padding: 0 $gutter*2
		justify-content: center
	&__block
		padding: $gutter/2 $gutter
		background: #ffffff
		border-radius: $gutter/5
		p
			margin: $gutter/2 0 
			padding: 0 0 $gutter/2 0
			border-bottom: 1px solid #f2f2f2
			font-size: 1.2em
			b
				font-size: 1.3em
				margin-left: .5em
				color: $accent
			&:last-child
				border-bottom: none
	.btn:last-child
		margin-top: 0
