.steps
	padding: $gutter*2 0
	overflow-y: hidden
	[class*="col-"]
		padding-top: $gutter/2
		padding-bottom: $gutter
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translateX(-50%) translateY(-50%)
			font-size: 12em
			font-family: 'Open Sans', sans-serif
			color: #ebebeb
			font-weight: 800
			line-height: 1
			opacity: .4

		@for $i from 1 through 9
			&:nth-child(#{$i})::before
				content: '0#{$i}'
		img
			width: 4em
			margin: 1em 0
			position: relative
		p
			font-weight: bold
			font-size: 1.4em
			position: relative
		ul
			margin: 0
			padding: 0
			list-style: none
			position: relative
			li
				padding-left: 2.2em
				margin: .5em 0
				font-size: 1.1em
				list-style: none
				position: relative
				&::before
					content: ''
					position: absolute
					left: 0
					top: 50%
					transform: translateY(-50%)
					width: 1.5em
					height: 1px
					background: $accent
					display: block
