$accent: #F9C869
$blue: #66C7CD
$red: #F86868
$dark: #1a1a1a
$top: #1e1f24

body
	margin: 0
	padding: 0
	box-sizing: border-box
	color: $dark
	font-family: 'Exo 2', sans-serif
	font-weight: 100
	font-size: 16px
	opacity: 1
	line-height: 1.75
	a
		text-decoration:none
p 
	padding: 0
	margin: 0
header 
	color: #ffffff
section, header 
	position: relative
	background-size: cover
	background-position: center
section 
	background-color: #fff

.site-header 
	position: relative
	background-color: $top
	height: 100vh
	min-height: 560px
	background-image: url(../img/top_bg.jpg)
	background-position: top center
	background-size: cover
	a 
		color: #fff

	.top-line 
		.logo 
			position: absolute
		a 
			img 
				width: 20rem
				height: auto
				margin-left: 60px
				margin-top: 20px
		.phone 
			position: absolute
			top: 0
			right: 0
			margin-right: 85px
			padding-top: 20px
			text-align: right
			font-size: 20px
			white-space: nowrap
			.fa 
				color: #666
				font-size: 16px
				margin-right: 5px


		.menu_right 
			position: absolute
			z-index: 2
			top: 0
			right: 0
			padding-top: 30px
			.hamburger 
				padding: 0
			.hamburger-box
				width: 45px
			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before 
				width: 30px
				height: 1px
	


	.header-flex 
		display: flex
		height: 100%
		position: relative
		top: 0
		left: 0
		padding: 0
		margin: 0
		.flex-center 
			margin: auto
			.header-composition 
				align-items: center
				position: relative
				text-align: center
				p
					margin-top: 30px
				.welcome 
					p 
						font-size: 14px
						text-transform: uppercase
						display: flex
						align-items: center
						white-space: nowrap
						span 
							margin: 0 10px
						&::before, &::after 
							content: ''
							height: 1px
							width: 100%
							position: relative
							background-color: #fff
				
					.h1
						text-transform: uppercase
						font-weight: 100
						font-size: 3.6rem
						margin: 0
						padding: 0
						white-space: nowrap
						&::after
							display: block
							content: ''
							width: 100%
							height: 1px
							background: #d7d7d7
							position: relative
							margin-top: 10px
					strong
						font-weight: 300
						display: inline-block
						text-transform: uppercase
						margin-top: 15px
						font-size: 17px
						.fa
							margin-right: 10px
							font-size: 12px
							color: #555
							&:last-child
								margin-right: 0px
								margin-left: 10px
					
				.btn.btn-accent 
					background-color: $accent
					padding: 10px 30px



	.right-panel-soc
		position: absolute
		display: flex
		top: 0
		right: 0
		justify-content: center
		height: 100%
		border-left: rgba(255, 255, 255, .1) 1px solid
		padding: 0 12px
		.soc
			margin: auto
			z-index: 1
			ul
				margin: 0
				padding: 0
				li
					margin: 0
					padding: 0
					list-style-type: none
					a
						color: #2c2c2c
						font-style: 17px
						display: block
						background-color: rgba(255, 255, 255, .2)
						width: 38px
						height: 38px
						text-align: center
						margin: 18px 0
						line-height: 38px
						border-radius: 10em
						transition: background-color .25s ease
						&:hover
							background-color: rgba(255, 255, 255, .4)

	.header-contact
		width: 100%
		position: absolute
		bottom: 0
		left: 0
		padding: 12px 0
		border-top: rgba(255, 255, 255, .15) 1px solid
		background-color: rgba(21, 21, 21, .5)
		.phone
			text-align: center
		.time
			text-align: right
		.fas, .far 
			margin-right: 5px
			color: #555
			font-size: 12px


$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
	.carousel-services .owl-item:nth-child(#{length($colors)}n+#{$i})
		background-color: nth($colors, $i)




.mm-panel_has-navbar .mm-navbar
	padding-top: 0
	border: none
.mm-navbar__title 
	img
		width: 14rem
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview
	padding-top: 60px
.mm-listitem 
	border-color: transparent
	padding-left: 40px
	margin-left: 30px
	transition: color .1s ease
.mm-listitem:hover, .mm-listitem.active, .mm-listitem_selected
	color: #fb3
.mm-listitem::before
	content: "\f3a5"
	font-family: "Font Awesome 5 Free"
	font-size: 14px
	display: flex
	align-items: center
	transition: color .1s ease
.mm-listitem_selected>.mm-listitem__text 
	background: transparent


	


/*==========  Desktop First  ==========*/


@media screen and (max-width: 1200px)
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 3rem
	.header-contact 
		span
			display: none

@media screen and (max-width: 1024px)
	.header-contact
		font-size: 14px 
		span
			display: none

@media screen and (max-width: 992px)
	.site-header 
		.top-line 
			.logo
				a 
					img
						width: 15rem
	.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 2.2rem
						p 
							span
								font-size: 0.6rem

@media screen and (max-width: 768px)
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 2.7rem
	.header-contact 
		.phone		
			display: none

@media screen and (max-width: 576px)
	.site-header 
		height: 100%
		.top-line 
			.logo, .phone
				position: relative
				display: block
				width: 100%
				text-align: center
				margin: 0 auto
				padding: 20px 10% 0 0
			.logo
				a 
					img
						width: 15rem
						margin: 0
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						padding-top: 10px
						.h1
							font-size: 3rem
					p
						margin-top: 20px
						font-size: 13px 
		.top-line 
			.logo, .phone
				padding: 10px 10% 0 0
			.phone
				font-style: 18px
			.logo
				a 
					img
						width: 10rem
						margin: 0
	.dark
		box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5) inset	
	.header-contact
		font-size: 14px
		.time
			display: none
		.adres
			text-align: center
	
	.mm-navbar__title 
		img
			width: 10rem

@media screen and (max-width: 450px)
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 2.5rem
						p
							font-size: 1rem
							line-height: 1.5

@media screen and (max-width: 400px)
	.top-line 
		.logo 
			a 
				img
					width: 10rem
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 2.3rem
						p 
							span
								font-size: 0.5rem
	.mm-listitem
		padding-left: 10px
		margin-left: 10px

@media screen and (max-width: 380px)
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 2rem

@media screen and (max-width: 319px)
	.top-line 
		.phone
			font-size: 16px
	.site-header 
		.header-flex 
			.flex-center 
				.header-composition 
					.welcome 
						.h1
							font-size: 1.7rem
						p 
							span 
								font-size: 0.5rem