.bonus
    margin: 20px 0 0 0
    .container
        position: relative
    .caption
        position: absolute
        left: 80px
        top: 90px
        max-width: 550px
        .title
            font-family: "Duchymanly"
            font-weight: normal
            font-size: 8em
            color: #ffffff
            line-height: .8
            padding: 0
            margin: 0
            a
                color: #ffffff
        .desc
            margin-top: .5em
            font-size: 50px
            line-height: .9
            color: #ffffff
            a
                color: #ffffff

@media screen and ( max-width: 1199.98px )
    .bonus
        .caption
            .title
                font-size: 5em
            .desc
                font-size: 40px

@media screen and ( max-width: 991.98px )
    .bonus
        .caption
            top: 30px
        &.gift
            .caption
                top: 50px
                max-width: 250px
                .desc
                    font-size: 30px

@media screen and ( max-width: 767.98px )
    .bonus
        .caption
            left: 50px
            max-width: 300px
            .title
                font-size: 3.5em
            .desc
                font-size: 25px
        &.gift
            .caption
                max-width: 220px
                .desc
                    font-size: 25px


@media screen and ( max-width: 576.98px )
    .bonus
        .caption
            left: 40px
            top: 20px
            max-width: 200px
            .title
                font-size: 2.5em
            .desc
                font-size: 1.5em
        &.gift
            .caption
                top: 20px
                max-width: 180px
                .title
                    font-size: 2.5em
                .desc
                    font-size: 1.4em

@media screen and ( max-width: 374.98px )
    .bonus
        .caption
            left: 30px
            top: 20px
            max-width: 200px
            .title
                font-size: 2em
            .desc
                font-size: 1.2em
        &.gift
            .caption
                left: 30px
                top: 20px
                max-width: 160px
                .title
                    font-size: 2em
                .desc
                    font-size: 1.2em