.slider
    &-wrapper
        &__item
            position: relative
            &__caption
                position: absolute
                left: 50px
                top: 50px
                max-width: 200px
                .title
                    b
                        font-size: 8em
                        color: #ffffff
                        line-height: 1
                .desc
                    font-size: 50px
                    color: #ffffff
        
    .slick-slide
        outline: none
    
    .slick-dots
        margin: 0 auto
        margin: 1em auto
        padding: 0
        display: flex !important
        justify-content: center
        li
            list-style: none
            margin-right: 0.5em
            &:last-child
                margin-right: 0
        button
            border: none
            position: relative
            font-size: 0
            padding: 0
            margin: 0
            width: 25px
            height: 5px
            background: #ffffff
            border: 1px solid $yellow
            transition: background .3s ease
            cursor: pointer
            outline: none
        .slick-active
            button
                background: $yellow