.about_home
   position: relative
   overflow: hidden
   .wp-block-image
      text-align: center
      overflow: hidden
      position: relative
      img
         transition: transform .3s ease
      &:hover
         img
            transform: scale(1.1)