.advantages
   padding: $gutter
   font-size: 1em
   [class*="col-"]
      text-align: center
      margin-bottom: 2em
      &:last-child
         margin-bottom: 0
      img
         width: 4em
         margin-bottom: 1em
      p
         margin-bottom: 0

@media screen and (max-width: 1199.98px)
   .advantages
      font-size: 0.9em
