.catalog__home
   padding: $gutter 0
   margin: 0
   font-size: 1em
   color: #a0a0a0
   .h2_title
      color: $text
   [class*="col-"]
      text-align: center
      margin-bottom: 2em
      padding: 0 3em
   img
      widht: 100%
      border-radius: 4px
   h3
      position: relative
      font-size: 1.4em
      font-weight: bold
      margin: 1em 0
      color: $text
   a
      color: $text
      text-decoration: none
   .wp-block-columns
      display: flex
      align-items: flex-start
      justify-content: space-between
      .wp-block-column
         flex: 1 1 50%
         font-size: 0.8em
         &:first-child
            text-align: left
         &:last-child
            text-align: right
         p
            margin-bottom: 0.5em
      &:last-child
         margin-top: 1em
         align-items: center
         p,
         .btn
            margin: 0
   
   .price
      color: $text
      font-size: 1.6em
      font-weight: bold
      margin-bottom: 0
   
   .wp-block-button__link
      color: inherit
      margin: 0

@media screen and (max-width: 1199.98px)
   .catalog__home
      h3
         font-size: 1.2em
      .price
         font-size: 1.4em
      .btn
         font-size: 1em

@media screen and (max-width: 991.98px)
   .catalog__home
      font-size: 0.8em

@media screen and (max-width: 767.98px)
   .catalog__home
      font-size: .9em

@media screen and (max-width: 576.98px)
   .catalog__home
      font-size: 1em

@media screen and (max-width: 374.98px)
   .catalog__home
      font-size: .9em
