.footer
   margin-top: $gutter
   padding: 0
   position: relative
   overflow: hidden
   .map
      position: relative
   &_block
      position: absolute
      background: #ffffff
      text-align: center
      padding: $gutter*2 $gutter
      left: 10%
      top: 50%
      transform: translateY(-50%)
      width: 400px
      img
         width: 200px
         margin-bottom: 1em
      p
         margin-bottom: 0.5em
         font-size: 1.1em

.copyright
   background: $text
   color: #ffffff
   padding: $gutter/2
   font-size: 0.9em
   text-align: center
   position: relative
   p
      margin-bottom: 0
   .author
      position: absolute
      top: 50%
      right: 10%
      transform: translateY(-50%)
      color: #ffffff

@media screen and (max-width: 900px)
   .copyright
      .author
         position: relative
         top: auto
         right: auto
         transform: none
         margin-top: 0.5em
         display: inline-block

@media screen and (max-width: 600px)
   .footer
      .map
         max-height: 250px
         overflow: hidden
         &_wrapper
            overflow: hidden
            transform: translateY(-15%)
      &_block
         position: relative
         padding: $gutter
         left: 50%
         top: auto
         transform: translateX(-50%)
         p
            font-size: 1em
            max-width: 300px
            margin: 0 auto
   .copyright
      font-size: 0.8em
      span
         display: none
      .author
         border-top: 1px solid rgba(#ffffff, .3)
         padding-top: 1em
         margin-top: 1em