.why
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   padding: $gutter 15px $gutter*2 15px
   color: #ffffff
   position: relative
   &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      bottom: 0
      right: 0
      background: #000
      opacity: .7
   .container
      position: relative
   .h2_title
      span
         color: $accent
   h6
      font-size: 1.2em
      font-weight: bold
      padding-top: 1em
      padding-bottom: .5em
      margin: 0
      margin-bottom: 1em
      position: relative
      &:before
         content: ''
         position: absolute
         left: 0
         bottom: 0
         width: 50px
         height: 2px
         background: $accent
   p
      font-size: 1em
      padding-bottom: 1em
      line-height: 1.5
      
         

@media screen and (max-width: 991.98px)
   .why
      font-size: 0.8em
@media screen and (max-width: 767.98px)
   .why
      font-size: 1em
      background-size: cover
      background-position: -170px
      &:before
         opacity: .8
      .h2_title
         font-size: 1.5em

@media screen and (max-width: 576.98px)
   .why
      font-size: 0.8em
