.work
   .work__carousel
      .work__carousel__item
         margin-right: 1em
         .img_wrapper
            position: relative
            padding-top: 56.25%
            width: 100%
            overflow: hidden
            img
               position: absolute
               left: 0
               top: 0
               width: 100%
               height: auto
               margin: 0 !important
      .owl-item
         padding: 0
         margin: 0
         img
            width: 100%
            margin: 0
            padding: 0

      .owl-nav 
         position: absolute
         top: 50%
         left: 0
         transform: translateY(-50%)
         width: 100%
         button.owl-next, 
         button.owl-prev
            width: 1.5em
            height: 1.5em
            background: #ffffff
            opacity: .5
            border-radius: 50%
            color: $text
            position: absolute
            text-align: center
            line-height: 1
            font-size: 1.5em
            border: none
            outline: 0
            transition: background, opacity .2s ease
            &:hover
               opacity: 1
               background-color: $accent
            &.disabled
               opacity: .3
         button.owl-prev
            left: 30px
         button.owl-next
            right: 30px