<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>OptimizedHTML 4</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->
	
	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

<section class="timeline">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.	<span>11/04/2018</span></p>
				</div>
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>12/04/2018</span></p>
				</div>
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>13/04/2018</span></p>
				</div>
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>14/04/2018</span></p>
				</div>
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>15/04/2018</span></p>
				</div>
				<div class="col-sm-6 col-xs-12 timeline__item">
					<div class="timeline__item__img"><img src="img/pizza.png" alt="Pizza"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <span>16/04/2018</span></p>
				</div>

			</div>
		</div>
	</div>
</section>

	<script src="js/scripts.min.js"></script>

</body>
</html>