.footer
    background: #f2f2f2
    padding: 4em 0 4em 0
    margin-top: 1em
    .logo
        .navbar-brand
            font-weight: 900
            font-size: 1.6em
            letter-spacing: -2px
            color: $text
            padding: 0
            margin-bottom: .2em
        p
            color: #888888
        .social
            display: flex
            align-items: center
            margin-top: 2em
            span
                margin: 0 1em 0 0
                color: #888888
                font-size: 0.8em
            a
                .fab
                    color: $text
                    font-size: 1.5em
                    margin-right: .5em
    .footer-menu
        p
            position: relative
            display: inline-block
            padding-top: .5em
            &:before
                content: ''
                position: absolute
                left: 0
                bottom: -2px
                width: 100%
                height: 1px
                background-color: #ccc
        &-nav
            margin: 0
            padding: 0
            .nav-item
                margin: 0
                padding: 0
                list-style: none
                display: inline !important
                .nav-link
                    padding: .4em .5em
                    display: inline-block
                    font-size: 0.9em
                    &:first-child
                        padding-left: 0
                    u, .search_term
                        text-decoration: none !important
    .author
        padding: 4em 1em 0 0
        justify-content: flex-end
.copyright
    background: $text
    color: #ffffff
    text-align: center
    padding: .5em 0

.wpcf7-response-output.wpcf7-display-none
    &.wpcf7-validation-errors,
    &.wpcf7-mail-sent-ok
        margin: 0
        border-color: transparent
        text-align: center
        color: #fff
        font-size: .8em
    &.wpcf7-validation-errors
        background: #ff0000
    &.wpcf7-mail-sent-ok
        background: #398f14
.wpcf7-not-valid-tip
    text-align: center
    font-size: .8em !important
    padding: 5px 0

@media screen and (max-width: 1199.98px)
    .footer
        .logo
            .navbar-brand
                font-size: 1.3em

@media screen and (max-width: 991.98px)
    .footer
        padding: 4em 0 2em 0
        .logo, .footer-menu
            padding-bottom: 2em
        .logo
            .navbar-brand
                font-size: 1.4em

@media screen and (max-width: 767.98px)
    .footer
        .logo
            text-align: center
            .social
                justify-content: center
        .footer-menu
            text-align: center
            
        .author
            padding: 4em 1em 0 0
            justify-content: center
    .copyright
        font-size: 0.8em