.single_content
    .content-center
        h2, h3, h4
            margin-top: 1em
            margin-bottom: 1em
        img
            max-width: 100% !important
            height: auto !important
        &-block
            margin-top: 1em
            .img_wrapper
                position: relative
                padding-top: 56.25%
                width: 100%
                overflow: hidden
                img
                    position: absolute
                    left: 0
                    top: 0
                    width: 100%
                    height: auto
                    margin: 0 !important
        p
            text-align: justify
            text-align-last: left
        .category_desc
            margin: 0.5em 0 2em 0
            padding: 1em 0
            border-top: 1px solid #f2f2f2
            font-style: italic
        .category_desc img
            max-width: 100%
            display: block
            margin-bottom: 1em

    .content-center-banner
        width: 100%
        max-width: 468px
        margin: 0 auto

    &_line
        background: #f2f2f2
        padding: .5em
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        font-size: .8em
        margin: 1em 0
        .post-categories
            margin: 0
            padding: 0
            display: inline-block
            li
                margin: 0 .5em 0 0
                padding: 0
                list-style: none
                display: inline-block
        .category
            display: flex
            flex-direction: row
            align-items: center
            padding: 0
            margin: 0
            .single_category_date,
            .single_category_tags,
            .single_category_tag
                .far, .fas
                    color: #888
                    margin-right: .3em
            .single_category_date,
            .single_category_tags
                margin-right: 0.8em
            .single_category_tags,
            .single_category_tag
                a
                    margin-right: 0.5em
        .social
            display: flex
            flex-direction: row
            align-items: center
            p
                margin: 0
            .fab, .far
                margin-left: .5em
                font-size: 1.5em
            .far
                margin-right: .5em
                color: #888888
    .wpcf7-form
        max-width: 300px
        margin: 0 auto
        .btn
            margin: 0
    .policy__checked
        justify-content: center !important

@media screen and (max-width: 577.98px)
    .single_content
        img
            display: block
            text-align: center
            margin: 20px auto
        &_line
            .category
                .single_category_tags,
                .single_category_tag
                    .far, .fas
                        display: none
                        margin: 0
                .single_category_tags
                    .post-categories
                        li
                            a
                                font-size: .7em
            .social
                .fab, .far
                    font-size: 1em