$default-font: Arial, sans-serif
$accent: #f84892
$text: #333333
$white: #ffffff
$link: #006697



// Customization Bootstrap vars from "app/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 575.98px, md: 767.98px, lg: 991.98px, xl: 1199.98px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
