.breadcrumb {
  margin: 20px 0 10px 0;
  padding: 0;
  background: transparent;
  display: block;

  li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;

    font-size: 12px;
    color: $black;
    margin-bottom: 10px;
  }

  a {
    font-size: 12px;
    color: $black;
    margin: 0;
    padding: 0;
    margin-right: 16px;
    display: flex;
    align-items: center;
    line-height: 1;

    &:after {
      content: '';
      position: relative;
      display: inline-block;
      flex-basis: 10px;
      height: 6px;
      padding-left: 16px;
      @include icon(transparent, 'arrow-right.svg', 100%, 100% 50%)
    }
  }
}

.product {
  display: flex;



  .product-img {
    flex: 0 0 580px;
    height: 600px;

    display: flex;
    align-items: center;

    .thumb-column {
      display: block;
      width: 110px;
      height: 400px;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        img {
          width: 100%;
        }
      }

      .slick-list {
        margin: -10px 0;
      }

      .slick-slide {
        padding: 10px 0;
      }
    }

    .gallery-column {
      display: block;
      width: 440px;
      padding-left: 20px;
      height: 600px;
      overflow: hidden;

      img {
        width: 100%;
      }

      .slick-prev,
      .slick-next {
        position: absolute;
        top: 50%;
        z-index: 1;
      }

      .slick-prev {
        left: 20px;
      }
      .slick-next {
        right: 20px;
      }
    }
  }

  .product-item {
    flex: calc(100% - 580px);
    padding-left: 50px;


    h1 {
      font-size: 18px;
      color: $black;
      margin-bottom: 30px;
    }

    .product-item--header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 40px;

      .color-block {
        p {
          font-size: 12px;
          color: $black;
          margin-bottom: 7px;
        }

        .colors {
          display: flex;
          align-items: center;

          span {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: green;
            border: 5px solid $white;
            border-radius: 50%;
            box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.1);
            margin-right: 12px;
          }

          .green {
            background: green;
          }
          .red {
            background: red;
          }
          .black {
            background: black;
          }

          .active {
            cursor: default;
            background-size: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+Cgk8Zz4KCQk8cGF0aCBkPSJNNTA0LjUwMiw3NS40OTZjLTkuOTk3LTkuOTk4LTI2LjIwNS05Ljk5OC0zNi4yMDQsMEwxNjEuNTk0LDM4Mi4yMDNMNDMuNzAyLDI2NC4zMTFjLTkuOTk3LTkuOTk4LTI2LjIwNS05Ljk5Ny0zNi4yMDQsMCAgICBjLTkuOTk4LDkuOTk3LTkuOTk4LDI2LjIwNSwwLDM2LjIwM2wxMzUuOTk0LDEzNS45OTJjOS45OTQsOS45OTcsMjYuMjE0LDkuOTksMzYuMjA0LDBMNTA0LjUwMiwxMTEuNyAgICBDNTE0LjUsMTAxLjcwMyw1MTQuNDk5LDg1LjQ5NCw1MDQuNTAyLDc1LjQ5NnoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+');
          }
        }

      }

      .price-block {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        .price {
          flex: 1 1 100%;
          font-size: 24px;
          color: $black;
          margin-bottom: 4px;
          text-align: right;
        }

        .discount {
          font-size: 12px;
          color: $monarch;
          margin-right: 12px;
        }

        .old {
          font-size: 12px;
          color: $frenchGray;

          .currency {
            &:before {
              top: 65%;
              height: 1px;
              background: $frenchGray;
            }
          }
        }

        .currency {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 60%;
            display: block;
            width: 80%;
            height: 2px;
            background: $black;
          }
        }
      }
    }
  }
}
