.slider {
  position: relative;

  .slide-item {
    position: relative;
    padding: 120px 0 230px;
    overflow: hidden;

    @include mobile {
      padding: 30px 0 70px;
    }

    .item-content {
      position: relative;
      z-index: 1;
      color: $white;

      .badge {
        display: inline-block;
        padding: 6px 14px;
        background: $accent;
        margin-bottom: 30px;

        @include mobile {
          padding: 7px 12px;
          font-size: 8px;
          margin-bottom: 23px;
        }
      }

      h1, h2 {
        font-size: 46px;
        text-transform: uppercase;
        max-width: 760px;
        padding: 0;
        margin-bottom: 20px;

        @include tablet {
          font-size: 36px;
        }

        @include mobile-xl {
          max-width: 500px;
          font-size: 28px;
        }

        @include mobile {
          max-width: 330px;
          font-size: 20px;
        }

        @include mobile-s {
          max-width: 300px;
          font-size: 16px;
        }
      }

      .description {
        max-width: 660px;
        font-size: 24px;
        line-height: 1.25;

        @include tablet {
          max-width: 550px;
          font-size: 20px;
        }

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .item-thumbnail {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }

  .slick-slide {
    a {
      outline: none !important;
    }
  }

  .slick-nav {
    position: absolute;
    left: 50%;
    bottom: 45px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

    @include mobile-xl {
      bottom: 30px;
    }

    @include mobile {
      bottom: 15px;
    }

    .slick-prev,
    .slick-next {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      display: block;
      flex: none;
      width: 30px;
      height: 22px;
      padding: 0;
      outline: none;
      color: transparent;
      border: none;
      cursor: pointer;
      z-index: 1;

      @include mobile {
        width: 17px;
        height: 12px;
      }
    }

    .slick-prev {
      background-image: url('../img/slider/left-arrow.svg');
      transform: rotate(180deg);
    }

    .slick-next {
      background-image: url('../img/slider/left-arrow.svg');
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 2;

    @include mobile-xl {
      bottom: 30px;
    }

    @include mobile {
      bottom: 20px;
    }

    li {
      list-style: none;
      flex: none;
      width: 70px;
      margin-right: 30px;

      @include mobile-xl {
        width: 50px;
      }

      @include mobile {
        width: 30px;
        margin-right: 10px;
      }

      button {
        display: block;
        width: 100%;
        height: 3px;
        overflow: hidden;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        background: $white;
        color: $white;
        border: none;
        outline: none;
        user-select: none;

        @include mobile {
          height: 2px;
        }
      }

      &.slick-active {
        button {
          background: $accent;
          color: $accent;
        }
      }
    }
  }
}