@import 'vars';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $font;
  min-width: 320px;
  position: relative;
  line-height: 1.2;
  overflow-x: hidden;
  color: $black;
  transition: opacity .5s ease;

  &.no-scroll:not(.modal) {
    overflow: hidden;
    height: 100%;
    touch-action: none;
  }
}


.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a, a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn, .btn:focus, .btn:active {
  user-select: none !important;
  outline: none !important;
  box-shadow: none !important;
}

@import 'header';
@import 'slider';
@import 'footer';


body {
  opacity: 1;
}
