.flex
   display: flex
   justify-content: space-between
   align-items: flex-start
   flex-wrap: wrap
   max-width: 1200px
   margin: 1em auto
   padding: 0 15px
.col-x4
   width: 24%
   margin-left: 1%
   &:first-child
      margin-left: 0
   &:last-child
      width: 25%