
@import '../_libs/var'
.cart-order-item
    display: flex
    align-items: center
    padding: 2em 0
    border-bottom: 1px solid rgba(0, 182, 198, 0.2)
    &__img
        flex: 0 0 10%
    &__name
        flex: 0 0 24%
        padding-left: 0.5em
        a
            color: $text
            &:hover
                color: $text
    &__price
        flex: 0 0 24%
        display: flex
        flex-wrap: wrap
        align-self: flex-end
        padding: 0 .5em
        p
            flex: 1 0 50%
            font-weight: bold
            font-size: 1.2em
            margin: 0
            margin-bottom: 0.2em
        .old
            text-align: right
            color: $grey
            text-decoration: line-through
        .btn
            width: 100%
            text-align: center
            margin-bottom: 0
            cursor: default
            user-select: none
    &__qty
        flex: 0 0 23%
        align-self: flex-end
        padding: 0 1em
        .btn
            &.btn-grey
                display: block
                text-align: center
                color: $text
                cursor: default
                user-select: none
    &__subtotal
        flex: 0 0 19%
        align-self: flex-end
        padding: 0 .5em
        p
            color: $grey
            margin: 0
            font-size: 1.2em
            b
                display: block
                margin: 0.2em 0
                font-weight: bold
                color: $text
                font-size: 1.3em
    &-total
        display: table
        width: 100%
        padding: .5em 0
        & > div
            display: table-cell
        & > div:nth-child(1)
            width: 40%
            text-align: left
        & > div:nth-child(2)
            text-align: right
            width: 41%
        & > div:nth-child(3)
            width: 19%
            text-align: left
            padding-left: 0.5em
        .total
            font-size: 1.4em
            font-weight: bold
        .bonus
            color: $accent
            font-size: 1.4em
            font-weight: bold
        a
            border-bottom: 1px dashed $text
            color: $text
            &:hover
                border-bottom: none
                color: $text
        p
            font-size: 1.1em
            margin: 0
            padding: 0
            line-height: 1
            min-height: 40px

@media screen and ( max-width: 1199.98px )
    .cart-order-item
        font-size: 0.8em

@media screen and ( max-width: 991.98px )
    .cart-order-item
        font-size: 0.8em
        &__price
            p
                font-size: 1em
        &__subtotal
            p
                font-size: 1em
        &-total
            .total,
            .bonus
                font-size: 1.2em

@media screen and ( max-width: 767.98px )
    .cart-order-item
        font-size: 1em
        flex-wrap: wrap
        &__img
            flex: 0 0 10%
        &__name
            flex: 0 0 90%
            font-size: 1.2em
            padding-left: 1em
        &__price
            flex: 0 0 40%
            padding: .5em
            padding-top: 1em
            padding-left: 0
        &__qty
            flex: 0 0 30%
            padding: .5em
            padding-top: 1em
        &__subtotal
            flex: 0 0 30%
            padding: .5em
            padding-top: 1em
        &-total
            display: flex
            flex-wrap: wrap
            & > div:nth-child(1)
                width: 100%
                margin-bottom: 2em
            & > div:nth-child(2)
                width: 70%
            & > div:nth-child(3)
                width: 30%
            .total,
            .bonus
                font-size: 1.4em

@media screen and ( max-width: 424.98px )
    .cart-order-item
        padding-bottom: 0.5em
        &__price
            flex: 0 0 50%
        &__qty
            flex: 0 0 50%
        &__subtotal
            flex: 0 0 100%
            text-align: right
        &-total
            & > div:nth-child(2)
                width: 70%
            & > div:nth-child(3)
                width: 30%
            .total,
            .bonus
                font-size: 1.3em

@media screen and ( max-width: 374.98px )
    .cart-order-item
        font-size: .9em
        &-total
            & > div:nth-child(2)
                width: 65%
            & > div:nth-child(3)
                width: 35%
            .total,
            .bonus
                font-size: 1.2em