@import '../_libs/var'
.brands
    &-header
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 2em
        h1
            text-align: center
            font-size: 2.5em
            font-weight: bold
            margin: 0
        &__favorite
            display: flex
            justify-content: center
            border: 2px solid $accent
            border-radius: 4px
            position: relative
            overflow: hidden
            &::before
                content: ''
                position: absolute
                left: 0
                top: 0
                width: 50%
                transform: translateX(100%)
                height: 100%
                background: $accent
                transition: transform .3s ease
            span
                padding: 1em 2em
                cursor: pointer
                position: relative
                z-index: 1
                transition: opacity .3s ease
                transition-delay: 0.3s
                &:first-child
                    color: $text
                &:last-child
                    color: #ffffff
            &.active
                &::before
                    left: 0
                    transform: translateX(0)
                span
                    &:first-child
                        color: #ffffff
                    &:last-child
                        color: $text

    &-alphabet
        border-top: 1px solid #DADADA
        border-bottom: 1px solid #DADADA
        padding: 2em 0
        margin-bottom: 2em
        .rus,
        .eng
            display: flex
            align-items: center
            justify-content: flex-start
            flex-wrap: wrap
            font-size: 1.5em
            font-weight: bold
            span
                margin-right: 1em
                cursor: pointer
                &:hover
                    color: $accent
                &.none
                    color: $grey
                    cursor: default
                &.active
                    color: $accent
                a
                    color: inherit
        .rus
            margin-bottom: 1em

    &-all
        display: none
        &.active
            display: block
        &-card
            display: flex
            justify-content: flex-start
            margin-bottom: 3em
            &__title
                flex: 1 0 20%
                color: $accent
                font-size: 3.8em
                font-weight: bold
                text-align: left
                line-height: 1
            &__list
                flex: 1 0 80%
                padding-top: 0.5em
                text-align: left
                column-count: 5
                a
                    display: block
                    color: $text
                    margin-bottom: 0.8em
                    &:hover
                        color: $accent

    &-list
        display: none
        align-items: center
        flex-wrap: wrap
        margin-bottom: 2em
        &.active
            display: flex
        a
            display: block
            flex: 16.666666%
            min-width: 16.666666%
            text-align: center
            margin-bottom: 2em
        &__img
            margin-bottom: .5em
            min-height: 200px
            display: flex
            align-items: center
            justify-content: center
            img
                max-width: 100%
                padding: 10px
        p
            color: $text

    &-page
        h1
            text-align: left
            font-size: 2.5em
            font-weight: bold
            margin: 0
            padding: 0 calc(50% - 580px)
            margin-bottom: 1em
        &-about
            background: rgba(171, 82, 191, 0.04)
            padding: 30px 0
            position: relative
            &::after
                content: ''
                display: table
                clear: both
            p
                color: #8C8C8C
                line-height: 1.5
                font-size: 1em
                text-align: justify
                text-align-last: left
            img
                float: right
                margin-left: 40px
                margin-bottom: 20px

@media screen and ( max-width: 1199.98px )
    .brands
        &-alphabet
            .rus,
            .eng
                span
                    margin-right: .5em
        &-page
            h1
                padding: 0 calc(50% - 465px)

@media screen and ( max-width: 991.98px )
    .brands
        &-alphabet
            .rus,
            .eng
                font-size: 1.5em
                span
                    margin-right: .5em
                    margin-bottom: 0.5em
        &-all
            &-card
                &__title
                    font-size: 3em
                &__list
                    column-count: 4
        &-list
            a
                flex: 25%
                min-width: 25%
        &-page
            h1
                padding: 0 calc(50% - 345px)
                margin-bottom: 0.5em
            &-about
                img
                    max-width: 200px
                    margin-left: 20px

@media screen and ( max-width: 767.98px )
    .brands
        &-all
            &-card
                &__title
                    font-size: 2.5em
                &__list
                    column-count: 3
        &-list
            &__img
                min-height: 150px
        &-page
            h1
                padding: 0 calc(50% - 255px)
            &-about
                p
                    line-height: 1.3
                    font-size: 0.9em
    
@media screen and ( max-width: 576.98px )
    .brands
        &-header
            align-items: flex-start
            justify-content: flex-start
            flex-direction: column
            h1
                font-size: 1.8em
                margin-bottom: 1em
        &-all
            &-card
                &__title
                    flex: 1 0 30%
                    font-size: 2em
                &__list
                    flex: 1 0 70%
                    column-count: 2
        &-list
            a
                flex: 33.333333%
                min-width: 33.333333%
        &-page
            h1
                padding: 0 15px
            &-about
                p
                    font-size: 0.8em
                img
                    max-width: 100px
                    margin-left: 10px
                    margin-bottom: 10px
    