@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false )
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-style: $style

		@if $asset-pipeline == true 
			src: font-url('#{$file-path}.eot')
			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype')
		@else
			src: url('#{$file-path}.eot')
			src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype')

+font-face("MuseoSans", "../fonts/MuseoSans/MuseoSansCyrl-300")
+font-face("MuseoSans", "../fonts/MuseoSans/MuseoSansCyrl-900", bold)

@mixin font-face2($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false )
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-style: $style

		@if $asset-pipeline == true 
			src: font-url('#{$file-path}.ttf')
			src: font-url('#{$file-path}.ttf?#iefix') format('truetype'), font-url('#{$file-path}.ttf') format('truetype')
		@else
			src: url('#{$file-path}.ttf')
			src: url('#{$file-path}.ttf?#iefix') format('truetype'), url('#{$file-path}.ttf') format('truetype')

+font-face2("Arial", "../fonts/1Arial")
+font-face2("Calibri", "../fonts/2Calibri")
+font-face2("Freeset", "../fonts/3FREESET")
// +font-face2("Bg", "../fonts/4BG")
+font-face2("Chicago", "../fonts/5CHICAGO")
+font-face2("Gost", "../fonts/6GOST")
+font-face2("Evropa", "../fonts/7EVROPA")
+font-face2("GothamPro", "../fonts/8GothamPro")
+font-face2("Gothic", "../fonts/9GOTHIC")
+font-face2("Impact", "../fonts/10Impact")
+font-face2("HRM", "../fonts/11HRM")
+font-face2("Bankrus", "../fonts/12BANKRUS")