.step1
   .slick-slide
      img
         width: 100%
         max-width: 370px
         margin: 0 auto
   .slick-dots
      list-style: none
      margin: 0 0 1em 0
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      li
         padding: 0
         margin: 0 0.2em
      button
         border-radius: 50%
         width: $gutter/2
         height: $gutter/2
         font-size: 0
         padding: 0
         margin: 0
         border: none
         background: #ffffff
         opacity: .5
         transition: transform .3s ease
         &:hover
            transform: scale(1.1)
      .slick-active
         button
            opacity: 1
            background: #ffffff
            transform: scale(1.2)
   
   .materials
      margin-top: 2em
      margin-bottom: 2em
      display: flex
      align-items: center
      justify-content: space-between
      flex-wrap: wrap
      &__card
         flex: 1 1 auto
         width: 33%
         margin: 0
         padding: 0
         input
            display: none
         label
            display: block
            font-size: 1.3em
            padding-left: 1.5em
            position: relative
            user-select: none
            cursor: pointer
            transition: color .3s ease
            &:before
               content: ''
               position: absolute
               left: 0
               top: 50%
               transform: translateY(-50%)
               width: 1em
               height: 1em
               border: 1px solid #ffffff
               transition: background .3s ease
         input:checked + label
            color: $orange
            &:before
               background: $orange
               border: 1px solid $orange
   p.text
      text-align: left
      margin-bottom: 0
   .step_button
      padding-top: 1em
      text-align: left

@media screen and (max-width: 1199.98px)
   .step1
      font-size: 0.8em
      .materials
         &__card
            label
               font-size: 1.2em

@media screen and (max-width: 991.98px)
   .step1
      font-size: 0.8em
      .materials
         &__card
            label
               font-size: 1em

@media screen and (max-width: 767.98px)
   .step1
      font-size: 1em

@media screen and (max-width: 576.98px)
   .step1
      h3
         font-size: 1.6em
         text-align: center
      .materials
         flex-wrap: wrap
         &__card
            width: 40%
            label
               font-size: 1.1em

@media screen and (max-width: 374.98px)
   .step1
      font-size: 0.8em