.stepLine
   padding: $gutter/2 0
   &__row
      display: flex
      align-items: center
      justify-content: space-between
      .router-link-active
         font-weight: bold
         text-decoration: underline