@import '_libs/hamburger'
@import 'fonts'

$accent: #0f569d
$accent2: #ffab00
$text: #151515

$gutter: 30px

$default-font: 'PTSans', sans-serif

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	text-transform: uppercase
	color: #a0a0a0 !important

*:-moz-placeholder
	text-transform: uppercase
	color: #a0a0a0 !important

*::-moz-placeholder
	text-transform: uppercase
	color: #a0a0a0 !important

*:-ms-input-placeholder
	text-transform: uppercase
	color: #a0a0a0 !important

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
a, 
	&:hover, 
	&:active, 
	&:focus
		text-decoration: none
		outline: none
b, strong
	font-weight: bold

img
	max-width: 100%

.img__wrapper
	position: relative
	overflow: hidden
	width: 100%
	min-height: 200px
	margin: 0 auto
	margin-bottom: 1em
	img
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: auto
		margin: 0 auto

@import 'nav'
@import 'header'
@import 'course'
@import 'time'
@import 'features'
@import 'callform'
@import 'team'
@import 'review'
@import 'certificat'
@import 'partners'
@import 'blog'
@import 'footer'
@import 'modal'

@import 'single'


*:focus
	outline: none !important
	box-shadow: none

.h2__title
	font-size: 2em
	font-weight: bold
	display: block
	text-align: center
	margin: 0
	margin-bottom: 1em


.breadcrumb
	padding-top: 140px
	background: #ffffff
	margin-bottom: 0
	font-size: 0.8em
	color: #888888
	.container
		padding: 0
		a
			color: $accent
			position: relative
			padding-right: 1.5em
			margin-right: 0.5em
			&:before
				content: ''
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				width: 10px
				height: 10px
				background-size: 10px
				background-position: center
				background-repeat: no-repeat
				background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+CiAgICA8cGF0aCBkPSJtNDAuNCwxMjEuM2MtMC44LDAuOC0xLjgsMS4yLTIuOSwxLjJzLTIuMS0wLjQtMi45LTEuMmMtMS42LTEuNi0xLjYtNC4yIDAtNS44bDUxLTUxLTUxLTUxYy0xLjYtMS42LTEuNi00LjIgMC01LjggMS42LTEuNiA0LjItMS42IDUuOCwwbDUzLjksNTMuOWMxLjYsMS42IDEuNiw0LjIgMCw1LjhsLTUzLjksNTMuOXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6IzBGNTY5RCIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KICA8L2c+PC9nPiA8L3N2Zz4=')

@media screen and (max-width: 991.98px)
	.h2__title
		font-size: 1.8em
@media screen and (max-width: 767.98px)
	.h2__title
		font-size: 1.6em
	.breadcrumb
		padding-top: 80px

.btn
	user-select: none
	box-shadow: none
	&:focus
		outline: none
		box-shadow: none
	&.btn-white
		background-color: #ffffff
		border-color: #ffffff
		outline: none
		&:hover
			background-color: $accent
			border-color: $accent
			color: #ffffff
	&.btn-accent
		background-color: $accent
		border-color: darken($accent, 5%)
		color: #ffffff
		outline: none
		&:hover
			background-color: $accent2
			border-color: $accent2
	&.btn-dark
		color: #ffffff
		background-color: $text
		border-color: darken($text, 5%)
		outline: none
		&:hover
			background-color: darken($text, 5%)
			border-color: darken($text, 10%)
	&.btn-outline-dark
		color: $text
		background-color: transparent
		border-color: $text
		outline: none
		&:hover
			background-color: $text
			border-color: $text
			color: #ffffff
	&.btn-outline-accent
		color: $accent
		background-color: transparent
		border-color: $accent
		outline: none
		&:hover
			background-color: $accent
			border-color: $accent
			color: #ffffff
	&.btn-outline-white
		color: #ffffff
		background-color: transparent
		border-color: #ffffff
		outline: none
		&:hover
			background-color: #ffffff
			border-color: #ffffff
			color: $accent

.wp-block-columns
	display: flex
	justify-content: space-between
	align-items: flex-start
	flex-wrap: wrap
	padding: 0
	&.has-2-columns
		.wp-block-column
			width: 48%
			margin-left: 4%
			margin-bottom: 2em
			position: relative
			&:first-child
				margin-left: 0
			&:last-child
				width: 48%

.not_find
	padding: $gutter*3
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	&.search
		padding-top: 2em
	h1
		font-size: 10em
		color: $accent
		font-family: 'Dosis', sans-serif
		font-weight: 700
	.far
		font-size: 2em
		margin-left: -0.2em

.toTop
	position: fixed
	display: none
	cursor: pointer
	right: 15px
	bottom: 15px
	img
		width: 30px
		height: 30px
		opacity: .5
		transition: opacity .2s ease
		&:hover
			opacity: 1

body
	opacity: 1