.pickmeup{border-radius:.4em;margin:0 auto;padding:2rem 0;font-size:1.8rem;text-align:center;display:inline-block;}
.pickmeup *{-moz-box-sizing:border-box;box-sizing:border-box;}
.pickmeup.pmu-flat{width:100%;margin:0 auto;}
.pickmeup.pmu-hidden{display:none}
.pickmeup .pmu-instance{font-family:Roboto;font-weight:300;display:inline-block;height:13.8em;padding:0.5em;text-align:center;width:15em;margin:0 auto;-webkit-tap-highlight-color: transparent;}
/* текущий месяц */
.pickmeup .pmu-instance .pmu-button{color:#151515;cursor:pointer;outline:none;text-decoration:none;-webkit-tap-highlight-color: transparent;}
.pickmeup .pmu-instance .pmu-today{border:1px solid #008000;}


.pickmeup .pmu-instance .pmu-not-in-month{color:#151515;font-weight:300;}
.pickmeup .pmu-instance .pmu-disabled, .pickmeup .pmu-instance .pmu-disabled:hover{color:#ccc;cursor:default}
.pickmeup .pmu-instance .pmu-selected{background:#151515;color:#eee;}
.pickmeup .pmu-instance .disabled_dates {background:#ff2400;color:#fff;border:none;}
.pickmeup .pmu-instance .disabled_dates:hover{color:#fff}
.pickmeup .pmu-instance .pmu-selected .disabled_dates {background:#ff2400;color:#fff;border:none;}
.pickmeup .pmu-instance .pmu-selected .disabled_dates:hover {color:#fff}
.pickmeup .pmu-instance .pmu-not-in-month.pmu-selected{background:#151515;color:#eee;}
.pickmeup .pmu-instance nav{color:#eee;display:-ms-flexbox;display:-webkit-flex;display:flex;line-height:2em}
.pickmeup .pmu-instance nav *:first-child :hover{color:#88c5eb}
.pickmeup .pmu-instance nav .pmu-prev,.pickmeup .pmu-instance nav .pmu-next{display:none;height:2em;width:1em}
.pickmeup .pmu-instance nav .pmu-month{width:14em;cursor:default;font-weight:300;}
.pickmeup .pmu-instance .pmu-years *,.pickmeup .pmu-instance .pmu-months *{display:inline-block;line-height:3.6em;width:3.5em;}
.pickmeup .pmu-instance .pmu-day-of-week{color:#999;cursor:default;cursor:default;font-weight:300;}
.pickmeup .pmu-instance .pmu-day-of-week *,.pickmeup .pmu-instance .pmu-days *{display:inline-block;line-height:1.5em;width:2em}
.pickmeup .pmu-instance .pmu-day-of-week *{line-height:1.8em}
.pickmeup .pmu-instance:first-child .pmu-prev,.pickmeup .pmu-instance:last-child .pmu-next{display:block}
.pickmeup .pmu-instance:first-child .pmu-month,.pickmeup .pmu-instance:last-child .pmu-month{width:13em}
.pickmeup .pmu-instance:first-child:last-child .pmu-month{width:12em}
.pickmeup:not(.pmu-view-days) 
.pmu-days,.pickmeup:not(.pmu-view-days) 
.pmu-day-of-week,.pickmeup:not(.pmu-view-months) 
.pmu-months,.pickmeup:not(.pmu-view-years) 
.pmu-years{display:none}

@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 767px) 
 { 
		.pickmeup{border-radius:.4em;font-size:1.8rem;}
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
 { 
		.pickmeup{font-size:2rem;}
	}