$bg: #FFF8F8
$accent: #C251C0
$accent2: #D584D1
$blue: #EAF6F6
$blue2: #00B6C6
$grey: #C4C4C4
$grey2: #DADADA
$yellow: #FFC100
$text: #474747
$text2: #7F7D7D
$nav: #8199AE
// $textblock: #EAF6F6

$default-font: 'SFUIText', sans-serif