.filter
	padding: 0
	position: relative
	.row
		padding: $gutter $gutter 0 $gutter
	.form-group
		label,
		.form-control,
		.btn
			width: 100%
			max-width: 100%
			min-width: 100%
		.btn.btn-time
			width: 100% !important
			max-width: auto !important
			min-width: auto !important
		label
			font-size: 1em
			margin-bottom: 0
		.form-control,
		.btn-date,
		.btn-time
			font-size: 16px
			border: 1px solid #ced4da
		
		.uk-form-icon
			display: inline-block
			position: relative
			width: 100%
			i 
				cursor: pointer
				position: absolute
				right: 0
				bottom: 0
				margin-bottom: 10px
				margin-right: 10px
				background: #fff
				padding: 0 5px
				font-size: 1em
				color: #999
				z-index: 10
			&.cal i 
				pointer-events: none
		.uk-autocomplete
			width: 100%
		.autocomplete-items
			position: absolute
			width: 100%
			z-index: 999
			padding-right: 0
			.list-group-item
				cursor: pointer

.uk-nav.uk-nav-autocomplete.uk-autocomplete-results > li
	font-size: 16px !important
.uk-dropdown-small
	min-width: auto !important
	width: 100% !important


.company_list
	padding: $gutter 0
	font-size: 0.8em
	&_name
		text-align: center
		p
			padding: 0
			margin: 0
	&_block
		background: #fff
		border-radius: .25em
		margin-bottom: $gutter
		position: relative
		.row
			width: 100%
			margin: 0 auto
			padding: $gutter/2 $gutter/4
			border-bottom: 1px solid $border-light
		.row.company_list_block__header
		 	padding: $gutter/4
		.row:last-child
			border-bottom: none
		a:last-child
			border-radius: .25em
			border-bottom: none
		a:hover
			background: $bg-hover
		&__header
			padding: $gutter/2 0
			font-weight: bold

		// [class*="col-"]
		// 	margin: 0
		// 	box-sizing: border-box
		.col-4:first-child
			font-weight: bold
		&__desc
			font-size: 0.9em
			padding-top: $gutter/2
			font-style: italic
		&__date,
		&__time
			padding-top: $gutter/2
			align-self: flex-end
		.btn.btn-dark,
		.btn.btn-outline-secondary
			font-size: 0.8em

	
		&.control
			background: #fddde6
			.row
				border-bottom: 1px solid #ffc0cb !important
			.row.company_list_block__header
				color: $text !important
			.row:last-child
				border-bottom: none !important
			a
				color: $text !important
			a:hover
				background: #ffd1d8 !important

		.no_find
			padding: $gutter/2 0
			text-align: center
			color: #cccccc
			.far
				font-size: 2em
		&.control
			.no_find
				color: #fb8b9e
		
	.sort
		position: absolute
		left: 30px
		top: 0
		color: #aaa
		color: $text
		font-size: 1em
		outline: none
		cursor: pointer
		-ms-user-select: none
		-moz-user-select: none
		-khtml-user-select: none
		-webkit-user-select: none
		.fas
			margin-right: .3em
	.list, li
		margin: 0
		padding: 0
		list-style: none

@media screen and (max-width: 1199.98px)
	.company_list
		&_block
			.btn.btn-dark,
			.btn.btn-outline-secondary
				font-size: 0.8em
				padding-left: .7em
				padding-right: .7em

@media screen and (max-width: 991.98px)
	.company_list
		font-size: 0.7em
		&_block.control
			.btn.btn-dark
				font-size: .7em
				padding-left: .7em
				padding-right: .7em

@media screen and (max-width: 767.98px)
	.filter
		.row
			padding: $gutter 0
	.company_list
		font-size: 0.7em
		&_block.control
			.btn.btn-dark
				font-size: .8em

@media screen and (max-width: 576.98px)
	.filter .form-group .autocomplete-items
		min-width: 250px
	.company_list
		&_block
			&__date
				text-align: right
		.sort
			top: -1px
			color: $text
			border: 1px solid $border-light
			border-radius: .25em
			padding: .1em .8em
			.fas
				margin: 0
			span
				display: none
	