@import '_index/bootstrap_grid'
@import '_index/hamburger'
@import "_index/font-face"
+font-face("MuseoSans", "../fonts/MuseoSans/MuseoSansCyrl-100", 100)
+font-face("MuseoSans", "../fonts/MuseoSans/MuseoSansCyrl-300")
+font-face("MuseoSans", "../fonts/MuseoSans/MuseoSansCyrl-900", bold)


$accent: #384F79
$text: #151515
$gutter: 30px
$silver: #666

$default-font: 'MuseoSans', sans-serif

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
		margin: 0 auto !important
a, 
	&:hover, 
	&:active, 
	&:focus
		text-decoration: none
		outline: none
b, strong
	font-weight: bold
img
	max-width: 100%

h2
	font-weight: bold
	color: #444

.header
	background: #ebebeb url('../img/bg.png') center repeat
	padding: $gutter*2 0
	height: 100vh
	min-height: 700px
	.container
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		height: 100%
	.logo
		display: flex
		align-items: center
		margin-bottom: 1em
		img
			width: 50px
			height: auto
			margin-right: 0.5em
		h1
			font-size: 1em
			margin-bottom: 0
			line-height: 1.2
		strong
			display: block
			font-size: 1em
		.description
			font-size: 1em
			text-transform: uppercase
			color: darken(#ffffff, 50%)
	p
		font-weight: 100
	.header_block
		position: relative
		margin: 1em 0
		border-radius: 6px
		overflow: hidden
		min-height: 300px
		&__img
			position: relative
			padding: 0
			&:before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 100%
				background: #000
				opacity: .2
				transition: opacity .3s ease
			img
				width: 100%
				max-width: 800px
				margin: 0
		&:hover
			.header_block__img
				&:before
					opacity: 0
		a
			position: absolute
			left: 50%
			top: 50%
			transform: translateX(-50%) translateY(-50%)

.navbar
	padding: $gutter*2 0
	.navbar-nav
		display: flex
		flex-direction: row
		margin: 0 auto
		.nav-link
			color: $text
			background-color: #e4e4e4
			padding: .5em
			margin: 0 1em
			font-size: 1em
			&:hover
				color: lighten($text, 20%)

.about
	padding: $gutter*2 0
	.row
		padding-bottom: $gutter*2
	&_text
		padding: $gutter*3 $gutter
	p
		max-width: 400px
		margin: 0
		font-weight: 100
	&.demo
		background: #f5f5f5
		padding-bottom: $gutter
	ul
		margin: 1em
		li
			list-style: none
			font-weight: 100
			font-size: 1em
			margin-bottom: 0.5em

.price
	padding: $gutter*2 0
	text-align: center
	background: #f9f9f9
	h2
		margin-bottom: 1em
	h3
		font-weight: 100
		position: relative
		margin-bottom: 1em
		padding-bottom: .5em
		&:after
			content: ''
			position: absolute
			left: 50%
			bottom: 0
			transform: translateX(-50%)
			width: 50px
			height: 1px
			background: $text
	p
		margin-bottom: 0
		font-weight: 100
		strong
			font-size: 3em
			padding: $gutter 0

.footer
	padding: $gutter 0
	background: #ebebeb
	display: flex
	align-items: center
	justify-content: center
	a
		color: $text
		margin-right: 1em
		font-size: 0.9em
	.btn.btn-primary.blue
		background: $accent
		border-color: darken($accent, 10%)
		&:hover
			background: lighten($accent, 10%)


.robot
	display: flex
	align-items: center
	justify-content: flex-start
	padding: 0
	.circle-loader
		cursor: pointer
		margin: 0 10px
		border: 1px solid rgba(255, 255, 255, 0.2)
		border-color: $accent
		position: relative
		display: block
		vertical-align: top
		border-radius: 0
		width: 1.5em
		height: 1.5em
		&.load-complete
			-webkit-animation: none
			animation: none
			border-color: $accent
			transition: border 500ms ease-out
		.checkmark
			display: none
			&.draw:after
				animation-duration: 800ms
				animation-timing-function: ease
				animation-name: checkmark
				transform: scaleX(-1) rotate(135deg)
			&:after
				opacity: 1
				height: 0.75em
				width: 0.375em
				transform-origin: left top
				border-right: 3px solid $accent
				border-top: 3px solid $accent
				content: ''
				left: 0.375em
				top: 0.75em
				position: absolute
	span
		color: $text
		font-size: 0.6em
@keyframes checkmark
	0%
		height: 0
		width: 0
		opacity: 1
	20%
		height: 0
		width: 0.375em
		opacity: 1
	40%
		height: 0.75em
		width: 0.375em
		opacity: 1
	100%
		height: 0.75em
		width: 0.375em
		opacity: 1

.modal
	.modal-content
		background-color: #f5f5f5
		margin: auto
		padding: 10px
		width: 100%
		max-width: 350px
		text-align: center
		border: 0
		border-radius: 6px
		position: relative
		.modal-header
			padding: 0
			text-align: center
			border-bottom: none
			p
				font-size: 1.2em
				font-weight: bold
				text-transform: uppercase
				margin: 0 auto
				margin-bottom: .5em
			.close
				margin: 0
				padding: 0
				font-size: 1em
				background: none
				opacity: 1
			.close_modal
				position: absolute
				color: #fff
				background: $accent
				top: 0
				right: 0
				padding: .5em
				border-radius: 0 4px 0 0
				font-size: 1em
				line-height: 1
				font-weight: bold
				cursor: pointer
				z-index: 2
				&:hover
					background: darken($accent, 10%)
		.modal-body
			padding: 10px 20px 20px 20px
			.form-line
				display: flex
				margin-bottom: .5em
				input
					border: 1px solid lighten($accent, 50%)
					border-radius: 4px
					background: #ffffff
					color: #666
					line-height: 1
					font-size: 1em
					width: 100%
					padding: .5em 1em
					&:disabled
						background: lighten($accent, 50%)
						border: 1px solid lighten($accent, 50%)

.callback__form__button
	max-width: 120px
	margin-left: 0.5em
	font-size: 0.8em
	background: $accent
	color: #ffffff
	border: 1px solid darken($accent, 10%)
	transition: background .3s ease
	cursor: pointer
	&:hover
		background: darken($accent, 10%)

.not_find
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	padding-top: 100px
	h1
		font-size: 10em
		color: $silver
		font-family: 'Dosis', sans-serif
	.btn
		margin: 1em auto
		max-width: 8em
		&.btn-outline-accent
			color: $silver
			background-color: transparent
			background-image: none
			border-color: $silver
			&:hover
				background-color: $silver
				color: #ffffff

.toTop
	position: fixed
	display: none
	right: 15px
	bottom: 15px
	.far
		color: #888
		opacity: .6
		font-size: 2em
		cursor: pointer
		&:hover
			opacity: 1

@media screen and (max-width: 991.98px)
	.about
		&_text
			padding: $gutter/2
		[class*="col-"]
			align-self: center
		h2
			font-size: 1.4em
		p
			font-size: 0.9em

@media screen and (max-width: 767.98px)
	.about
		&_text
			padding: $gutter/2
		[class*="col-"]
			align-self: center
			text-align: center
		h2
			font-size: 1.4em
		p
			margin: 0 auto
			font-size: 0.9em
		ul
			margin: 1em 0
			padding: 0
	.price
		[class*="col-"]
			margin-bottom: 2em

@media screen and (max-width: 576.98px)
	.header
		height: 100%
		min-height: 100%
		text-align: center
		.logo
			margin-bottom: 0
		.header_block
			position: relative
			margin: 1em 0
			border-radius: 6px
			overflow: visible
			min-height: auto
	.navbar
		padding: $gutter 0
		.navbar-nav
			margin: 0 auto
			.nav-link
				text-align: center
				margin: 0 !important
	.about
		ul
			li
				font-size: .8em
	.footer
		flex-direction: column
		a
			display: block
			margin-right: 0
			margin-bottom: 1em
		.btn
			margin: 1em auto

@media screen and (max-width: 374.98px)
	.navbar
		.navbar-nav
			.nav-link
				font-size: 0.8em
		
body
	opacity: 1