@import '../_libs/var'

.account
    h1
        flex: 0 0 100%
        font-size: 2.5em
        font-weight: bold
        margin: 0
        margin-bottom: 1em
    .row
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-wrap: wrap
        .left
            flex: 0 0 15%
            padding: 0 15px
        .right
            padding: 0 15px
            flex: 0 0 85%
        .right.offset
            margin-left: 15%
    input
        outline: none
        font-size: 16px
        &::-webkit-input-placeholder
            color: $grey
            font-size: 0.9em
        &:-moz-placeholder
            color: $grey
            font-size: 0.9em
        &::-moz-placeholder
            color: $grey
            font-size: 0.9em
        &:-ms-input-placeholder
            color: $grey
            font-size: 0.9em
    ul
        margin: 0
        padding: 0
        li
            list-style: none
            padding: 0
            margin: 0
            margin-bottom: 1em
            a
                font-size: 1.4em
                color: $grey
                &.active
                    font-weight: bold
                    color: $accent
    
    &-data
        background: #ffffff
        padding: 2em
        margin: 0
        margin-bottom: 2em
        border-radius: 20px
        h2
            font-weight: bold
            font-size: 1.8em
            margin: 0
            margin-bottom: 1em
            padding: 0
            line-height: 1

        .form-row
            position: relative
            overflow: hidden
            padding: 0
            margin-bottom: 1em
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-direction: column                
            label
                color: $grey
                font-size: 0.9em
                font-weight: bold
                padding: 0
                margin: 0
                margin-bottom: 0.5em
                line-height: 1
                span
                    opacity: 1
                    z-index: 1
                    position: relative
                    left: auto
                    right: auto
                    bottom: auto
                    width: auto
                    padding: 0
                    background: transparent
                    border-radius: 0
                    color: $accent
                    font-size: 1em
                    text-align: center
                    white-space: nowrap
                    overflow: hidden
                    text-overflow: ellipsis
                    transition: opacity .3s ease
            input
                background: transparent
                border: 2px solid $accent
                border-radius: 4px
                width: 100%
                font-weight: bold
                padding: .8em
                transition: padding .3s ease
                &:required:focus:invalid,
                &:focus:invalid
                    padding: 0.6em .8em 1em .8em
                &:required:focus:invalid,
                &:focus:invalid
                    & + span
                        opacity: 1
                        z-index: 1
                &:focus:valid
                    & + span
                        opacity: 0
                        z-index: -1
                &:valid
                    & + span
                        opacity: 0
                        z-index: -1
            span
                opacity: 0
                z-index: -1
                position: absolute
                left: 0
                right: 0
                bottom: 0
                width: auto
                padding: .3em
                background: $accent
                border-radius: 0 0 4px 4px
                color: #ffffff
                font-size: 0.7em
                text-align: center
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                transition: opacity .3s ease
        
        &-private
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-wrap: wrap
            padding-bottom: 1.5em
            .form-row
                flex: 0 0 32%
                &:not(:first-child)
                    margin-left: 2%
                &:nth-child(4)
                    margin-left: 0
                
                    
        &-delivery
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-wrap: wrap
            padding-bottom: 1em
            .form-row
                flex: 0 0 32%
                &:not(:first-child)
                    margin-left: 2%
                &:nth-child(3),
                &:nth-child(4)
                    flex: 0 0 15%

            .adress
                display: none
                flex-wrap: wrap
                .new-adress
                    flex: 0 0 100%
                    .add
                        display: inline-block
                        font-weight: bold
                        cursor: pointer
                        user-select: none
                        margin-bottom: 1em
                        border-bottom: 1px dashed $text
                        transition: max-height 1s ease, opacity 1s ease
                        &.hidden,
                        &.invisible
                            opacity: 0
                            max-height: 0
                            overflow: hidden
                            pointer-events: none
                            border-bottom: none
                &.addAdress
                    display: flex
                &.fade
                    display: flex
                    opacity: 0
                    max-height: 0
                    overflow: hidden
                    pointer-events: none
                    transition: max-height 1s ease, opacity 1s ease
                    &.open
                        opacity: 1
                        max-height: 500px
                        overflow: visible
                        pointer-events: all

        .btn
            &.btn-accent,
            &.btn-outline-accent
                font-size: 1.2em
                font-weight: bold
                padding: 1em
                width: 32%
            &:disabled
                background: #f5f5f5
                border-color: darken(#f5f5f5, 5%)
                color: lighten($text, 30%)
                cursor: default
                &:hover
                    background: #f5f5f5
                    border-color: darken(#f5f5f5, 5%)
                    color: lighten($text, 30%)

    &-bonus
        background: #ffffff
        padding: 2em 0
        margin: 0
        border-radius: 20px
        display: flex
        align-items: flex-start
        justify-content: flex-start
        flex-wrap: wrap
        &-head
            flex: 0 0 100%
            .account-bonus-total__view
                display: none
        h3
            font-weight: bold
            font-size: 1.8em
            margin: 0
            margin-bottom: 1em
            padding: 0 1em
            line-height: 1
        &-table
            flex: 1 0 75%
            display: flex
            &__left
                flex: 0 0 55%
                table
                    tr
                        td
                            &:first-child
                                width: 50%
                                padding-left: 2em
                            &:last-child
                                width: 50%
            &__right
                flex: 0 0 45%
                table
                    tr
                        td
                            &:first-child
                                width: 65%
                            &:last-child
                                width: 35%
                
            &__left,
            &__right
                padding: 0
                margin: 0
                border: none
                table
                    padding: 0
                    margin: 0
                    border: none
                    width: 100%
                    tr
                        &.head
                            background: #EAF6F6
                            border-bottom: none
                            color: $nav
                            td
                                border-bottom: none
                        &:last-child
                            td
                                border-bottom: none
                        td
                            padding: 1em
                            font-weight: bold
                            border-bottom: 1px solid $grey
                    
        &-total
            flex: 1 0 25%
            padding: 0 2em 0 1em
            &__view
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                min-height: 150px
                background: $accent
                border-radius: 4px
                p
                    color: #ffffff
                    font-weight: bold
                    margin: 0
                    line-height: 1
                    &:first-child
                        font-size: 2.5em
                        margin-bottom: 0.5em
                    &:last-child
                        font-size: 1.2em

    &-orders
        background: #ffffff
        border-radius: 20px
        padding: 2em
        position: relative
        &:not(:last-child)
            margin-bottom: 2em

        &-head
            display: flex
            align-items: center
            justify-content: flex-start
            h3
                flex: 0 1 auto
                font-size: 1.5em
                font-weight: bold
                color: $grey
                line-height: 1
                padding: 0
                padding-bottom: 0.2em
                margin: 0
                margin-bottom: .5em
                min-height: 40px
                border-bottom: 1px solid rgba(172, 82, 191, 0.5)
                cursor: pointer
                &.active
                    color: $text
                    border-bottom: 3px solid $accent
                &:first-child
                    padding-right: 1em
                &:last-child
                    flex: 1 0 auto
                    padding-left: 1em
        &-items
            &__card
                display: flex
                align-items: flex-start
                padding: 1em 0
                border-bottom: 1px solid $grey
                margin-bottom: 1em
                &__number
                    flex: 0 0 20%
                    padding-right: 1.5em
                    .number
                        color: $text
                        font-size: 1.7em
                        font-weight: bold
                        padding: 0
                        margin: 0
                        margin-bottom: 0.2em
                        line-height: 1
                    .date
                        color: $grey
                        font-size: 0.9em
                        margin-bottom: 1.5em
                    .delivery-type,
                    .pay
                        color: #00b6c6
                        font-weight: bold
                    .delivery-adress
                        margin-bottom: 1.5em
                    .btn
                        display: block
                        user-select: none
                        &.btn-grey
                            width: 100%
                            color: $grey
                            border-color: $grey
                            cursor: default
                            text-align: center
                        &.btn-accent,
                        &.btn-outline-accent
                            width: 100%
                            padding: 1em
                            text-align: center
                        &:last-child
                            margin-top: 0.5em
                
                .cart-order
                    flex: 1 1 80%
                    
                .cart-order-item
                    &:first-child
                        padding-top: 0
                    .item-qty
                        color: $grey
                &:last-child
                    border-bottom: none
                &.no
                    width: 100%
                    padding: 2em 0
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $grey

    &-order-current
        &__head
            &__item
                display: flex
                p
                    flex: 0 0 16.666666%
                    margin: 0
                    &:nth-child(1),
                    &:nth-child(2)
                        flex: 0 0 14.666666%
                    &:nth-child(3),
                    &:nth-child(6)
                        flex: 0 0 18.666666%
                    
                &:first-child
                    p
                        background: #EAF6F6
                        padding: 1em
                        color: $nav
                        &:first-child
                            border-radius: 20px 0 0 0
                            padding-left: 2em
                        &:last-child
                            border-radius: 0 20px 0 0
                            padding-right: 2em
                &:last-child
                    p
                        background: #fff
                        padding: 2em 1em
                        color: $text
                        &:first-child
                            font-weight: bold
                            padding-left: 2em
                            border-radius: 0 0 0 20px
                        &:last-child
                            border-radius: 0 0 20px 0
                            padding-right: 2em
                            text-align: center
                .btn
                    &.btn-accent
                        &:hover
                            color: #fff
        &-cart
            background: #ffffff
            border-radius: 20px
            padding: 2em
            margin-top: 2em
            .cart-order
                &-item
                    &:first-child
                        padding-top: 0
                    &__price,
                    &__qty
                        padding: 0 2em



.no-favorite
    display: block
    text-align: center
    padding: 20px 0
    line-height: 2
    a
        font-weight: bold
        color: $accent
        &:hover
            color: $accent

@media screen and ( max-width: 1199.98px )
    .account
        .row
            .left
                flex: 0 0 17%
            .right
                flex: 0 0 83%
            .right.offset
                margin-left: 17%
        &-bonus
            &-table
                &__left
                    flex: 0 0 55%
                &__right
                    flex: 0 0 45%
                &__left,
                &__right
                    table
                        tr
                            td
                                font-size: .9em
                                padding: 1em
            &-total
                &__view
                    p
                        &:first-child
                            font-size: 2em
                        &:last-child
                            font-size: 1em
        &-orders
            &-items
                &__card
                    &__number
                        font-size: 0.8em
        &-order-current
            &__head
                font-size: 0.8em

@media screen and ( max-width: 991.98px )
    .account
        .row
            .left
                flex: 0 0 100%
            .right
                flex: 0 0 100%
            .right.offset
                margin-left: 0
        h1
            margin-bottom: 0
        ul
            margin: 2em 0
            display: flex
            li
                padding-left: 2em
                a
                    font-size: 1.6em
        &-bonus
            &-table
                &__left,
                &__right
                    table
                        tr
                            td
                                font-size: .8em
                                padding: 1em .5em
            &-total
                &__view
                    p
                        &:last-child
                            font-size: .9em
        &-orders
            &-head
                h3
                    font-size: 1.6em
                    min-height: 30px
            &-items
                &__card
                    &__number
                        flex: 1 0 25%
                        font-size: .9em
                    .cart-order-item
                        flex: 1 0 75%
        &-order-current
            &__head
                &__item
                    p
                        &:nth-child(1),
                        &:nth-child(2)
                            flex: 0 0 13.666666%
                        &:nth-child(3),
                        &:nth-child(6)
                            flex: 0 0 19.666666%
                    &:first-child
                        p
                            padding: 1em .5em
                            &:first-child
                                padding-left: 1em
                            &:last-child
                                padding-right: 1em
                    &:last-child
                        p
                            padding: 2em 1em
                            &:first-child
                                padding-left: 1em
                            &:last-child
                                padding-right: 1em

@media screen and ( max-width: 767.98px )
    .account
        h1, h2, h3, h4
            font-size: 1.8em
        ul
            li
                a
                    font-size: 1.4em
        &-data
            h2
                font-size: 1.4em
            &-private
                .form-row
                    flex: 0 0 49%
                    &:nth-child(2n+1)
                        margin-left: 0
                    &:nth-child(4)
                        margin-left: 2%
            &-delivery
                .form-row
                    flex: 0 0 49%
                    &:nth-child(2n+1)
                        margin-left: 0
                    &:nth-child(3),
                    &:nth-child(4)
                        flex: 0 0 49%
                .adress
                    .new-adress
                        padding-top: 1em
                        
            .btn
                &.btn-accent
                    width: 49%

        &-bonus
            &-head
                display: flex
                align-items: center
                h3
                    margin-bottom: 0.5em
                .account-bonus-total__view
                    display: flex

            &-table
                &__left,
                &__right
                    table
                        tr
                            td
                                font-size: .8em
            &-total
                flex: 1 0 100%
                &__view
                    display: none
                    min-height: auto
                    padding: .5em 1em
                    margin-bottom: 1em
                    p
                        margin: 0
                        padding: 0
                        line-height: 1
                        &:first-child
                            font-size: 2em
                            margin-bottom: 0
                        &:last-child
                            font-size: 1em
        
        &-orders
            &-head
                h3
                    font-size: 1.3em
                    min-height: 40px
            &-items
                &__card
                    display: flex
                    align-items: flex-start
                    flex-wrap: wrap
                    padding: 1em 0
                    border-bottom: 1px solid $grey
                    margin-bottom: 1em
                    &__number
                        font-size: 1em
                        flex: 1 0 100%
                        padding-right: 0
                        padding-bottom: 2em
                        margin-bottom: 2em
                        display: flex
                        border-bottom: 1px solid $grey
                        & > div
                            &:nth-child(1)
                                flex: 0 0 60%
                                padding-right: 1em
                            &:nth-child(2)
                                flex: 0 0 40%
                                text-align: center
                                padding-left: 0.5em
                        .btn
                            display: block
                            &.btn-accent,
                            &.btn-outline-accent
                                width: 100%
                    .cart-order-item
                        flex: 1 0 100%
                        padding: 2em 0

        &-order-current
            &__head
                font-size: 1em
                display: flex
                &__item
                    flex-direction: column
                    &:first-child
                        flex: 0 0 30%
                    &:last-child
                        flex: 0 0 70%
                    p
                        border-radius: 0
                        flex: 0 0 40px
                        &:nth-child(4)
                            flex: 0 0 20px
                        &:nth-child(5)
                            flex: 0 0 40px
                    &:first-child
                        p
                            padding: .5em 1em .5em 2em
                            &:first-child
                                padding-top: 1em
                                padding-left: 2em
                                border-radius: 20px 0 0 0
                            &:last-child
                                border-radius: 0 0 0 20px
                    &:last-child
                        p
                            padding: .5em 1em .5em 2em
                            &:first-child
                                padding-top: 1em
                                padding-left: 2em
                                border-radius: 0 20px 0 0
                            &:last-child
                                border-radius: 0 0 20px 0
                                text-align: left
            &-cart
                padding: 2em 1em
                .cart-order
                    &-item
                        &__price,
                        &__qty
                            padding: 0 .5em

@media screen and ( max-width: 576.98px )
    .account
        h1, h2, h3, h4
            font-size: 1.6em
        
        ul
            margin-bottom: 0.5em
            li
                padding-left: 0
                padding-right: 1em
                &:last-child
                    padding-right: 0 !important
                a
                    font-size: 1.1em
        &-data
            padding: 2em 1em
            h2
                font-size: 1.8em
            
            &-private
                .form-row
                    flex: 0 0 100%
                    margin-left: 0 !important
            &-delivery
                .form-row
                    flex: 0 0 100%
                    &:nth-child(1),
                    &:nth-child(2)
                        margin-left: 0
                    &:nth-child(3),
                    &:nth-child(4)
                        flex: 0 0 48%
                    &:nth-child(3)
                        padding-right: 0
                        margin-right: 2%
                    &:nth-child(4)
                        margin-left: 2%
                        padding-right: 0

        &-bonus
            padding-bottom: 0
            &-table
                flex-wrap: wrap
                &__left,
                &__right
                    flex: 0 0 100%
                    table
                        tr
                            td
                                font-size: .9em
                                padding: 1em
                                padding-left: 2em
                                padding-right: 0
                                &:first-child
                                    width: 55%
                                &:last-child
                                    width: 45%
                        
        &-orders
            padding: 2em 1em
            &-head
                h3
                    font-size: 1em
                    min-height: 30px
            &-items
                &__card
                    &__number
                        & > div
                            &:nth-child(1)
                                flex: 0 0 50%
                                padding-right: 1em
                            &:nth-child(2)
                                flex: 0 0 50%
                                text-align: center
                                padding-left: 0.5em
                        .number
                            font-size: 1.5em
                        .btn
                            &.btn-accent
                                font-size: 1.2em
                                padding: 1em 0
                            &.btn-outline-accent
                                font-size: 1.1em
                                padding: 1em 0

        &-order-current
            &__head
                &__item
                    &:first-child
                        flex: 0 0 35%
                    &:last-child
                        flex: 0 0 65%
                    p
                        flex: 0 0 20px
                        &:nth-child(3)
                            flex: 0 0 70px
                            
                    &:first-child
                        p
                            padding: .5em .5em .5em 1em
                            &:first-child
                                padding: 1em .5em .5em 1em
                            &:last-child
                                padding: 1em .5em .5em 1em
                    &:last-child
                        p
                            padding: .5em .5em .5em 1em
                            &:first-child
                                padding: 1em .5em .5em 1em
                        

 
    .account-favorite
        .row
            [class*="col-"]
                margin-bottom: .5em
                &:nth-child(odd)
                    padding-right: 0.25em
                &:nth-child(even)
                    padding-left: 0.25em
        .prev,
        .next
            display: none

@media screen and ( max-width: 449.98px )
    .account
        &-bonus
            &-table
                &__left,
                &__right
                    table
                        tr
                            td
                                &:first-child
                                    width: 50%
                                &:last-child
                                    width: 50%
    
@media screen and ( max-width: 374.98px )
    .account
        h1, h2, h3, h4
            font-size: 1.4em
        
        ul
            li
                padding-right: 0.5em
                a
                    font-size: 1em
        
        &-bonus
            &-table
                &__left,
                &__right
                    table
                        tr
                            td
                                padding-left: 1em !important
                        
        &-orders
            padding: 2em 1em
            &-head
                h3
                    font-size: .8em
                    min-height: 20px
            &-items
                &__card
                    &__number
                        font-size: 0.8em
        
        &-order-current
            &__head
                font-size: 0.9em
                &__item
                    p
                        &:nth-child(1)
                            flex: 0 0 50px