.footer
   padding: $gutter 0
   background: #ebebeb
   text-align: center
   a
      color: $text
      font-size: 0.8em
      margin-right: 1em
      .fab
         margin-right: 0.5em

@media screen and (max-width: 576.98px)
	.footer
		.social
         a
            font-size: 0.8em
         .tab
            display: block
            margin-bottom: 0.5em