.portfolio
   padding: $gutter*2 0
   background: $text
   color: #fff
   overflow-y: hidden
   [class*="col-"]
      padding-bottom: $gutter
      position: relative
      text-align: center
   h4
      font-size: 1em
      margin-bottom: .5em
      a
         color: #ffffff
   img
      max-width: 100%
   .portfolio-img
      position: relative
      display: block
      overflow: hidden
      transition: all .35s ease
      &:before
         content: ''
         position: absolute
         left: 0
         top: 0
         width: 100%
         height: 100%
         background: #000
         opacity: .7
         transition: all .85s ease
      img
         max-width: 100%
      span
         position: absolute
         left: 0
         top: 0
         padding: 0
         margin: 0
         transition: all .35s ease
         &:before
            content: ''
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            background: #000
            opacity: .4
         i
            font-style: normal
            color: #ffffff
            position: relative
            display: block
            padding: .5em 1em
            font-size: 0.8em
      &:hover
         &:before
            opacity: 0
         span
            transform-origin: 0px 0px
            left: -20%
            opacity: 0


@media screen and (max-width: 1199.98px)
	.portfolio
      h4
         white-space: nowrap
         overflow: hidden
         padding: 5px
         text-overflow: ellipsis

@media screen and (max-width: 767.98px)
   .portfolio
      .portfolio-img
         &:before
            opacity: .4