.price
	padding: $gutter*2 0
	background: #f2f2f2
	[class*="col-"]
      padding-bottom: $gutter
      position: relative
      text-align: center
	img
		width: 100%
	.right
		padding: 0 $gutter
		justify-content: center
	&__block
		padding: $gutter/2 $gutter
		background: #ffffff
		border-radius: $gutter/5
		margin-bottom: 1em
		p
			margin: $gutter/2 0 
			padding: 0 0 $gutter/2 0
			border-bottom: 1px solid #f2f2f2
			font-size: 1em
			b
				font-size: 1.3em
				margin-left: .5em
				color: $accent
			&:last-child
				border-bottom: none
