@import "vars"
@import "fonts"

@import "_external/font-awesome"
@import "_external/bootstrap_grid"
@import "_external/hamburger"
@import "_external/animate"
@import "nav"
@import "header"
@import "steps"
@import "price"
@import "portfolio"
@import "work"
@import "footer"

::placeholder
	color: #666

::selection
	background-color: $text
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
a, a:hover
	text-decoration: none
	color: #007bff
b, strong
	font-weight: bold

	
.introHolder
	text-align: center
	h2
		font-size: 2.4em
		margin: $gutter auto
		padding: 0
		font-weight: 800
		font-family: 'Open Sans', sans-serif
		position: relative
	h2.liner
		padding-bottom: $gutter
		&::after
			content: ''
			position: absolute
			left: 50%
			bottom: 2px
			transform: translateX(-50%)
			width: 100px
			height: 1px
			background: $accent
			display: block

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;;

$menuItems: 7;
.btn
	&.btn-accent
		background: $accent
		color: #fff
		&:hover
			background: #da3d7f
		&:disabled
			background: #d0d0d0
blockquote
	font-style: italic
	color: #9095a1
	margin: 20px auto 20px auto
	border-left: 5px solid #e3eaf0
	padding: 10px 0 10px 30px
	line-height: 1.4em
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	position: relative
	max-width: 70%
	&:before
		content: "\f10d"
		position: absolute
		left: -45px
		top: 10px
		font-family: "Font Awesome 5 Free"
		font-weight: 600
		color: #e3eaf0
		font-size: 25px
	p
		font-style: italic
		font-size: 1em
		margin: 0

.policy__checked
	display: flex
	align-items: center
	justify-content: flex-start
	margin: 0 0 0 2em
	.radio
		padding: 0
		margin: 0
		input[type=checkbox]
			display: none
		label
			color: $silver
			margin-bottom: 0
			display: inline-block
			cursor: pointer
			position: relative
			padding: 0 !important
			font-size: .8em !important
			line-height: 1 !important
			-ms-user-select: none
			-moz-user-select: none
			-khtml-user-select: none
			-webkit-user-select: none
			&:before
				content: "\f0c8"
				font-family: 'Font Awesome 5 Free'
				position: absolute
				left: -1.5em
				top: 50%
				transform: translateY(-50%)
				color: $silver
				font-weight: normal
		input[type=checkbox]:checked + label:before
			content: '\f14a'
			font-family: 'Font Awesome 5 Free'
			color: $silver
			font-weight: normal
		a
			font-size: .8em !important
			color: $silver
			text-decoration: underline

.robot
	display: flex
	align-items: center
	justify-content: flex-start
	padding: 0
	.circle-loader
		cursor: pointer
		margin: 0 10px
		border: 1px solid rgba(255, 255, 255, 0.2)
		border-color: $accent
		position: relative
		display: block
		vertical-align: top
		border-radius: 0
		width: 1.5em
		height: 1.5em
		&.load-complete
			-webkit-animation: none
			animation: none
			border-color: $accent
			transition: border 500ms ease-out
		.checkmark
			display: none
			&.draw:after
				animation-duration: 800ms
				animation-timing-function: ease
				animation-name: checkmark
				transform: scaleX(-1) rotate(135deg)
			&:after
				opacity: 1
				height: 0.75em
				width: 0.375em
				transform-origin: left top
				border-right: 3px solid $accent
				border-top: 3px solid $accent
				content: ''
				left: 0.375em
				top: 0.75em
				position: absolute
	span
		color: $text
		font-size: 0.8em
@keyframes checkmark
	0%
		height: 0
		width: 0
		opacity: 1
	20%
		height: 0
		width: 0.375em
		opacity: 1
	40%
		height: 0.75em
		width: 0.375em
		opacity: 1
	100%
		height: 0.75em
		width: 0.375em
		opacity: 1
.modal
    .modal-content
        background: #ecf1f5
    .modal-header
        border: none
        h5
            font-weight: bold

.not_find
	display: flex
	flex-direction: column
	justify-content: center
	text-align: center
	padding-top: 100px
	h1
		font-size: 10em
		color: $silver
		font-family: 'Dosis', sans-serif
	.btn
		margin: 1em auto
		max-width: 8em
		&.btn-outline-accent
			color: $silver
			background-color: transparent
			background-image: none
			border-color: $silver
			&:hover
				background-color: $silver
				color: #ffffff

.toTop
	position: fixed
	display: none
	right: 15px
	bottom: 15px
	.far
		color: #888
		opacity: .6
		font-size: 2em
		cursor: pointer
		&:hover
			opacity: 1

body
	opacity: 1

@media screen and (max-width: 576.98px)
	h2
		font-size: 1.8em
	.introHolder
		h2
			font-size: 1.8em