.instrument
    overflow: hidden
    h3
        font-size: 2.2em
        text-align: center
        margin-bottom: 2em
    .flex-row
        display: flex
        .col-x-3
            flex: 1 1 auto
            width: 33%
            display: flex
            flex-wrap: wrap
            .col-grey
                margin-right: 1%
                margin-bottom: 1%
                position: relative

            .x-12
                width: 100%
                overflow: hidden
            .x-6
                flex: 1 1 auto
                max-width: 49%
                overflow: hidden
        
        img
            max-width: 100%
            transition: transform 1s ease
        a
            color: $text
            font-size: 0.9em
            display: block
    
    .first
        transition: transform .5s ease
        z-index: 1
        background: #EAEAEA
        padding: 23px 16px
        height: 100%
    .second
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #EAEAEA
        padding: 23px 16px
        display: flex
        flex-direction: column
        justify-content: center
        transform: rotateY(-180deg)
        z-index: -1
        transition: transform .5s ease
        &.fz12
            font-size: 12px
    
    .col-grey
        &:hover
            .first
                z-index: -1
                transform: rotateY(-180deg)
            .second
                transform: rotateY(0)
                z-index: 1


@media screen and (max-width: 991.98px)
    .instrument
        .flex-row
            flex-wrap: wrap
            .col-x-3
                width: 100%
                justify-content: center
                text-align: center

@media screen and (max-width: 767.98px)
    .instrument
        .flex-row
            flex-wrap: wrap
            .col-x-3
                .x-6
                    max-width: 100%
