@import '_libs/bootstrap_grid'
@import '_libs/fonts'
@import '_libs/hamburger'

$accent: #0F5939
$text: #2C2C2C
$gutter: 30px

$default-font: 'Roboto', sans-serif

html
	height: 100%
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	max-width: 1920px
	height: 100%
	margin: 0 auto
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
a, 
	&:hover, 
	&:active, 
	&:focus
		text-decoration: none
		outline: none
b, strong
	font-weight: bold
img
	max-width: 100%

.btn
	border-radius: 0
	&.btn-outline
		background: transparent
		border: 1px solid $text
		color: $text
		&:hover
			border: 1px solid $text
			color: $text
			background: #D8D8D8
		&:disabled
			border: 1px solid #626262
			color: #626262
			background: transparent
			&:hover
				background: transparent
			
h1, h2, h3, h4
	font-family: 'Lazurski'

ul.menu_secondary
	max-width: 260px
	margin: 0
	padding: 0
	li
		list-style: none
		margin-bottom: 1em
		position: relative
		a
			display: inline-block
			color: $text
			transition: padding .5s ease
			&:hover
				padding-left: 0.5em

		&.active
			padding-left: 65px
			&::before
				content: ''
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				width: 55px
				height: 1px
				background: $text
			a
				&:hover
					padding-left: 0

@import 'menu'
@import 'slider'
@import 'catalog'
@import 'stone'
@import 'instrument'
@import 'about'
@import 'news'
@import 'callback_form'

@media screen and (max-width: 767.98px)
	ul.menu_secondary
		margin: 0 auto

body
	opacity: 1