.sale
    .row
        align-items: center
    [class*="col-"]
        margin-bottom: 4em
    .img_wrap
        display: block
        overflow: hidden
        img
            max-width: 100%
            transition: transform 1s ease
        &:hover
            img
                transform: scale(1.1)
    p
        span
            font-size: 75px
            font-weight: normal
    
    .gallary
        margin-top: 3em
        .img_wrap
            margin-bottom: .5em
            img
                width: 100%

@media (max-width: 1199.98px)
    .sale
        p
            span
                font-size: 60px

@media (max-width: 576.98px)
    .sale
        [class*="col-"]
            margin-bottom: 1em
        p
            font-size: 0.9em
            span
                font-size: 40px

