AddDefaultCharset UTF-8
AddType application/x-httpd-php .php .htm .html .phtml
ErrorDocument 404 /404.php
AddDefaultCharset UTF-8
AddType application/x-httpd-php .php .htm .html .phtml
ErrorDocument 404 /404.php