body {
	margin:0;
	padding:0;
	box-sizing: border-box;
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size:16px;
	opacity:1;
	line-height: 1.75;
}
p {
	padding: 0;
	margin:0;
}

section, header {
	position:relative;
	background-size: cover;
	background-position: center;
}
section {
	background-color: #fff;
}
	
	.site-header {
		position: relative;
		background-color:#1e1f24;
		min-height: 300px;
		height:100vh;
		background-image:url('../img/top_bg.jpg');
		background-position: top center;
		background-size: cover;
	}
	/* TOP-LINE */
		.top-line {

		}

		.top-line .logo {
			position:absolute;
		}
		.top-line .logo a img {
			width: 14rem;
			height:auto;
			margin-left:40px;
		}
		.top-line .phone {
			position: absolute;
			top:0;
			right:0;
			margin-right: 85px;
			padding-top: 20px;
			text-align:right;
			font-size: 20px;
			white-space: nowrap;
		}
		.top-line .phone .fa {
			color: #666;
			font-size: 16px;
			margin-right: 5px;
		}
		/* END TOP-LINE */	

		/* MENU */
		.menu_right {
			position: absolute;
			z-index:4;
			top:0;
			right:0;
			padding-top:30px;
		}
			.hamburger {
				padding:0;
			}
			.hamburger-box {
				width:45px;
			}
			.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
				width:30px;
				height:1px;
			}
			
	
	/* HEADER-FLEX */
		.header-flex {
			display:flex;
			height:100%;
			position:relative;
			top:0;
			left:0;
			padding:0;
			margin:0;
		}
		.flex-center {
			margin:auto;
		}

		.header-composition {
			align-items: center;
			position: relative;
			text-align:center;
		}
		.header-composition p {
			margin-top:30px;
		}
			.welcome p {
				font-size:14px;
				text-transform: uppercase;
				display:flex;
				align-items: center;
				white-space: nowrap;
			}
			.welcome p::before, .welcome p::after {
				content: '';
				height:1px;
				width:100%;
				position:relative;
				background-color:#fff;
			}
			.welcome p span {
				margin:0 10px;
			}
			.welcome .h1 {
				text-transform: uppercase;
				font-weight:100;
				font-size: 4rem;
				margin:0;
				padding:0;
				white-space: nowrap;
			}
			.welcome .h1::after {
				display:block;
				content: '';
				width:100%;
				height:1px;
				background:#d7d7d7;
				position:relative;
				margin-top:10px;
			}
			.welcome strong {
				font-weight: 300;
				display: inline-block;
				text-transform: uppercase;
				margin-top:15px;
				font-size:17px;

			}
			.welcome strong .fa {
				margin-right:10px;
				font-size:12px;
				color:#555;

			}
			.welcome strong .fa:last-child {
				margin-right:0px;
				margin-left:10px;
			}
		/* END HEADER-FLEX */

		/* HEADER-SOCIAL */
		.header-social {
			position: absolute;
			display:flex;
			top:0;
			right:0;
			justify-content: center;
			height:100%;
			border-left:rgba(255, 255, 255, .1) 1px solid;
			padding:0 12px;
		}
		.social {
			margin:auto;
		}
		.social ul, .social ul li {
			margin:0;
			padding: 0;
			list-style-type: none;
		}
		.social ul li a {
			color:#2c2c2c;
			font-style: 17px;
			display: block;
			background-color: rgba(255, 255, 255, .2);
			width: 38px;
			height: 38px;
			text-align: center;
			margin:18px 0;
			line-height: 38px;
			border-radius: 10em;
			transition: background-color .25s ease;
		}
		.social ul li a:hover {
			background-color: rgba(255, 255, 255, .4);
		}

		.header-contact {
			width:100%;
			position: absolute;
			bottom:0;
			left:0;
			padding:12px 0;
			border-top:rgba(255, 255, 255, .15) 1px solid;
			background-color: rgba(21, 21, 21, .5);
		}
		.header-contact .phone  {
			text-align: center;
		}
		.header-contact .time  {
			text-align: right;
		}
		.header-contact .fas, .header-contact .far {
			margin-right:5px;
			color:#555;
			font-size: 12px;
		}

		.mm-panel_has-navbar .mm-navbar {
			padding-top:0;
			border:none;
		}
		.mm-navbar__title img {
			width:14rem;
		}
		.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
			padding-top:60px;
		}
		.mm-listitem {
			border-color:transparent;
			padding-left:40px;
			margin-left:30px;
			transition: color .1s ease;
		}
		.mm-listitem:hover, .mm-listitem.active, .mm-listitem_selected {
			color:#fb3;
		}
		.mm-listitem::before {
			content: "\f3a5";
			font-family: "Font Awesome 5 Free";
    		font-size: 14px;
    		display:flex;	
    		align-items:center;
    		transition: color .1s ease;
		}
		.mm-listitem_selected>.mm-listitem__text {
			background:transparent;
		}