body {
	margin:0;
	padding:0;
	box-sizing: border-box;
	color:#fff;
	font-family: 'Exo 2', sans-serif;
	font-weight: 100;
	font-size:16px;
}
p {
	padding: 0;
	margin:0;
	
}
	.page {
		position: relative;
		
		background:#142332 url('https://erotica.wallbox.ru/resize/1920x1200/wallpapers/main2/201718/devuska-cvetok-temnyj-fon.jpg');
		background-size: cover;
		background-position: top center;
		min-height: 500px;
		height:100vh;
	}

			.header-flex {
				display:flex;
				height:100%;
				position:relative;
				top:0;
			}
			.flex-center {
				margin:auto;
			}

			.header-composition {
				align-items: center;
				position: relative;
				text-align:center;
			}
			.header-composition p {
				margin-top:40px;
			}

				.welcome p {
					font-size:14px;
					text-transform: uppercase;
					display:flex;
					align-items: center;
					white-space: nowrap;
				}
				
				
				.welcome p::before, .welcome p::after {
					content: '';
					height:1px;
					width:100%;
					position:relative;
					background-color:#fff;
				}
				.welcome p span {
					margin:0 10px;
				}
				.welcome .h1 {
					text-transform: uppercase;
					font-weight:100;
					font-size: 4.2rem;
					margin:10px 0;
					padding:0;
				}
				.welcome .h1::after {
					display:block;
					content: '';
					width:100%;
					height:1px;
					background:#d7d7d7;
					position:relative;
					margin-top:10px;
				}
				.welcome strong {
					font-weight: 300;
					display: inline-block;
					text-transform: uppercase;
					margin-top:15px;
					font-size:17px;

				}
				.welcome strong .fa {
					margin-right:10px;
					font-size:12px;
					color:#555;

				}
				.welcome strong .fa:last-child {
					margin-right:0px;
					margin-left:10px;
				}

			.header-social {
				position: absolute;
				display:flex;
				top:0;
				right:0;
				justify-content: center;
				height:100%;
				border-left:rgba(255, 255, 255, .1) 1px solid;
				padding:0 12px;
			}
			.social {
				margin:auto;
			}
			.social ul, .social ul li {
				margin:0;
				padding: 0;
				list-style-type: none;
			}
			.social ul li a {
				color:#2c2c2c;
				font-style: 17px;
				display: block;
				background-color: rgba(255, 255, 255, .2);
				width: 38px;
				height: 38px;
				text-align: center;
				margin:18px 0;
				line-height: 38px;
				border-radius: 10em;
				transition: background-color .25s ease;
			}
			.social ul li a:hover {
				background-color: rgba(255, 255, 255, .4);
			}

			.header-contact {
				width:100%;
				position:absolute;
				bottom:0;
				left:0;
				border-top:rgba(255, 255, 255, .15) 1px solid;
				padding:12px 0;
				background-color: rgba(21, 21, 21, .5);
			}
			.header-contact .phone  {
				text-align: center;
			}
			.header-contact .time  {
				text-align: right;
			}
			.header-contact .fas, .header-contact .far {
				margin-right:5px;
				color:#555;
				font-size: 12px;
			}