.products

    .caption
        margin: 0 auto
        text-align: center
        margin-bottom: 2em
        h1
            text-align: center
    
    &.has-filter
        .caption
            text-align: left
            margin-left: 190px
        h1
            margin-bottom: 0
            text-align: left

    .open__filter
        position: relative
        display: none
        width: 100%
        border: 1px solid $text
        background: transparent
        color: $text
        padding: .5em 1em
        text-align: center
        margin-bottom: 1em
        img
            width: 1em
            margin-right: 0.5em

    &__filter
        padding-top: 2em
        .form-group
            margin-bottom: .8em
            p
                font-size: 0.9em
            select,
            input
                width: 100%
                border: none
                border-bottom: 1px solid $text
                background: transparent
                border-radius: 0
                padding: .5em .3em
            select
                appearance: none
            
            &.color
                display: flex
                align-items: center
                justify-content: flex-start
                flex-wrap: wrap
                margin-top: 1.5em
                margin-bottom: 1.5em
                .color__item
                    flex: 0 1 30px
                    margin-left: calc( (100% - 30px*4)/3 )
                    margin-bottom: 2%
                    &:nth-child(1),
                    &:nth-child(5),
                    &:nth-child(9)
                        margin-left: 0
                    input[type="radio"]
                        display: none
                    label
                        display: block
                        width: 30px
                        height: 30px
                        cursor: pointer
                        user-select: none
                        border: 1px solid #fff
                        transition: border .5s ease
                        &.white
                            background: #ffffff
                            border: 1px solid #ccc
                        &.pink
                            background: #FB55A4
                        &.red
                            background: #FF0000
                        &.yellow
                            background: #EFF174
                        &.green
                            background: $accent
                        &.black
                            background: #000000
                        &.blue
                            background: #31F3FF
                        &.grey
                            background: #C4C4C4
                        &.brown
                            background: #AD8C64
                        &.beige
                            background: #FFE8BC
                        &.rgb
                            background: linear-gradient(180deg, #C4C4C4 0%, #D8B63D 21.35%, #9AD450 41.15%, #77BCAF 56.77%, #3E33B5 75%, #F70000 100%)
                    input[type="radio"]:checked + label
                        border: 1px solid $text
            
            input[type="checkbox"]
                display: none
            .checkbox
                padding-left: 1.2em
                position: relative
                user-select: none
                cursor: pointer
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: 12px
                    height: 12px
                    border: 1px solid $text
                    transition: background .5s ease
            input[type="checkbox"]:checked + label
                &:before
                    background: $text
            
            input[type="reset"]
                border-bottom: none
                cursor: pointer
            
        .btn
            &.btn-outline
                display: block
                width: 100%

    &__list
        &__sort
            display: flex
            align-items: center
            justify-content: space-between
            &--block
                position: relative
                overflow: hidden
                &-item
                    opacity: 0
                    z-index: -1
                    background: #ffffff
                    border: 1px solid $text
                    padding: 10px
                    margin: 0
                    text-align: left
                    position: absolute
                    left: 0
                    bottom: 0
                    width: 100%
                    transform: translateY(110%)
                    transition: transform .3s ease
                &:hover
                    overflow: visible
                    .products__list__sort--block-item
                        z-index: 1
                        opacity: 1
                        transform: translateY(100%)
                        a
                            display: inline-block
                            color: $text
                            border-bottom: 1px solid $text
                            padding-bottom: 0.3em
                            margin-bottom: 0.3em
                            &:last-child
                                border-bottom: 0
                                padding-bottom: 0


        [class*="col-"]
            margin-bottom: 2em
        a
            color: $text
            display: block
            .img_wrap
                display: block
                min-height: 150px
                overflow: hidden
                margin-bottom: .5em
                img
                    max-width: 100%
                    transition: transform 1s ease
            &:hover
                .img_wrap
                    img
                        transform: scale(1.1)
    
    .online-caption
        display: flex
        align-items: center
        justify-content: space-between
        margin: 1em auto
        color: $text

    .pagination
        a
            color: $text2
            margin-right: 1em
            &.active
                font-weight: bold
                color: $text


@media screen and (max-width: 1199.98px)
    .products
        &.has-filter
            .caption
                margin-left: 235px

@media screen and (max-width: 767.98px)
    .products
        &.has-filter
            .caption
                margin-left: 0

@media screen and (max-width: 576.98px)
    .products
        .open__filter
            display: block
        &__filter
            position: relative
            padding-top: 0
            margin-bottom: 2em
            overflow: hidden
            opacity: 0
            max-height: 0
            z-index: -1
            transition: max-height .5s ease, opacity .5s ease
            &.active
                overflow: visible
                max-height: 700px
                opacity: 1
                z-index: 1
            .form-group
                &.color
                    &.color
                        margin-top: 1.5em
                        margin-bottom: 1.5em
                        .color__item
                            flex: 0 1 auto
                            margin-left: 2%
                            margin-bottom: 2%
                            &:nth-child(1),
                            &:nth-child(5),
                            &:nth-child(9)
                                margin-left: 2%
                            input[type="radio"]
                                display: none
                            label
                                display: block
                                width: 40px
                                height: 40px
        &__list
            text-align: center
            a
                .img_wrap
                    img
                        width: 100%



@media screen and (min-height: 499.98px)
    .products
        &__filter
            position: sticky
            top: 0