.brands__list
   padding: $gutter 0
   &__row
      margin-top: 2em
      display: flex
      align-items: center
      flex-wrap: wrap
      width: 100%
      &__col
         padding: $gutter/2
         background: #fff
         border-radius: 4px
         border: 1px solid #eee
         margin: .5em 1%
         margin-left: 0
         width: 11.5%
         transition: box-shadow .3s ease
         min-height: 110px
         a
            display: flex
            flex-direction: column
            align-items: center
            .brand__img
               margin-bottom: 1em
               border-bottom: 1px solid #eeeeee
               min-height: 60px
               display: flex
               align-items: center
            span
               color: #888888
               font-size: 0.8em
               text-align: center
         &:hover
            box-shadow: 0px 5px 10px rgba(0,0,0,.1)
   
   .hide_description
      height: auto
      overflow: hidden
      position: relative
      background: #ffffff
      height: 200px
      transition: height .3s ease
      &:after
         content: ''
         width: 100%
         left: 0
         position: absolute
         height: 50px
         bottom: 0
         background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
         filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )
      &.opener
         transition: height .3s ease
         height: auto
         &:after
            opacity: 0

   .show_description
      text-align: center
      position: relative
      display: block
      width: 30px
      height: 30px
      margin: 0 auto
      &:before
         content: ''
         display: block
         position: absolute
         left: 50%
         top: 10px
         transform: translateX(-50%) scale(1)
         background: #fff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiI+PGc+PGc+CiAgICA8cGF0aCBkPSJtMTIxLjMsMzQuNmMtMS42LTEuNi00LjItMS42LTUuOCwwbC01MSw1MS4xLTUxLjEtNTEuMWMtMS42LTEuNi00LjItMS42LTUuOCwwLTEuNiwxLjYtMS42LDQuMiAwLDUuOGw1My45LDUzLjljMC44LDAuOCAxLjgsMS4yIDIuOSwxLjIgMSwwIDIuMS0wLjQgMi45LTEuMmw1My45LTUzLjljMS43LTEuNiAxLjctNC4yIDAuMS01Ljh6IiBkYXRhLW9yaWdpbmFsPSIjMDAwMDAwIiBjbGFzcz0iYWN0aXZlLXBhdGgiIGRhdGEtb2xkX2NvbG9yPSIjMDAwMDAwIiBzdHlsZT0iZmlsbDojMkIzMjM4Ij48L3BhdGg+CiAgPC9nPjwvZz4gPC9zdmc+') center no-repeat
         width: 30px
         height: 30px
         background-size: 30px
         cursor: pointer
         transition: all .3s ease
      &:hover
         &:before
            transform: translateX(-50%) scale(1.1)
      &.active
         &:before
            transform: translateX(-50%) scale(1) rotate(180deg)
         &:hover
            &:before
               transform: translateX(-50%) scale(1.1) rotate(180deg)

@media screen and (max-width: 991.98px)
   .brands__list
      padding: $gutter 0
      &__row
         &__col
            width: 15.66%

@media screen and (max-width: 767.98px)
   .brands__list
      padding: $gutter 0
      &__row
         &__col
            width: 24%

@media screen and (max-width: 576.98px)
   .brands__list
      padding: $gutter 0
      &__row
         &__col
            width: 32.3%

@media screen and (max-width: 374.98px)
   .brands__list
      padding: $gutter 0
      &__row
         &__col
            width: 48%
            margin-right: 2%