.features
   padding: $gutter
   .row
      padding-top: 2em
   [class*="col-"]
      margin-bottom: 2em
      &:last-child
         margin-bottom: 0
   &__card
      position: relative
      text-align: center
      img
         display: block
         margin: 0 auto
         margin-bottom: 2em
         width: 4em
         transition: transform .3s ease
      p
         font-weight: bold
         font-size: 1.1em
         position: relative
      &:hover
         img
            transform: rotate(5deg)

@media screen and (max-width: 991.98px)
   .features
      padding: $gutter 0
      &__card
         img
            width: 3em
         p
            font-size: 1em

@media screen and (max-width: 767.98px)
   .features
      &__card
         img
            width: 3em
         p
            font-size: 1em

@media screen and (max-width: 576.98px)
   .features
      [class*="col-"]
         text-align: center
      &__card
         img
            width: 4em
            margin: 0 auto 1em auto
         p
            font-size: 1.3em
            &:before
               display: none