.oplata
   padding: $gutter*2 $gutter
   .row
      padding-top: 2em
   [class*="col-"]
      margin-bottom: 2em
      text-align: center
      img
         width: 6em
         margin-bottom: 1em
         transition: transform .3s ease
      p
         b
            font-size: 1.4em
      &:hover
         img
            transform: rotate(5deg)

@media screen and (max-width: 767.98px)
   .oplata
      padding: $gutter
      [class*="col-"]
         img
            width: 4em