.seria_about
   padding: $gutter
   [class*="col-"]
      overflow: hidden
   &__img
      display: flex
      align-items: center
      justify-content: center
      border: 1px solid #eeeeee
      border-radius: 4px
      margin-bottom: 1em
      padding: 1em
      position: relative
      height: auto
      min-height: 350px
      overflow: hidden
      &:after
         content: '.'
      img
         position: absolute
         left: 50%
         transform: translateX(-50%)
         top: 0
         width: 90%
         height: auto
         margin: 0 auto
   iframe
      max-width: 100%
      margin: 0 auto
      text-align: center