.nav
   margin-bottom: 2em
   transition: max-height .5s ease
   .hamburger
      display: block
      cursor: pointer
      width: 30px
      height: 25px
      position: relative
      transform: rotate(0deg)
      transition: .5s ease-in-out
      margin-right: 1em
      &::after
         content: ''
         position: absolute
         left: 0
         top: 0
         width: 100%
         height: 100%
         z-index: 2
      span
         display: block
         position: absolute
         height: 2px
         width: 100%
         background: #fff
         border-radius: 4px
         opacity: 1
         left: 0
         transform: rotate(0deg)
         transition: .25s ease-in-out
         &:nth-child(1)
            top: 0px
         &:nth-child(2)
            top: 10px
         &:nth-child(3)
            top: 20px
            width: 25px
      &.open
         span:nth-child(1)
            top: 10px
            transform: rotate(45deg)
         span:nth-child(2)
            opacity: 0
            left: -60px
         span:nth-child(3)
            top: 10px
            width: 30px
            transform: rotate(135deg)

   &-top
      width: 100%
      background-color: $blue
      position: relative
      z-index: 101
      .container
         display: flex
         align-items: center
         justify-content: space-between
         position: relative
         z-index: 3
         color: $nav

      .hamburger
         display: none
         span
            background: $nav
      a
         color: $nav
         padding-top: 1em
         padding-bottom: 1em
      &__city
         display: flex
         align-items: center
         justify-content: flex-start
         &__location
            position: relative
            padding-left: 2.2em
            font-weight: bold
            &::before
               content: ''
               position: absolute
               left: 0
               top: 50%
               transform: translateY(-50%)
               width: 100%
               height: 100%
               background-size: 1.5em
               background-position: left
               background-repeat: no-repeat
               background-image: url('../img/nav/location.svg')
               transition: transform .3s ease
            &:hover
               &::before
                  transform: translateY(-50%) translateX(5px)
            &__item
               margin-left: 0.5em
               a
                  padding: 0.1em 0 !important
                  border-bottom: 1px dashed $nav
                  font-weight: 200
      
      &__right
         display: flex
         align-items: center
         justify-content: space-between
         a
            position: relative
            padding-left: 2.2em
            &::before
               content: ''
               position: absolute
               left: 0
               top: 50%
               transform: translateY(-50%)
               width: 100%
               height: 100%
               background-size: 1.5em
               background-position: left
               background-repeat: no-repeat
               transition: transform .3s ease
            &:hover
               &::before
                  transform: translateY(-50%) translateX(5px)
         &__phone
            font-size: 1.1em
            font-weight: bold
            &::before
               background-image: url('../img/nav/phone.svg')
         &__time
            font-size: 0.9em
            margin-left: 1em
         &__user
            margin-left: 2em
            &::before
               background-image: url('../img/nav/user.svg')
         &__login
            margin-left: 2.6em
            &::before
               background-image: url('../img/nav/login.svg')

   &-search
      width: 100%
      padding: 30px 0
      .container
         display: flex
         align-items: center
         justify-content: space-between
      .brand
         width: 271px
         height: auto
         img
            width: 100%
      &__form
         display: flex
         justify-content: flex-start
         border: 2px solid $yellow
         border-radius: 6px
         margin-left: 2em
         flex: 1 1 auto
         &__category
            flex: 1 1 30%
            background: $blue
            border-radius: 6px 0 0 6px
            line-height: 1
            position: relative
            overflow: hidden
            cursor: pointer
            display: flex
            align-items: center
            justify-content: flex-start
            padding: 0
            &::before
               content: ''
               position: absolute
               right: 1em
               top: 45%
               transform: translateX(-50%)
               display: inline-block
               width: 11px
               height: 6px
               background-size: 11px
               background-repeat: no-repeat
               background-position: center
               background-image: url('../img/nav/arrow.svg')
               transition: transform .3s ease
            span
               padding-left: 2.2em
            ul
               position: absolute
               left: 0
               bottom: -1px
               width: 100%
               transform: translateY(110%)
               background: $blue
               border-radius: 4px
               margin: 0
               padding: 0
               padding: 1em 0 1.5em 0
               z-index: -1
               height: 0
               transition: transform .6s ease
               li
                  list-style: none
                  margin: 0
                  font-weight: 200
                  color: $text
                  font-size: 0.9em
                  padding: .5em .5em .5em 2.2em
            &:hover
               overflow: visible
               &::before
                  transform: translateX(-50%) rotate(180deg)
               ul
                  height: auto
                  z-index: 3
                  transform: translateY(100%)


         input
            flex: 1 1 70%
            background: transparent
            color: $text
            padding: 15px 20px
            border: none
            appearance: none
            outline: none
            box-shadow: none
            &::-webkit-input-placeholder
               color: #9BAFC0
            &:-moz-placeholder
               color: #9BAFC0
            &::-moz-placeholder
               color: #9BAFC0
            &:-ms-input-placeholder
               color: #9BAFC0


      &--right
         display: flex
         align-items: center
         &__wishlist
            margin-left: 1.5em
            position: relative
            width: auto
            min-width: 3em
            height: 3em
            display: inline-block
            background-size: 2.5em
            background-position: left center
            background-repeat: no-repeat
            background-image: url('../img/nav/wishlist.svg')
            transition: background-position .3s ease
            &.active
               background-image: url('../img/nav/wishlist-active.svg')
            span
               position: absolute
               top: -5px
               right: -10px
               background: #ffffff
               border-radius: 50%
               display: inline-block
               width: 23px
               height: 23px
               font-weight: bold
               display: flex
               align-items: center
               justify-content: center
               font-size: 12px
               color: #ff5f5a
               box-shadow: 0px 4px 13px rgba(25, 36, 45, 0.24)
            &:hover
               background-position: 5px center

         &__cart
            margin-left: 1.5em
            position: relative
            width: auto
            min-width: 3em
            height: 3em
            background-size: 2.5em
            background-position: left center
            background-repeat: no-repeat
            background-image: url('../img/nav/cart.svg')
            display: flex
            align-items: center
            justify-content: flex-end
            font-weight: bold
            color: $text
            transition: background-position .3s ease
            .qty
               position: absolute
               top: -5px
               left: 25px
               background: #ffffff
               border-radius: 50%
               display: inline-block
               width: 23px
               height: 23px
               font-weight: bold
               display: flex
               align-items: center
               justify-content: center
               font-size: 12px
               color: $accent
               box-shadow: 0px 4px 13px rgba(25, 36, 45, 0.24)
            .price
               padding-left: 3.5em
               font-size: 1.15em
            &:hover
               background-position: 5px center


                  
            &:hover
               color: $text

   .mobile
      display: none
        
   &-catalog
      width: 100%
      position: relative
      z-index: 2
      display: block
      overflow: visible
      
      &__menu
         background-color: $accent
         padding: 0 calc(50% - 580px)
      
         ul
            display: flex
            align-items: center
            justify-content: center
            margin: 0
            padding: 0
            li
               margin: 0 
               padding-left: 25px
               padding-right: 10px
               list-style: none
               position: relative
               &::before
                  content: ''
                  position: absolute
                  left: 0
                  top: 50%
                  transform: translateY(-50%)
                  background-color: $yellow
                  display: inline-block
                  width: 6px
                  height: 6px
                  border-radius: 50%
               &:first-child
                  padding-left: 0
                  a
                     padding-left: 0
                  &::before
                     display: none
               &:last-child
                  padding-right: 0
               a
                  padding-top: 1.5em
                  padding-bottom: 1.5em
                  display: flex
                  align-items: center
                  justify-content: center
                  flex-direction: column
                  color: #ffffff
                  font-size: 13px
                  line-height: 1.3
                  position: relative
                  transition: opacity .1s ease
               .sale,
               .interest
                  padding-top: 1.3em
                  padding-bottom: 1.3em
                  justify-content: center
                  align-self: center
                  text-align: center
                  img
                     margin-bottom: .2em
               &.active
                  a
                     opacity: 1 !important

      &.in
         .nav-catalog__menu
            ul
               li
                  a
                     opacity: .5
      
      &__submenu
         &__item
            display: none
            background: #ffffff
            position: absolute
            left: 0
            top: 250px
            width: 100%
            padding: 0 calc(50% - 580px)
            display: flex
            align-items: flex-start
            justify-content: flex-start
            flex-wrap: wrap
            overflow: hidden
            max-height: 0
            opacity: 0
            z-index: -2
            ul
               flex: 1 0 16.6666666%
               min-width: 16.666666%
               max-width: 16.666666%
               padding: 1em 0
               padding-right: 1em
               li
                  list-style: none
                  padding: 0
                  margin: 0
                  a
                     display: block
                     line-height: 1
                     margin-bottom: 0.8em
                     color: $text
                     font-size: 0.9em
                     transition: color .1s ease
                     &:hover
                        color: $accent
                  &.first
                     a
                        font-weight: bold
                        margin-bottom: 1em
                        img
                           display: block
                           max-width: 100px
                           margin-bottom: 1em
                  &.last
                     a
                        margin-top: 0.5em
                        color: $grey
            &.is-active
               opacity: 1
               z-index: 2
               overflow: visible
               max-height: 200%

@media screen and ( max-width: 1199.98px )
   .nav
      &-top
         &__right
            &__time
               display: none
      &-search
         &__form
            &__category
               flex: 1 1 40%
            input
               flex: 1 1 60%
      &-catalog
         overflow: hidden
         &__menu
            padding: 0 calc(50% - 470px)
            overflow-x: auto
            ul
               justify-content: flex-start
               min-width: 1200px

@media screen and ( max-width: 991.98px )
   .nav
      &-top
         .hamburger
            display: block
         &__city
            &__location
               &__item
                  display: none
         &__right
            &__login
               margin-left: 2em
      
      &-search
         &__form
            display: none
         &--right__wishlist,
         &--right__cart
            &:hover
               background-position: left center
         &--right__cart
            .price
               display: none

      .mobile
         width: 100%
         display: flex
         justify-content: center
         padding: 0 calc(50% - 345px)
         margin-bottom: 0.5em
         .btn
            padding: .8em
            display: flex
            align-items: center
            justify-content: center
            position: relative
            margin: 0
            &.search
               flex: 1 1 40%
               border-radius: 4px 0 0 4px
               img
                  width: 20px
                  margin-right: 0.5em
            &.catalog-btn
               flex: 1 1 60%
               border-radius: 0 4px 4px 0

      &-catalog
         padding: 0 calc(50% - 345px)
         position: absolute
         left: auto
         right: 0
         z-index: -1
         opacity: 0
         transform: translateY(20%)
         transition: transform .5s ease, opacity .5s ease
         &__menu
            border-radius: 4px
            width: 305px
            margin-left: auto
            ul
               display: flex
               flex-direction: column
               min-width: auto
               min-width: auto
               padding: 0
               align-items: flex-start
               justify-content: flex-start
               li
                  width: 100%
                  display: block
                  padding: 0
                  border-bottom: 1px solid lighten($accent, 10%)
                  &::before
                     display: none
                  &:last-child
                     border-bottom: none
                  a
                     font-size: 1.1em
                     padding: 1em 0
                  .sale,
                  .interest
                     font-size: 1.1em
                     padding: 1em 0
                     display: flex
                     flex-direction: row
                     justify-content: center
                     align-self: center
                     img
                        margin-bottom: 0
                        margin-right: 0.5em

         &__submenu
            position: relative
            left: auto
            top: auto
            width: auto
            display: block
            // background: #ffffff
            height: auto
            max-height: 100%
            overflow: visible
            display: flex
            flex-direction: column
            width: 305px
            border-radius: 4px
            &__item
               position: absolute
               left: 0
               top: 0
               flex: 1 0 100%
               opacity: 0
               z-index: -2
               display: flex
               flex-direction: column
               padding: 0
               margin: 0
               ul
                  flex: 1 0 100%
                  max-width: 100%
                  width: 100%
                  padding: 0
                  margin: 0
                  text-align: left
                  li
                     display: none
                     border-bottom: 1px solid #ebebeb
                     &:last-child
                        border-bottom: none
                     &.first
                        padding: 0
                        display: block
                        a
                           display: block
                           margin: 0
                           font-size: 1.1em
                           padding: 1em 0
                           padding-left: 2em
                           img
                              display: none
               &.is-active
                  opacity: 1
                  z-index: 5
         &.mob
            z-index: 2
            opacity: 1
            transform: translateY(0%)

@media screen and ( max-width: 767.98px )
   .nav
      &-top
         &__city,
         &__right
            a
               &::before
                  transition: none
               &:hover
                  &::before
                     transform: translateY(-50%) translateX(0)
         &__right
            &__user
               display: none
            &__login
               margin-left: 1em

      .mobile
         padding: 0 calc(50% - 255px)
      &-catalog
         padding: 0 calc(50% - 255px)

@media screen and ( max-width: 576.98px )
   .nav
      &-top
         &__city
            flex: 1 0 auto
            margin-left: 1em
            &__location
               padding-left: 2em

         &__right
            a
               padding-left: 0
            &__phone,
            &__login
               margin-left: auto
               display: inline-block
               width: 1.5em
               height: 1.5em
               color: $blue !important
               overflow: hidden
            &__login
               margin-left: 3.2em

      &-search
         padding: 20px 0
         .brand
            width: 200px

         &--right
            &__wishlist,
            &__cart
               margin-left: 0
               background-size: 2em
            &__cart
               margin-left: .5em
            
            &__wishlist
               span
                  right: auto
                  left: 20px
            &__cart
               .qty
                  left: 20px

      .mobile
         padding: 0 1em

      &-catalog
         padding: 0 1em
         display: flex
         &__menu
            width: 100%


@media screen and ( max-width: 374.98px )
   .nav
      &-top
         &__right
            &__login
               display: none
      &-search
         .brand
            width: 150px

         &--right
            &__wishlist,
            &__cart
               margin-left: 0
               background-size: 2em
            &__cart
               margin-left: .5em
            
            &__wishlist
               span
                  right: auto
                  left: 20px
            &__cart
               .qty
                  left: 20px

      .mobile
         .btn
            font-size: 0.9em