.product-list
    .row
        padding: 0 .5em
        [class*="col-"]
            margin-bottom: 1em
            padding-right: 0.5em
            padding-left: 0.5em
    .product-card
        display: block
        background-color: #ffffff
        border: 1px solid #faf0f0
        border-radius: 14px
        padding: 20px 17px
        &__head
            height: 36px
            display: flex
            align-items: center
            justify-content: flex-start
            margin-bottom: 1em
            span
                font-size: 12px
                color: #ffffff
                font-weight: bold
                margin: 0
                margin-right: 5px
                padding: 10px
                border-radius: 4px
                &:last-child
                    margin-right: 0
                &.top
                    background-color: $yellow
                &.new
                    background-color: #00B5C4
                &.sale
                    background-color: #FF5C57
                &.bonus
                    background-color: #AB52BF
        &__img
            display: block
            margin-bottom: 30px
        &__title
            display: block
            height: 38px
            overflow: hidden
            margin-bottom: 1em
            color: $text
            font-size: 1.15em
        &__review
            display: flex
            align-items: center
            justify-content: flex-start
            margin-bottom: 2em
            .star
                display: flex
                align-items: center
                justify-content: flex-start
                span
                    display: inline-block
                    width: 1em
                    height: 1em
                    background-size: 1em
                    background-position: center
                    background-repeat: no-repeat
                    background-image: url('../img/review/star.svg')
                    margin-right: 5px
                    &.active
                        background-image: url('../img/review/star-active.svg')
            .quote
                position: relative
                font-size: .9em
                color: $text
                padding-left: 20px
                margin-left: 1em
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: 100%
                    height: 100%
                    background-size: 18px
                    background-position: left
                    background-repeat: no-repeat
                    background-image: url('../img/review/quote.svg')
        
        &__bottom
            display: flex
            align-items: center
            justify-content: space-between
            position: relative
            &__price
                display: flex
                flex-direction: column
                justify-content: flex-start
                .old
                    color: #93ADC3
                    font-size: 12px
                    margin-bottom: 0.3em
                    text-decoration: line-through
                .price
                    color: $text
                    font-weight: bold
                    font-size: 1.5em
            &__buy
                position: absolute
                top: 50%
                right: 0
                transform: translateY(-50%)
                z-index: 2
                .wishlist,
                .cart
                    position: relative
                    display: inline-block
                    width: 2em
                    height: 2em
                    background-size: 2em
                    background-position: center
                    background-repeat: no-repeat
                    transition: transform .3s ease
                    cursor: pointer
                    &:hover
                        transform: scale(1.1)
                .wishlist  
                    background-image: url('../img/nav/wishlist.svg')
                    &.active
                        background-image: url('../img/nav/wishlist-active.svg')
                .cart
                    background-image: url('../img/nav/cart.svg')
                    margin-left: 0.5em
                    &.active
                        background-image: url('../img/nav/cart.svg')

@media screen and ( max-width: 1199.98px )
    .product-list
        .product-card
            &__head
                span
                    font-size: 10px
                    padding: 8px 3px

@media screen and ( max-width: 991.98px )
    .product-list
        .product-card
            &__head
                span
                    padding: 5px 3px
            &__img
                text-align: center

@media screen and ( max-width: 576.98px )
    .product-list
        .row
            [class*="col-"]
                margin-bottom: 1em
                &:nth-child(odd)
                    padding-right: 0.25em
                &:nth-child(even)
                    padding-left: 0.25em
        .product-card
            padding: 10px
            padding-bottom: 20px
            &__head
                flex-wrap: wrap
                height: 45px
                span
                    font-size: .65em
                    padding: 5px 3px
                    margin-bottom: 0.5em
            &__title
                font-size: 1em
                height: 30px
                margin-bottom: 2em
            &__review
                .star
                    span
                        width: .8em
                        height: .8em
                        background-size: .8em
                        margin-right: 5px
                .quote
                    font-size: .8em
            &__bottom
                &__price
                    .old
                        font-size: .8em
                    .price
                        font-size: 1.2em
                &__buy
                    .wishlist,
                    .cart
                        width: 1.6em
                        height: 1.6em
                        background-size: 1.6em

@media screen and ( max-width: 374.98px )
    .product-list
        .product-card
            padding-bottom: 10px
            &__head
                align-items: flex-start
                flex-wrap: wrap
                height: auto
                min-height: 20px
                span
                    font-size: .5em
            &__img
                margin-bottom: 15px
            &__title
                font-size: 1em
                margin-bottom: 15px
            &__review
                .star
                    span
                        width: .7em
                        height: .7em
                        background-size: .7em
                .quote
                    font-size: .7em
                    margin-left: .5em
            &__bottom
                &__price
                    .old
                        font-size: .7em
                    .price
                        font-size: 1em
                &__buy
                    .wishlist,
                    .cart
                        margin-left: 0
                        width: 1.4em
                        height: 1.4em
                        background-size: 1.4em