.products
    h1
        font-size: 2.5em
        font-weight: bold
        margin: 0
        margin-bottom: 1em
    .products-list
        padding: 0 .5em
        [class*="col-"]
            margin-bottom: 1em
            padding-right: 0.5em
            padding-left: 0.5em
    &-filter
        padding-right: 3em
        &__open
            display: none
            width: 100%
            max-width: 200px
            margin: 0 auto
            margin-bottom: 1em
            align-items: center
            justify-content: center
            position: relative
            &::before
                content: ''
                width: 1em
                height: 1em
                margin-right: 0.5em
                background-size: 1em
                background-position: center
                background-repeat: no-repeat
                background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDk3MS45ODYgOTcxLjk4NiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgOTcxLjk4NiA5NzEuOTg2OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+Cgk8cGF0aCBkPSJNMzcwLjIxNiw0NTkuM2MxMC4yLDExLjEsMTUuOCwyNS42LDE1LjgsNDAuNnY0NDJjMCwyNi42MDEsMzIuMSw0MC4xMDEsNTEuMSwyMS40bDEyMy4zLTE0MS4zICAgYzE2LjUtMTkuOCwyNS42LTI5LjYwMSwyNS42LTQ5LjJWNTAwYzAtMTUsNS43LTI5LjUsMTUuOC00MC42MDFMOTU1LjYxNSw3NS41YzI2LjUtMjguOCw2LjEwMS03NS41LTMzLjEtNzUuNWgtODczICAgYy0zOS4yLDAtNTkuNyw0Ni42LTMzLjEsNzUuNUwzNzAuMjE2LDQ1OS4zeiIgZGF0YS1vcmlnaW5hbD0iIzAwMDAwMCIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBzdHlsZT0iZmlsbDojRkZGRkZGIiBkYXRhLW9sZF9jb2xvcj0iIzAwMDAwMCI+PC9wYXRoPgo8L2c+PC9nPiA8L3N2Zz4=')
            &.btn
                padding: .8em 1em
        
        form.smartfilter
            input
                outline: none
            .smart-filter-parameters-box
                padding: 1em 0
                border-top: 1px solid #C4C4C4
                &-title
                    display: flex
                    align-items: center
                    justify-content: space-between
                    margin-bottom: 0.6em
                    &-text
                        font-weight: bold
                        font-size: 1.2em
                        margin-bottom: .5em
                .smart-filter-angle
                    .smart-filter-angles
                        display: inline-block
                        width: 1.1em
                        height: 1.1em
                        background: rgba(194, 81, 192, 0.2)
                        border-radius: 50%
                        display: flex
                        align-items: center
                        justify-content: center
                        cursor: pointer
                        &::before
                            content: '-'
                            display: inline-block
                            width: 100%
                            height: 100%
                            text-align: center
                            color: $accent
                            font-size: 1em
                            line-height: 1
            .form-check
                input
                    display: none
                label
                    padding-left: 1.5em
                    position: relative
                    user-select: none
                    cursor: pointer
                    &::before
                        content: ''
                        position: absolute
                        left: 0
                        top: 50%
                        transform: translateY(-50%)
                        width: 1em
                        height: 1em
                        border: 1px solid $accent
                        border-radius: 2px
                        transition: background .3s ease
                input:checked + label:before
                    background: $accent
                
            .more
                font-size: 0.9em
                color: #C4C4C4
                cursor: pointer
            
            .wrapp_change_inputs
                display: flex
                align-items: center
                justify-content: space-between
                .bx_filter_parameters_box_container_block
                    width: 85px
                    input
                        width: 100%
                        background: $bg
                        border-radius: 4px
                        border: 1px solid $accent
                        color: $text
                        font-weight: bold
                        padding: 5px 10px
                .divider
                    display: inline-block
                    width: 2em
                    height: 1px
                    border-bottom: 1px solid $accent
            
            .smart-filter-block
                .form-input
                    width: 100%
                    background: $bg
                    border-radius: 4px
                    border: 1px solid $accent
                    color: $text
                    font-weight: normal
                    padding: 8px 10px
                    margin-bottom: 1em
            
            .smart-filter-block-button
                .form-group
                    display: flex
                    align-items: center
                    justify-content: space-between
                    .btn
                        font-size: 0.9em
                        background: $bg
                        border-radius: 4px
                        border: 1px solid $accent
                        color: $text
                        font-weight: normal
                        padding: 8px
                        &:first-child
                            margin-right: 0.5em
                        &:last-child
                            margin-left: 0.5em

    &-tag
        display: flex
        align-items: center
        justify-content: flex-start
        flex-wrap: wrap
        padding: 2em 0 1em 0
        a
            display: inline-block
            padding: .5em 1em
            color: #ffffff
            font-weight: bold
            border-radius: 4px
            margin-right: 1em
            transition: background .3s ease
            margin-bottom: 1em
            &:last-child
                margin-right: 0
            &.yellow
                background: $yellow
                &:hover
                    background: darken($yellow, 6%)
            &.blue
                background: #00B6C5
                &:hover
                    background: darken(#00B6C5, 6%)
            &.red
                background: #FF5B56
                &:hover
                    background: darken(#FF5B56, 6%)
            &.accent
                background: $accent
                &:hover
                    background: darken($accent, 6%)

    &-sort
        display: flex
        align-items: center
        justify-content: flex-start
        margin-bottom: 1.5em
        p
            display: none
        a
            display: inline-block
            flex: 0 0 auto
            color: #B8B8B8
            font-weight: bold
            position: relative
            &:not(:first-child)
                margin-left: 2em
            &.sort
                padding-right: 1em
                &::before
                    content: ''
                    position: absolute
                    right: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: .5em
                    height: 1em
                    background-size: cover
                    background-position: center
                    background-repeat: no-repeat
                    background-image: url('../img/products/sort.svg')
                &.asc
                    &::before
                        background-image: url('../img/products/sort-asc.svg')
                &.desc
                    &::before
                        background-image: url('../img/products/sort-desc.svg')
                &.active
                    color: $accent

    &-card
        display: block
        background-color: #ffffff
        border: 1px solid #faf0f0
        border-radius: 14px
        padding: 20px 17px 25px 17px
        &__head
            height: 36px
            display: flex
            align-items: center
            justify-content: flex-start
            margin-bottom: 1em
            span
                font-size: 12px
                color: #ffffff
                font-weight: bold
                margin: 0
                margin-right: 5px
                padding: 10px
                border-radius: 4px
                &:last-child
                    margin-right: 0
                &.top
                    background-color: $yellow
                &.new
                    background-color: #00B5C4
                &.sale
                    background-color: #FF5C57
                &.bonus
                    background-color: #AB52BF
        &__img
            display: block
            margin-bottom: 30px
        &__title
            display: block
            height: 38px
            overflow: hidden
            margin-bottom: 1em
            color: $text
            font-size: 1.15em
        &__review
            display: flex
            align-items: center
            justify-content: flex-start
            margin-bottom: 2em
            .star
                display: flex
                align-items: center
                justify-content: flex-start
                span
                    display: inline-block
                    width: 1em
                    height: 1em
                    background-size: 1em
                    background-position: center
                    background-repeat: no-repeat
                    background-image: url('../img/review/star.svg')
                    margin-right: 5px
                    &.active
                        background-image: url('../img/review/star-active.svg')
            .quote
                position: relative
                font-size: .9em
                color: $text
                padding-left: 20px
                margin-left: 1em
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 50%
                    transform: translateY(-50%)
                    width: 100%
                    height: 100%
                    background-size: 18px
                    background-position: left
                    background-repeat: no-repeat
                    background-image: url('../img/review/quote.svg')
        
        &__bottom
            display: flex
            align-items: center
            justify-content: space-between
            position: relative
            &__price
                display: flex
                flex-direction: column
                justify-content: flex-start
                .old
                    color: #93ADC3
                    font-size: 12px
                    margin-bottom: 0.3em
                    text-decoration: line-through
                .price
                    color: $text
                    font-weight: bold
                    font-size: 1.5em
            &__buy
                position: absolute
                top: 50%
                right: 0
                transform: translateY(-50%)
                z-index: 2
                .wishlist,
                .cart
                    position: relative
                    display: inline-block
                    width: 2em
                    height: 2em
                    background-size: 2em
                    background-position: center
                    background-repeat: no-repeat
                    transition: transform .3s ease
                    cursor: pointer
                    &:hover
                        transform: scale(1.1)
                .wishlist  
                    background-image: url('../img/nav/wishlist.svg')
                    &.active
                        background-image: url('../img/nav/wishlist-active.svg')
                .cart
                    background-image: url('../img/nav/cart.svg')
                    margin-left: 0.5em
                    &.active
                        background-image: url('../img/nav/cart.svg')

@media screen and ( max-width: 1199.98px )
    .products
        &-filter
            form.smartfilter
                .smart-filter-block-button
                    .form-group
                        flex-wrap: wrap
                        .btn
                            flex: 0 0 100%
                            &:first-child
                                margin-right: 0
                                margin-bottom: 0.5em
                            &:last-child
                                margin-left: 0
                    
        &-tag
            a
                font-size: 0.9em
        &-sort
            a
                &:not(:first-child)
                    margin-left: 1em
        &-card
            &__head
                span
                    font-size: 10px
                    padding: 8px 3px

@media screen and ( max-width: 991.98px )
    .products
        &-sort
            display: block
            a
                display: none
            p
                display: flex
                align-items: center
                justify-content: flex-start
                margin: 0
                b
                    flex: 0 0 auto
                    margin-right: 1em
            select
                flex: 0 1 50%
                max-width: 100%
                border-radius: 4px
                border: 1px solid $accent
                padding: .8em 1em
                outline: none
                font-size: 16px
        &-card
            &__head
                span
                    padding: 5px 3px
            &__img
                text-align: center

@media screen and ( max-width: 767.98px )
    .products
        h1
            font-size: 2em
        &-filter
            padding-right: 0
            margin-bottom: 2em
            &__open
                display: flex
                margin: 0
                margin-bottom: 1em
            form.smartfilter
                padding: 0
                max-height: 0
                opacity: 0
                overflow: hidden
                transition: max-height .5s ease-in-out, opacity .5s ease-in-out, padding .5s ease-in-out
                &.active
                    max-height: 2000px
                    opacity: 1
                    overflow: visible
                .form-check
                    label
                        font-size: 1.2em
                .wrapp_change_inputs
                    .bx_filter_parameters_box_container_block
                        width: 200px
                input
                    font-size: 16px !important
                .smart-filter-block-button
                    .form-group
                        flex-wrap: no-wrap
                        .btn
                            flex: 0 0 49%
                            font-size: 1em
                            &:first-child
                                margin-right: 1%
                                margin-bottom: 0
                            &:last-child
                                margin-left: 1%

@media screen and ( max-width: 576.98px )
    .products
        h1
            font-size: 1.8em
        .products-list
            [class*="col-"]
                margin-bottom: .5em
                padding-right: 0.25em
                padding-left: 0.25em
        &-filter
            form.smartfilter
                .wrapp_change_inputs
                    .bx_filter_parameters_box_container_block
                        width: 150px
        &-card
            padding: 10px 10px 20px 10px
            &__head
                flex-wrap: wrap
                height: 45px
                span
                    font-size: .65em
                    padding: 5px 3px
                    margin-bottom: 0.5em
            &__title
                font-size: 1em
                height: 30px
                margin-bottom: 2em
            &__review
                .star
                    span
                        width: .8em
                        height: .8em
                        background-size: .8em
                        margin-right: 5px
                .quote
                    font-size: .8em
            &__bottom
                &__price
                    .old
                        font-size: .8em
                    .price
                        font-size: 1.2em
                &__buy
                    .wishlist,
                    .cart
                        width: 1.6em
                        height: 1.6em
                        background-size: 1.6em

@media screen and ( max-width: 450px )
    .products
        &-filter
            &__open
                max-width: 100%
        &-sort
            select
                flex: 1 0 70%
                display: block
                border-radius: 4px
                border: 1px solid $accent
                padding: .8em 1em
                outline: none

@media screen and ( max-width: 374.98px )
    .products
        &-filter
            form.smartfilter
                .wrapp_change_inputs
                    .bx_filter_parameters_box_container_block
                        width: 120px
                .smart-filter-block-button
                    .form-group
                        input
                            font-size: 1em !important
        &-sort
            p
                b
                    font-size: 0.8em
            select
                padding-right: 0
        &-card
            padding-bottom: 10px
            &__head
                align-items: flex-start
                flex-wrap: wrap
                height: auto
                min-height: 20px
                span
                    font-size: .5em
            &__img
                margin-bottom: 15px
            &__title
                font-size: 1em
                margin-bottom: 15px
            &__review
                .star
                    span
                        width: .7em
                        height: .7em
                        background-size: .7em
                .quote
                    font-size: .7em
                    margin-left: .5em
            &__bottom
                &__price
                    .old
                        font-size: .7em
                    .price
                        font-size: 1em
                &__buy
                    .wishlist,
                    .cart
                        margin-left: 0
                        width: 1.4em
                        height: 1.4em
                        background-size: 1.4em