.modal.and.carousel {
  position: fixed; // Needed because the carousel overrides the position property
}

.recomendation .carousel .recomendation__carousel__item
		{
			min-height: 480px;  
			padding-right: 70px;
		}
@media screen and (max-width: 1200px) {
	
	.recomendation .carousel .recomendation__carousel__item
		{
			min-height: 380px;  
			padding-right: 70px;
		}
}
@media screen and (max-width: 992px) {
	
	.recomendation .carousel .recomendation__carousel__item
		{
			min-height: 320px; 
			padding-right: 70px;
		}
}
@media screen and (max-width: 768px) {
	
	.recomendation .carousel .recomendation__carousel__item
		{
			min-height: 800px; 
			padding-right: 0px;
		}
	.recomendation .carousel .recomendation__carousel__item
		{
			margin: 0 auto;
			text-align: center;
		}
	.recomendation .carousel .recomendation__carousel__item::before {
			content: '';
			position: absolute;
			left: 0;
			top: 200px;
			width: 100%;
			height: 100%;
	}

}
@media screen and (max-width: 576px) {
	
	.recomendation .carousel .carousel-control-prev-icon,
	.recomendation .carousel .carousel-control-next-icon
		{
			width: 40px;
			height: 40px;
		}
	.recomendation .carousel .carousel-control-prev-icon::before,
	.recomendation .carousel .carousel-control-next-icon::before
		{
			width: 20px;
			height: 20px;
		}
	.recomendation .carousel .carousel-control-prev-icon {left: -30px}
	.recomendation .carousel .carousel-control-next-icon {right: -30px}
}
@media screen and (min-width: 1300px) {
	.previous.flickity-prev-next-button
		{
			left: -8%
		}
	.next.flickity-prev-next-button
		{
			right: -8%
		}
	.recomendation .carousel .carousel-control-prev
		{
			left: -7%
		}
	.recomendation .carousel .carousel-control-next
		{
			right: -7%
		}
	.recomendation .carousel .recomendation__carousel__item
		{
			min-height: 450px;  
			padding-right: 0px;
		}
}