@import 'sass/fonts'

$accent: #60C977
$text: #151515
$grey: #888888

$default-font: 'UniNeue', sans-serif

html
	height: 100%
body
	height: 100%
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	margin: 0
	padding: 0
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
*
	box-sizing: border-box

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
a
	text-decoration: none 
	&:hover, 
	&:active, 
	&:focus
		text-decoration: none
		outline: none
b, strong
	font-weight: bold
img
	max-width: 100%

@import 'sass/login'
@import 'sass/home'

body
	opacity: 1