<!DOCTYPE html>
<html lang="en">
<head>
   <base href="https://krasovsky23.ru/work/layout/1c/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/favicon.png" type="image/png">
  <title>1C Гарантум</title>
  <style>body {opacity: 0;overflow-x: hidden;}</style> 
</head>
<body>

   <nav class="navbar navbar-expand-md">
      <div class="container">
         <a href="/" class="navbar-brand">
            <img src="img/logo.svg" alt="Гарантум">
            Гарантум
         </a>
         <div class="search">
            <form action="/" method="post">
               <div class="input-group">
                  <input class="form-control" type="search" value="" id="search-input" placeholder="Поиск">
                  <span class="input-group-append">
                     <button type="submit" class="btn btn-dark" id="search-btn" type="button">
                           <img src="img/nav/serachbtn.svg" alt="">
                     </button>
                  </span>
               </div>
            </form>
         </div>
         <a class="search_btn" href="#"><img src="img/nav/serach.svg" alt=""></a>

         <button class="navbar-toggler hamburger hamburger--slider" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="hamburger-box">
               <span class="hamburger-inner"></span>
            </span>
         </button>
            
         <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav">
               
               <div class="nav-menu order-2 order-md-1">
                  <div class="nav-link time">Время работы:<br>Пн-Пт 8:00-21:00</div>
                  <div class="nav-link phone">
                     <img src="img/nav/phone.svg" alt="">
                     <div class="phone_card">
                        <a href="tel:+74951090431">+7 (495) 109-04-31  Москва</a>
                        <a href="tel:+78122090731">+7 (812) 209-07-31  С-Петербург</a>
                     </div>
                  </div>
                  <a href="mailto:info@garantum.ru" class="nav-link email">info@garantum.ru</a>
               </div>

               <div class="nav-icons order-1 order-md-2">
                  <a class="nav-link user" href="#"><img src="img/nav/user.svg" alt=""> <span>Личный кабинет</span></a>
                  <div class="divider"></div>
                  <a class="nav-link star" href="#"><img src="img/nav/star.svg" alt=""> <span>Закладки</span></a>
               </div>
               
            </div>
         </div>
      </div>
   </nav>

   <section class="header" style="background-image: url('img/header/header.jpg')">
      <div class="container">

         <p class="show_description">Подробнее</p>
         <div class="hide_description">
            <p class="header-right">
               Заключите договор <span>ИТС летом!</span>
            </p>
            <p class="header-left">
               Каждый месяц подарки: <span>Поездка на море</span> 1000 складных сумок
            </p>
         </div>

      </div>
   </section>

   <section class="direction">
      <div class="container">
         <div class="row">
            <div class="col-6 col-md-3">
               <a href="#" class="direction_item">
                  <img src="img/direction/online-banking.png" alt="Продажа программ 1С">
                  <h1>Продажа <br>программ 1С</h1>
               </a>
            </div>
            <div class="col-6 col-md-3">
               <a href="#" class="direction_item">
                  <img src="img/direction/keyboard.png" alt="Обслуживание программ 1С">
                  <h2>Обслуживание <br>программ 1С</h2>
               </a>
            </div>
            <div class="col-6 col-md-3">
               <a href="#" class="direction_item">
                  <img src="img/direction/server.png" alt="Облако 1С">
                  <h2>Облако 1С</h2>
               </a>
            </div>
            <div class="col-6 col-md-3">
               <a href="#" class="direction_item">
                  <img src="img/direction/engineering.png" alt="Сервисы 1С">
                  <h2>Сервисы 1С</h2>
               </a>
            </div>
         </div>
      </div>
   </section>

   <section class="popular">
      <div class="container">
         <h3>Популярные программы</h3>

         <div class="owl-carousel popular-carousel row">
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Бухгалтерия 8 <span>Базовая версия</span></p>
                  <button class="btn btn-accent">4 500 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Бухгалтерия 8 <span>ПРОФ</span></p>
                  <button class="btn btn-accent">6 500 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Управление нашей фирмой 8 <span>ПРОФ</span></p>
                  <button class="btn btn-accent">4 500 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Управление торговлей 8 <span>Базовая версия</span></p>
                  <button class="btn btn-accent">2 000 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Управление торговлей 8 <span>Базовая версия</span></p>
                  <button class="btn btn-accent">6 500 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Управление торговлей 8 <span>Базовая версия</span></p>
                  <button class="btn btn-accent">6 500 ₽</button>
               </a>
            </div>
            <div class="col-lg-12">
               <a href="#" class="direction_item">
                  <div class="direction_item__img">
                     <img src="img/popular/popular.jpg" alt="Облако 1С">
                  </div>
                  <p>1С: Управление торговлей 8 <span>Базовая версия</span></p>
                  <button class="btn btn-accent">6 500 ₽</button>
               </a>
            </div>

         </div>
      </div>
   </section>

   <section class="cloud">
      <div class="container">
         <h3>Облачное 1С</h3>

         <div class="row">
            <div class="col-md-6">
                  <h4>Доступ к использованию программ "1С" через интернет</h4>
                  <p>В любой точке земного шара вы можете работать <br>с 1С как на локальном компьютере.</p>
            </div>
            <div class="col-md-6">
                  <h4>Резервное копирование</h4>
                  <p>Ежедневно мы будем производить резервное копирование Ваших баз</p>
            </div>
            <div class="col-md-6">
                  <h4>Регулярное обновление баз</h4>
                  <p>Сосредоточьтесь на своем бизнесе. Актуальность налоговой отчетности и прочие скучные вещи оставьте нам</p>
            </div>
            <div class="col-md-6">
                  <h4>Прозрачность расходов</h4>
                  <p>Использование сервиса «Аренда 1С» предполагает только небольшие ежемесячные платежи — от 550 рублей/месяц за одного пользователя</p>
            </div>
            <div class="col-12 text-center">
               <a href="#" class="btn btn-white">Рассчитать стоимость</a>
            </div>
         </div>

      </div>
   </section>

   <section class="services">
      <div class="container">
         <h3>Сервисы 1С</h3>
         <div class="row">
            <div class="col-md-6">
               <a href="#" class="services_item">
                  <div class="services_item__img">
                     <img src="img/services/write.png" alt="">
                  </div>
                  <div class="services_item__text">
                     <h5>1С Контрагент</h5>
                     <p>Проверка информации о контрагентах, автоматическое заполнение реквизитов контрагентов</p>
                  </div>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#" class="services_item">
                  <div class="services_item__img">
                     <img src="img/services/coding.png" alt="">
                  </div>
                  <div class="services_item__text">
                     <h5>1С ПАРК Риски</h5>
                     <p>Оценка надежности и мониторинг контрагентов в программах 1С для принятия взвешенных решений</p>
                  </div>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#" class="services_item">
                  <div class="services_item__img">
                     <img src="img/services/website.png" alt="">
                  </div>
                  <div class="services_item__text">
                     <h5>1С Отчетность</h5>
                     <p>Отправка регламентированной отчетности прямо <br>из программ «1С»</p>
                  </div>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#" class="services_item">
                  <div class="services_item__img">
                     <img src="img/services/task-list.png" alt="">
                  </div>
                  <div class="services_item__text">
                     <h5>Старт ЭДО</h5>
                     <p>Электронный <br>документооборот</p>
                  </div>
               </a>
            </div>
         </div>
      </div>
   </section>

   <section class="news">
      <div class="container">
         <h5 class="show_news">Новости <span>компании</span></h5>
         <div class="row hide_news">
            <div class="col-md-6">
               <a href="#">
                  <p><strong>26 июня 2019 г.</strong></p>
                  <p>Продление акции 1С и Калуги Астрал: Касса №1 (К1-Ф) с ФН + 1С:Розница + ОФД от 17 600 рублей</p>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#">
                  <p><strong>26 июня 2019 г.</strong></p>
                  <p>Курс "Использование конфигурации "1C:Зарплата и кадры государственного учреждения 8" (пользовательские режимы) в 1С-Учебном центре №3 с 15 по 18 июля 2019 г.</p>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#">
                  <p><strong>26 июня 2019 г.</strong></p>
                  <p>Компании "EnterSoft", г. Семей присвоен статус "Сертифицированный Сервисный партнер "1С"</p>
               </a>
            </div>
            <div class="col-md-6">
               <a href="#">
                  <p><strong>26 июня 2019 г.</strong></p>
                  <p>1С:Оценка качества образования. Школа</p>
               </a>
            </div>
         </div>
      </div>
   </section>

   <section class="footer">
      <div class="container">
         <div class="row">
            <div class="col-md-6 col-lg-3">
               <p><strong>Информация</strong></p>
               <ul>
                  <li><a href="#">Доставка и оплата</a></li>
                  <li><a href="#">Реквизиты фирмы</a></li>
                  <li><a href="#">Условия приобретения</a></li>
               </ul>
            </div>
            <div class="col-md-6 col-lg-2">
               <p><strong>Статьи</strong></p>
               <ul>
                  <li><a href="#">1C</a></li>
                  <li><a href="#">Freeswitch</a></li>
                  <li><a href="#">Cgrates</a><li>
                  <li><a href="#">Автоматизация предприятий</a></li>
               </ul>
            </div>
            <div class="col-md-6 col-lg-3">
               <p><strong>Зарегестрироваться</strong></p>
               <ul>
                  <li><a href="#">Войти</a></li>
                  <li><a href="#">Register Customer</a></li>
                  <li><a href="#">Request Password Reset</a></li>
               </ul>
            </div>
            <div class="col-md-6 col-lg-4">
               <p><strong>ООО "Гарантум"</strong></p>
               <p><a href="tel:+74951090431">+7 (495) 109-04-31  Москва</a></p>
               <p><a href="tel:+78122090731">+7 (812) 209-07-31  С-Петербург</a></p>
               <p><a href="mailto:info@garantum.ru">info@garantum.ru</a></p>
            </div>
         </div>
      </div>
   </section>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="js/owlcarousel/css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/main.min.css">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="js/owlcarousel/owl.carousel.min.js"></script>
   <script src="js/script.js"></script>
  
</body>
</html>