.footer
   color: #ffffff
   .logo
      img
         width: 90px
   
   .right
      display: flex
      justify-content: space-between
      align-items: flex-end
      p
         margin-bottom: 0.5em
      .phone
         font-size: 1.4em
   
   .social
      display: flex
      align-items: center
      justify-content: flex-end
      a
         margin-left: 0.5em
         transition: transform .3s ease
         img
            width: 29px
            height: 29px
         &:hover
            transform: scale(1.1)
   .author
      color: #ffffff
      padding-top: 2em

@media screen and (max-width: 767.98px)
   .footer
      .author
         display: block
         width: 100%
         text-align: right

@media screen and (max-width: 576.98px)
   .footer
      .right
         display: flex
         justify-content: space-between
         align-items: flex-end
         .contact__card__item
            margin-bottom: 0
            p:last-child
               margin-bottom: 0
      .social
         justify-content: center
      
      .author
         text-align: center

@media screen and (max-width: 399.98px)
   .footer
      text-align: center
      .logo
         margin-bottom: 1em
         display: block
      .right
         display: flex
         flex-direction: column
         justify-content: space-between
         align-items: center
         .contact__card__item
            margin-bottom: 1em
         .social
            justify-content: center
