.login
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    height: 100vh
    background: #f5f5f5
    h1
        font-size: 1.3em
        text-transform: uppercase
        color: #888
        font-weight: bold
        margin-bottom: 0.3em
    form
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        border: 1px solid #ebebeb
        border-radius: 8px
        min-width: 300px
        padding: 40px 30px
        background: #ffffff
        text-align: center
        margin: 0
        h1
            font-size: 1.5em
            margin: 0
            margin-bottom: 0.5em
        input
            width: 100%
            border: 1px solid #a0a0a0
            padding: .5em 1em
            border-radius: 4px
            margin-bottom: 1em
            font-size: 1em
        button
            width: 100%
            max-width: 150px
            border: 1px solid darken($accent, 8%)
            background: $accent
            color: #ffffff
            padding: .5em 1em
            border-radius: 4px
            margin-bottom: 0
            font-size: 1em
            cursor: pointer
            transition: background .5s ease
            &:hover
                background: darken($accent, 8%)