@import '../_libs/var'
.contact
    h1, h2
        display: block
        font-size: 2.5em
        font-weight: bold
        margin: 0
        margin-bottom: 0
    
    &-head
        display: flex
        align-items: flex-end
        justify-content: space-between
        margin-bottom: 2em
        &-link
            a
                display: inline-block
                padding: .5em 1em
                margin: 0
                &:first-child
                    margin-right: .5em
    
    &-map
        padding: 0
        border-radius: 20px
        position: relative
        width: 100%
        height: 450px
        overflow: hidden
        border: 1px solid darken($bg, 2%)
        margin-bottom: 2em

    .map-info
        position: absolute
        left: 2em
        top: 2em
        z-index: 1
        background: #ffffff
        padding: 2em
        max-width: 310px
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1)
        border-radius: 20px
        &--item
            display: flex
            align-items: flex-start
            margin-bottom: 1em
            img
                max-width: 40px
            p
                margin-left: 1em
                span
                    color: $grey
                    display: block
                a, b
                    font-weight: bold
                    color: $text
                    font-size: 1.05em
                    line-height: 1.3
                    i
                        font-style: normal
                        display: block
            &:not(:first-child)
                img
                    margin-top: 0.5em
        .btn
            display: block
            font-weight: bold
            width: 100%
            padding: .6em
            margin: 0 auto
            text-align: center
            &.btn-outline-accent
                margin-bottom: 0.5em
                display: none
    
    #map
        display: block
        width: 100%
        height: 100%
    
    // ymaps
        // filter: grayscale(10%)
        // -webkit-filter: grayscale(10%)
    
    &-text
        &--head
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 1em
        &--body
            columns: 2
            gap: 3em
            p
                margin-bottom: 0.3em
    
    .hideElem
        position: relative
        display: inline-block
        cursor: pointer
        border-bottom: 1px dashed $text
        &::before
            content: 'скрыть'
        &.active
            &::before
                content: 'показать'

    .showElem
        padding: 2em 0
        max-height: 1000px
        opacity: 1
        overflow: hidden
        transition: max-height .5s ease-in-out, opacity .5s ease-in-out, padding .5s ease-in-out
        &.active
            padding: 0
            opacity: 0
            max-height: 0


    &.point
        .contact-head
            display: block
            a
                display: inline-block
                margin-top: 0.5em
                color: $nav
                font-weight: bold
                border-bottom: 1px dashed $nav
    
    .map-point
        position: absolute
        left: 5em
        top: 2em
        z-index: 1
        background: #ffffff
        padding: 2em 1em 2em 2em
        width: 310px
        box-shadow: 5px 8px 8px rgba(0, 0, 0, 0.1)
        border-radius: 20px
        &--list
            max-height: 300px
            overflow-y: scroll
            padding-right: 1em
            &::-webkit-scrollbar
                width: 3px
                height: 3px
            &::-webkit-scrollbar-track
                background-color: #F6F6F5
                border-radius: 5px
            &::-webkit-scrollbar-thumb
                background-color: $accent
                border-radius: 5px
        &--item
            padding-bottom: 1em
            margin-bottom: 2em
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
            p
                margin-bottom: 0.3em
            .btn
                margin-top: .5em
            &:last-child
                border-bottom: none

@media screen and ( max-width: 767.98px )
    .contact
        h1, h2
            font-size: 1.8em

        &-head
            justify-content: flex-start
            flex-wrap: wrap
            h1
                margin-bottom: .5em
            &-link
                flex: 0 0 100%
                a
                    padding: .5em 1em
        
        &-map
            padding: 0
            border-radius: 0
            width: 100%
            height: auto
            overflow: visible
            border: none
            margin-bottom: 2em
        
        .map-info,
        .map-point
            position: relative
            left: 0
            top: 0
            z-index: 1
            background: transparent
            padding: 0
            max-width: 100%
            box-shadow: none
            border-radius: 0
            .btn
                max-width: 320px
                margin: 0
                &.btn-outline-accent
                    display: block
                    &:hover
                        background: transparent
                        color: $accent
        .map-point
            width: 100%
            &--list
                max-height: 100%
                overflow: visible
                padding-right: 0
                &::-webkit-scrollbar,
                &::-webkit-scrollbar-track,
                &::-webkit-scrollbar-thumb
                    display: none
            
        #map
            display: none
        

        &-text
            &--head
                justify-content: flex-start
                flex-wrap: wrap
                margin-bottom: 1em
                &--title
                    flex: 0 0 100%
                    margin-bottom: 1em
            &--body
                columns: 1
                gap: 0
        
@media screen and ( max-width: 576.98px )
    .contact
        .map-info
            .btn
                max-width: 100%    

@media screen and ( max-width: 374.98px )
    .contact
        h1, h2
            font-size: 1.6em
        &-head
            &-link
                a
                    font-size: 0.9em
                    padding: .5em

    
