.front-page
   .about
      padding: $gutter*2 0
      .row
         align-items: center

@media screen and (max-width: 991.98px)
   .front-page
      .about
         text-align: center
         img
            margin-bottom: 2em