@import '_libs/bootstrap_grid'
@import '_libs/fonts'
@import '_libs/hamburger'

$accent: #001D3E
$btn: #D15150
$text: #000000
$gutter: 30px

$default-font: 'Roboto', sans-serif


.accent
	background: $accent
	color: #ffffff

.navbar.accent
	padding: .5em 0 1em 0
	.navbar-collapse
      .main-nav
         .expanded
            .menu
               background: $accent


@import 'navbar'
@import 'footer'

.table
	margin-bottom: 0 !important

.btn
	font-size: inherit

body
	opacity: 1