@import "vars"


/*==========  Desktop First  ==========*/

// // ≥1200px
// @media screen and (max-width: 1199.98px)

// // ≥992px
// @media screen and (max-width: 991.98px)

// // ≥768px
// @media screen and (max-width: 767.98px)

// // ≥576px
@media screen and (max-width: 575.98px)
	.introHolder
		h2
			font-size: 1.8em
		h2.liner
			padding-bottom: $gutter/1.5

	.steps
		[class*=col-]
			padding: $gutter 0 $gutter $gutter*2
			position: relative

// ≥400
//@media screen and (max-width: 399.98px)
	
	

/*==========  Mobile First  ==========*/

// // ≤576px
// @media screen and (min-width: 567px)
	

// // ≤768px
// @media screen and (min-width: 768px)

// // ≤992px
// @media screen and (min-width: 992px)

// // ≤1200px
// @media screen and (min-width: 1200px)
