.navbar
	color: #fff
	transition: all .3s ease
	.navbar-brand
		color: #fff
	.navbar-nav
		justify-content: space-between
		align-items: center
		.nav-link
			color: #fff
			font-size: 1em
			.btn
				margin: 0
				color: #fff
				padding: .375em 1.5em
				&.btn-white
					border: 1px solid #fff
					background: transparent
				.fab
					margin-right: .5em
				&:hover
					background: #fff
					color: $text
				
.navbar:not(.active) 
	padding: 20px 20px
	transition: all .5s ease-in-out


.active
	background: #000
	transition: all .5s ease-in-out
