.partners
    padding: $gutter 0
    // background: #e5e9f1
    h4
        margin-bottom: 2em
    &__carousel
        min-height: 100px
        .slick-slide
            display: flex
            align-items: center
            justify-content: center
            padding: 0 40px
            height: 100%
            min-height: 100px