.portfolio
   padding: $gutter*2 0
   background: $text
   color: #fff
   [class*="col-"]
      padding-bottom: $gutter
      position: relative
      text-align: center
   h4
      margin-bottom: .5em
   img
      max-width: 100%