.work
   padding: $gutter*2 0
   text-align: center
   .work-card
      position: relative
      text-align: left
      margin-bottom: $gutter*2
      border: 1px solid #f2f2f2
      padding: $gutter
      &:before
         content: ''
         position: absolute
         left: 0
         top: 0
         background: $accent
         width: 1px
         height: 100%
      a
         margin-left: 1em
         font-weight: bold
         .fas
            margin-right: 0.5em
            font-size: 0.8em