@import "vars"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
	transition: all .3s ease
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center

b, strong
	font-weight: bold

.btn
	position: relative
	width: 100%
	max-width: 260px
	border: 1px solid $accent
	border-radius: $gutter
	padding: $gutter/2
	color: $text
	text-transform: uppercase
	font-weight: bold
	margin: 1em auto
	overflow: hidden
   backface-visibility: hidden
	background: transparent
	transform: translateZ(0)
	transition: all .3s ease-out
	&::before
		content: ''
		position: absolute
		left: 0 
		top: 0
		bottom: 0
		right: 0
		border-radius: $gutter
		z-index: -1
		background: $bg
		overflow: visible
  		backface-visibility: visible
		transform: scale(0)
		transition-property: transform
		transition: 200ms ease-out
	&:hover
		color: #ffffff
		&::before
			background: $bg
			transform: scale(2)

.btn-accent
	color: #ffffff
	&::before
		transform: scale(2)
		background: $bg
	&:hover
		color: $text
		&::before
			transform: scale(0)

	
.introHolder
	text-align: center
	h2
		font-size: 2.4em
		margin: $gutter auto
		padding: 0
		font-weight: 800
		font-family: 'Open Sans', sans-serif
		position: relative
	h2.liner
		padding-bottom: $gutter
		&::after
			content: ''
			position: absolute
			left: 50%
			bottom: 2px
			transform: translateX(-50%)
			width: 100px
			height: 1px
			background: $accent
			display: block

.steps
	padding: 0 0 $gutter 0
	[class*=col-]
		padding: $gutter/2 0 $gutter 0
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translateX(-50%) translateY(-50%)
			font-size: 12em
			font-family: 'Open Sans', sans-serif
			color: #ebebeb
			font-weight: 800
			line-height: 1
			opacity: .4

		@for $i from 1 through 9
			&:nth-child(#{$i})::before
				content: '0#{$i}'
		img
			width: 4em
			margin: 1em 0
			position: relative
		p
			font-weight: bold
			font-size: 1.4em
			position: relative
		ul
			margin: 0
			padding: 0
			list-style: none
			position: relative
			li
				padding-left: 2.2em
				margin: .5em 0
				font-size: 1.1em
				list-style: none
				position: relative
				&::before
					content: ''
					position: absolute
					left: 0
					top: 50%
					transform: translateY(-50%)
					width: 1.5em
					height: 1px
					background: $accent
					display: block

.price
	padding: $gutter 0
	background: #f2f2f2
	img
		width: 100%
	.right
		padding: 0 $gutter*2
		justify-content: center
	&__block
		padding: $gutter/2 $gutter
		background: #ffffff
		border-radius: $gutter/5
		p
			margin: $gutter/2 0 
			padding: 0 0 $gutter/2 0
			border-bottom: 1px solid #f2f2f2
			font-size: 1.2em
			b
				font-size: 1.3em
				margin-left: .5em
				color: $accent
			&:last-child
				border-bottom: none
	.btn:last-child
		margin-top: 0

body
	opacity: 1

@import "media"