@import "vars"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff
*
	transition: all .3s ease
body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center

b, strong
	font-weight: bold

.btn
	position: relative
	width: 100%
	max-width: 260px
	border: 1px solid $accent
	border-radius: $gutter
	padding: $gutter/2
	color: #f84792
	text-transform: uppercase
	font-weight: bold
	margin: 1em auto
	overflow: hidden
   backface-visibility: hidden
	background: transparent
	transform: translateZ(0)
	transition: all .3s ease-out
	&::before
		content: ''
		position: absolute
		left: 0 
		top: 0
		bottom: 0
		right: 0
		border-radius: $gutter
		z-index: -1
		background: $bg
		overflow: visible
  		backface-visibility: visible
		transform: scale(0)
		transition-property: transform
		transition: 200ms ease-out
	&:hover
		color: #ffffff
		&::before
			background: $bg
			transform: scale(2)

.btn-accent
	color: #ffffff
	&::before
		transform: scale(2)
		background: $bg
	&:hover
		color: $text
		&::before
			transform: scale(0)

	
.introHolder
	text-align: center
	h2
		font-size: 2.4em
		margin: $gutter auto
		padding: 0
		font-weight: 800
		font-family: 'Open Sans', sans-serif
		position: relative
	h2.liner
		padding-bottom: $gutter
		&::after
			content: ''
			position: absolute
			left: 50%
			bottom: 2px
			transform: translateX(-50%)
			width: 100px
			height: 1px
			background: $accent
			display: block

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$mukta: 'Ek Mukta', sans-serif;;

$menuItems: 7;


nav
	position: relative
	display: block
	width: 360px
	height: 567px
	margin: 100px auto 0
	box-shadow: 0 0 65px 15px rgba(#000, 0.2)
	overflow: hidden
	border-radius: 3px
	background: #F1F1F1
	.navbar
		position: absolute
		display: block
		top: 0
		left: 0
		height: 50px
		width: 100%
		background: rgba(#000,0.8)
		overflow: hidden
		transition: all 0.5s ease-out, background 1s ease-out
		transition-delay: 0.2s
		z-index: 1
		.burger-container
			position: relative
			display: inline-block
			height: 50px
			width: 50px
			cursor: pointer
			transform: rotate(0deg)
			transition: all 0.3s $cubic
			user-select: none
			-webkit-tap-highlight-color: transparent
			#burger 
					width: 18px
					height: 8px
					position: relative
					display: block
					margin: -4px auto 0
					top: 50%
					.bar
						width: 100%
						height: 1px
						display: block
						position: relative
						background: #FFF
						transition: all 0.3s $cubic
						transition-delay: 0s
						&.topBar 
							transform: translateY(0px) rotate(0deg)
						
						&.btmBar 
							transform: translateY(6px) rotate(0deg)
                    
			.icon
				display: inline-block
				position: absolute
				height: 100%
				line-height: 50px
				width: 50px
				height: 50px
				text-align: center
				color: #FFF
				font-size: 22px
				left: 50%
				transform: translateX(-50%)
				&.icon-bag
					right: 0
					top: 0
					left: auto
					transform: translateX(0px)
					transition: transform 0.5s $cubic
					transition-delay: 0.65s
			ul.menu
				position: relative
				display: block
				padding: 0px 48px 0
				list-style: none
			li.menu-item
				border-bottom: 1px solid #333
				margin-top: 5px
				transform: scale(1.15) translateY(-30px)
				opacity: 0
				transition: transform 0.5s $cubic, opacity 0.6s $cubic
					
				@for $i from 1 through $menuItems 
					&:nth-child(#{$i})
						transition-delay: #{0.56 - ($i * 0.07)}s
					
					a
						display: block
						position: relative
						color: #FFF
						font-family: $mukta
						font-weight: 100
						text-decoration: none
						font-size: 22px
						line-height: 2.35
						font-weight: 200
						width: 100%
			
			&.menu-opened
				height: 100%
				background-color: #000
				transition: all 0.3s ease-in, background 0.5s ease-in
				transition-delay: 0.25s
				.burger-container
					transform: rotate(90deg)
					#burger
						 .bar
								transition: all 0.4s $cubic
								transition-delay: 0.2s
								&.topBar
									transform: translateY(4px) rotate(45deg)
								&.btmBar
									transform: translateY(3px) rotate(-45deg)
				ul.menu
					li.menu-item
						transform: scale(1) translateY(0px)
						opacity: 1
                    
					@for $i from 1 through $menuItems
						&:nth-child(#{$i})
							transition-delay: #{0.07 * $i+0.2}s
            
				.icon
					&.icon-bag
						transform: translateX(75px)
						transition-delay: 0.3s


.header
	padding: $gutter*2 0
	position: relative
	background: #f2f2f2
	overflow: hidden
	&::after
		content: '.'
		font-size: 0
		width: 100%
		height: 100%
		display: block
	&__examples
		position: relative
		.layout-1
			position: relative
			margin: 0
			padding: 0
			img
				width: 90%
		.layout-2
			img
				position: absolute
				left: 0
				top: 0
				animation: layout-2-move  1.5s ease
				transition-delay: 2s
				animation-fill-mode: forwards
				animation-iteration-count: 1
				animation-delay: 2s
				opacity: 0
				width: 60%
		.layout-3
			img
				position: absolute
				left: 0
				top: 0
				animation: layout-3-move  1.5s ease
				transition-delay: 2s
				animation-fill-mode: forwards
				animation-iteration-count: 1
				animation-delay: 2s
				opacity: 0
				width: 60%
			
			@keyframes layout-2-move
				from
					left: 70px
					top: 20px
					opacity: 0
				to
					left: 130px
					top: 50px
					opacity: 1

			@keyframes layout-3-move
				from
					left: 70px
					top: 20px
					opacity: 0
				to
					left: 240px
					top: 100px
					opacity: 1

.steps
	padding: $gutter*2 0
	[class*=col-]
		padding: $gutter/2 0 $gutter 0
		position: relative
		&::before
			content: ''
			position: absolute
			left: 50%
			top: 50%
			transform: translateX(-50%) translateY(-50%)
			font-size: 12em
			font-family: 'Open Sans', sans-serif
			color: #ebebeb
			font-weight: 800
			line-height: 1
			opacity: .4

		@for $i from 1 through 9
			&:nth-child(#{$i})::before
				content: '0#{$i}'
		img
			width: 4em
			margin: 1em 0
			position: relative
		p
			font-weight: bold
			font-size: 1.4em
			position: relative
		ul
			margin: 0
			padding: 0
			list-style: none
			position: relative
			li
				padding-left: 2.2em
				margin: .5em 0
				font-size: 1.1em
				list-style: none
				position: relative
				&::before
					content: ''
					position: absolute
					left: 0
					top: 50%
					transform: translateY(-50%)
					width: 1.5em
					height: 1px
					background: $accent
					display: block

.price
	padding: $gutter*2 0
	background: #f2f2f2
	img
		width: 100%
	.right
		padding: 0 $gutter*2
		justify-content: center
	&__block
		padding: $gutter/2 $gutter
		background: #ffffff
		border-radius: $gutter/5
		p
			margin: $gutter/2 0 
			padding: 0 0 $gutter/2 0
			border-bottom: 1px solid #f2f2f2
			font-size: 1.2em
			b
				font-size: 1.3em
				margin-left: .5em
				color: $accent
			&:last-child
				border-bottom: none
	.btn:last-child
		margin-top: 0

body
	opacity: 1

@import "media"