body {
	margin:0;padding:0;background-color:#fff;
	color:000;
}
a{
	text-transform:uppercase; font-size:8pt; color:#000; text-align:left; text-decoration:none;
}
#block1 {
	width:100%;margin:0 auto; padding:0;	
}
#block1 #padding {
	margin:0 20px;
}
#block1 #padding #page {
	width:640px;background:#fff;padding:0 20px; margin:0 auto; font-size: 10pt; 
}
#block1 #padding #page table {
	width:100%;margin:0; padding:0 0 20px 0;
}
#block1 #padding #page table td{
	padding:0px 5px;
	vertical-align:middle;
}
#block1 #padding #page table td.logo{
	width:15%;
}
#block1 #padding #page table td.name{
	width:40%;
}
#block1 #padding #page table td.img{
	width:5%;
}
#block1 #padding #page table td.contact{
	width:40%;
	font-size:9pt;
}
#block1 #padding #page table td.logo p a.logo{
	text-decoration:none; border:none; padding:0; margin:0;
}
#block1 #padding #page table td.logo p img{
	border:none;
}
#block1 #padding #page table td.name { 
	text-align:left; 
	color:#000;
	background:url("http://www.partadami.ru/img/top/line.png") left center no-repeat; 
	margin:0; 
	padding:10px 15px 0 25px;
}
a.top{
	text-transform:uppercase; font-size:8pt; color:#000; text-align:left; text-decoration:none;
}
a.bottom {
	text-transform:uppercase; font-size:7pt; text-align:left; color:#333; padding:0; margin:0 0 2px 0;
}

#block1 #padding #block2 {
	width:640px;background:#fff;padding:0; margin:0 auto; color:#000;
}
#block1 #padding #block2 p {
	font-size:9pt;
	text-align:justify;
}
#block1 #padding #block2 table.price {
	width:100%; margin:0;border-collapse:none;
} 
#block1 #padding #block2 table.price td {
	font-size:9pt;
}

#block1 #padding #block3 {
	width:620px;margin:0 auto;
}

#block1 #padding #block4 {
	width:680px; padding:0 20px; margin:0 auto;
}
#block1 #padding #block4 table.spec{
	width:100%; margin:0;border-collapse:none;
}
#block1 #padding #block4 table.spec td{
	font-size:9pt;
}

#block1 #padding #block5 {
	width:620px;background:#fff;padding:0; margin:0 auto;
}
#block1 #padding #block5 table {
	padding:0;
	margin:0;
}
#block1 #padding #block5 table td{
	padding:0;
	margin:0;
	text-align:center;
}
#block1 #padding #block5 table td a img{
	width:180px;
	padding:0;
	margin:0;
	text-align:center;
}

#block1 #padding #block6 {
	width:660px;margin:0 auto;
}