.about
   padding: $gutter*2 0
   position: relative
   overflow: hidden
   .container
      position: relative
      overflow: hidden
   h2
      text-align: center
      font-weight: bold
      margin-bottom: 0.2em
   .text-center
      color: #a0a0a0
      max-width: 50%
      margin: 0 auto

   p
      margin-bottom: 0

   &__column
      display: flex
      justify-content: space-between
      padding: $gutter 0 0 0
      &__item
         width: 30%
         display: flex
         align-items: center
         p
            &:first-child
               font-size: 5em
               font-weight: bold
               color: $accent
               margin-bottom: 0
               margin-top: 0
            &:last-child
               border-left: 1px solid $accent
               padding-left: 1em
               margin-left: 1em
   
@media screen and (max-width: 1199.98px)
   .about
      &__column
         &__item
            p
               &:first-child
                  font-size: 4em
               &:last-child
                  font-size: 0.85em

@media screen and (max-width: 991.98px)
   .about
      .text-center
         max-width: 70%
      &__column
         flex-wrap: wrap
         &__item
            width: 45%
            p
               &:first-child
               &:last-child
                  font-size: .9em
            &:last-child
               margin-left: 25%

@media screen and (max-width: 767.98px)
   .about
      .text-center
         max-width: 70%
      &__column
         &__item
            width: 100%
            p
               &:first-child
               &:last-child
                  font-size: 1em
            &:last-child
               margin-left: auto

@media screen and (max-width: 576.98px)
   .about
      h2
         font-size: 1.5em
      .text-center
         font-size: .9em
         max-width: 90%
      &__column
         &__item
            width: 100%
            p
               &:first-child
               &:last-child
                  font-size: .9em
            &:last-child
               margin-left: auto