.contact
    padding-bottom: 40px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    overflow: hidden
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        display: block
        width: 800px
        height: 100%
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.54) 80%, rgba(0, 0, 0, 0) 90%)
    .container-fluid
        position: relative
    h4
        font-size: 80px
        border-left: 2px solid $accent
        padding: 0 60px
        line-height: 1
    p
        font-size: 18px
        margin: 0
        em
            display: block
            margin-top: 40px
            color: $accent
            font-style: normal
            margin-bottom: 10px
        a
            color: $text
    .time
        padding-top: 10px
    .social
        margin: 40px 0
        a
            margin-right: 10px
    button
        margin-bottom: 40px
    
    .author
        margin-top: 10px
        a
            color: #81BD59
            font-weight: bold

@media screen and ( max-width: 1439.98px )
    .contact
        h4
            font-size: 50px
            padding-left: 40px

@media screen and ( max-width: 1199.98px )
    .contact
        background-position: -450px center
        h4
            font-size: 60px
            padding-left: 40px

@media screen and ( max-width: 991.98px )
    .contact
        &::before
            width: 600px
        p
            font-size: 16px
        button
            font-size: 20px

@media screen and ( max-width: 767.98px )
    .contact
        background-position: -600px center
        h4
            font-size: 40px
            padding-left: 20px
        button
            font-size: 20px

@media screen and ( max-width: 576.98px )
    .contact
        background: none !important
        button
            font-size: 18px

    

