.header
	position: relative
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	background: url('../img/header/bg.jpg')
	background-size: cover
	background-position: center
	height: 100%
	min-height: 600px
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: linear-gradient(to bottom, #000, transparent)
		opacity: .8
	&::after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: #000
		opacity: .5
	.container
		position: relative
		margin: auto
		color: #ffffff
		font-size: 2em
		width: 100%
		height: 100%
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		z-index: 2
		.row
			text-align: center
			margin: auto
			h1
				font-weight: bold
				font-size: 2em
				margin: 0 auto
			p
				margin: 0 auto
			img
				width: 2em
		a
			position: absolute
			left: 50%
			bottom: 1em
			transform: translateX(-50%)
			margin-top: 3em
			color: #fff
		.slide_bottom
			display: block
			text-align: center
			padding-top: 1em
			width: 1em
			height: auto
			margin: 0 auto
			color: #fff
			-moz-animation: t-arrow-bottom 1.7s infinite ease
			-webkit-animation: t-arrow-bottom 1.7s infinite ease
			animation: t-arrow-bottom 1.7s infinite ease

@keyframes t-arrow-bottom
	0%
		-moz-transform: translateY(0)
		-ms-transform: translateY(0)
		-webkit-transform: translateY(0)
		-o-transform: translateY(0)
		transform: translateY(0)
	50%
		-moz-transform: translateY(-7px)
		-ms-transform: translateY(-7px)
		-webkit-transform: translateY(-7px)
		-o-transform: translateY(-7px)
		transform: translateY(-7px)
	55%
		-moz-transform: translateY(-7px)
		-ms-transform: translateY(-7px)
		-webkit-transform: translateY(-7px)
		-o-transform: translateY(-7px)
		transform: translateY(-7px)
	100%
		-moz-transform: translateY(0)
		-ms-transform: translateY(0)
		-webkit-transform: translateY(0)
		-o-transform: translateY(0)
		transform: translateY(0)

@media screen and (max-width: 1199.98px)
	.header
		.container
			font-size: 1.8em

@media screen and (max-width: 991.98px)
	.header
		.container
			font-size: 1.5em

@media screen and (max-width: 767.98px)
	.header
		.container
			font-size: 1.3em
			.row
				h1
					font-size: 1.7em

@media screen and (max-width: 449.98px)
	.header
		.container
			a
				bottom: 4em