@import "vars"

/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	.introHolder
		h2
			font-size: 2.2em
			line-height: 1
		p
			font-size: 1.5em

	.yellowHolder
		&__left
			h1
				font-size: 3em
			h2
				margin-top: 1.5rem
			p
				font-size: 1.7em
		&__right
			padding-left: 2em
			.yellowHolder__right__total
				font-size: 3em

	.nav_menu
		&__left
			&__text
				b
					font-size: 1.2em
				span
					font-size: 1em

	.header 
		.header__block
			&__column
				&__item
					img
						width: 3rem
					p
						font-size: 1.2rem
						b
							font-size: 1.1rem
	
	.advantages
	
	.macbook
		height: 42em
		&::before
			background-size: 960px

	.photos
		.owl-dots 
			&::after
				font-size: 1.1em
			.owl-dot.active
				span::before
					font-size: 1.3em
		figcaption
			font-size: 1.3em

	.design_project
		&__header
			p
				padding: $gutter/2 0
				font-size: 1.5em
		&__center
			p
				padding: $gutter/1.5 0
				font-size: 1.05em
				span
					font-size: 1.3em
					
	.recomendation
		.recomendation__carousel__item
			min-height: 400px
		
	.acquaintance
		&__block
			&__about
				.manager
					left: -90%
					top: 55%
					&.right
						left: auto
						right: -70%
						top: 48%
		&__img
			p
				font-size: 1rem
	
	.price
		&__header
			p
				b
					font-size: 1.4em
			&__sum
				margin: 1em 0
				font-size: 2.3em
				color: $accent
				font-weight: bold
				span
					font-size: .8em
		.introHolder
			.btn.btn-accent
				font-size: 1em

	.banner
		&__list
			ul
				margin: 0 0 0 30px
				li
					font-size: 1rem
					&::before
						left: -30px
						width: 25px
						height: 25px
		&__click
			p
				font-size: 1.6em
			
	.operator
		[class*=col-]:last-child
			padding: 0
		&__blur
			h2
				font-size: 2.8em
			ul
				li
					font-size: 1em

	.footer
		&__phone
			p
				font-size: 1.2em
		.right__title
			p
				font-size: 1.4em


// ≥992px
+media-breakpoint-down(md)

	.introHolder
		h2
			font-size: 1.6em
		p
			font-size: 1.4em

	.yellowHolder
		&__left
			h1
				font-size: 2em
			h2
				font-size: 2em
			p
				font-size: 1.15em
		&__right
			.yellowHolder__right__old
				font-size: 1em
			.yellowHolder__right__total
				font-size: 2.5em
				span
					font-size: .6em
			.yellowHolder__right__text
				font-size: 1em

	.nav_menu
		min-height: 6em
		padding: $gutter/2 0 0 0
		&__left
			width: 10%
			&__logo
				#svg
					width: 4em
			&__text
				display: none
	
		&__right
			flex-direction: row
			justify-content: center
			align-items: center
			width: 90%
			.navbar-nav
				width: 100%
				margin: auto
				padding: 0 5%
				
				.nav-item
					.nav-link
						padding: 1.3em 0
			&__items
				width: 10%
				justify-content: center
				.social
					display: none
				.phone
					p
						display: none
					p.d-lg-none
						display: block
						justify-content: center
						transition: all .5s ease
						a
							font-size: 1.5em
							margin: 0

	.nav_menu.is-sticky
		.nav_menu__left
			width: 10%
		.nav_menu__right
			width: 90%
			.nav_menu__right__items
				width: 10%
				justify-content: center
				.social
					display: none
				p
					display: none
				p.d-lg-none
					display: block
					justify-content: center
					transform: scale(.9)
					text-align: center	
	
	.clearfix
		padding-top: 6em
	
	.header
		padding: 50px 0 0 0
		min-height: 700px					
		.header__block	
			&__column
				margin-top: 2em
				&__item
					flex-direction: column
					padding: 1em .5em
					img
						width: 3em
						margin: 1em auto
					p
						font-size: 1.1em
						margin: 0 auto
						text-align: center
						b
							font-size: 1.2em

	.advantages
		.container, .row
			padding: 3em 0 5em 0
		.advantages__post
			height: 16em
			h3
				font-size: 1.2em
			p
				font-size: 1em
				line-height: 1.1
			
	.macbook
		height: 27em
		&::before
			background-size: 720px
		.button-play
			a
				margin-top: $gutter*1.5
				width: 4em
				height: 4em
				&::before
					width: 8em
					height: 8em
				&::after
					width: 12em
					height: 12em
				img
					width: 1.3em
			a:hover
				width: 4em
				height: 4em
				&::before
					width: 12em
					height: 12em
	
	.calculator
		padding: $gutter 0
		&__block
			img
				width: 4em	
			p
				font-size: 1.2em
				margin-left: 0

	.photos
		padding: $gutter 0
		.owl-dots 
			&::after
				font-size: 1em
			.owl-dot.active
				span::before
					font-size: 1.1em
		figcaption
			font-size: 1.1em
							
	.design_project
		.container
			max-width: 780px
		&__header
			p
				font-size: 1.2em
				padding-left: $gutter
		&__center
			p
				font-size: .9em
				padding: $gutter
				span
					font-size: 1.2em
				&:nth-child(3)
					min-height: 130px
				&:last-child
					min-height: 150px
		
			
		&__bottom
			height: 220px
			p
				margin-right: 20px
		.right
			.design_project__bottom
				p
					margin-left: 20px

	.acquaintance
		&__block
			text-align: center
			padding: $gutter*1.5 $gutter
			&__about
				.manager
					position: relative
					width: 50%
					left: auto
					top: auto
					&.right
						left: auto
						right: auto
						top: auto
				h3
					margin: 1rem 0
					color: $blue
					text-transform: uppercase
					font-size: 20px
					font-weight: bold
				p
					color: #fff
					font-size: 1rem
		&__img
			.col-lg-4
				padding: $gutter/2 0
		&__text
			background: #fff
			color: $text
			padding: $gutter/2 $gutter
			margin: 0

	.price
		.container
			.row
				.col, > [class*="col-"]
					margin-bottom: 2rem

	.banner
		&__list
			ul
				margin: 0 0 0 25px
				li
					font-size: .8rem
					&::before
						left: -25px
						width: 20px
						height: 20px
		&__click
			p
				font-size: 1.6rem
			.introHolder
				text-align: center
				.btn-accent
					margin: 0 auto 1em auto
					font-size: 1em
					display: block
				.download
					font-size: 1em
	
	.after
		&__block
			padding: 0
			p
				font-size: 1rem
				a,
				b
					font-size: 1.2rem
			[class*=col-]
				padding: $gutter
			
	.operator
		[class*=col-]:last-child
			padding: 0
		&__blur
			h2
				font-size: 2em
				line-height: 1.3
			ul
				li
					font-size: .8em
		&__text
			h4
				font-size: 1.2em
			p
				font-size: 1em
			p.phone
				font-size: 1.2em
				span
					font-size: 1.2em
					display: block

	.footer
		background: $text
		#map_page
			width: 100%
			height: 100%
			position: relative
			min-height: 400px
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 55%
				height: 100%
				background: transparent
				opacity: 0
		[class*=col-]
			padding-left: 0
			padding-right: 0
		.right__title
			left: 0

	.modal-content
		.modal-header
			h3
				font-size: 1.8em

	.modal-content.catalog__form
		.modal-body
			padding: 0
			p
				text-align: center
				font-size: 1em
				span
					font-size: 1.3em
				b
					font-size: 1.3em
					display: block
			p.blue
				font-size: 1.3em
			p.right
				font-size: 1.3em
				text-align: center

	.modal-content.okhall-modal
		.modal-body
			p
				text-align: center
				a
					color: #111

	.modal-content.price__form
		.modal-header
			.form__two__header
				h2
					font-size: 22px
			.form__three__header
				h2
					font-size: 22px
		.modal-body
			.row
				p
					padding: 0
					margin: 0
					text-align: center
					padding: 0
				label
					padding: 2rem 0 0 0
				label:before 
					top: 10px
				.form-control,
				.form__one__button
					margin: .5rem auto
				.form__one__button
					margin: 0 auto
					box-sizing: border-box
				.form__one__bottom
					margin-top: 1rem
				
		.no-padding
			padding-bottom: 1rem
			.col-lg-6
				padding: 0

		
// ≥768px
+media-breakpoint-down(sm)
	.download
		font-size: .8em
	
	.introHolder
		h2
			font-size: 26px
			line-height: 1.3
		p
			font-size: 20px
			
	.yellowHolder
		&__left
			text-align: center
		&__right
			margin: 0 auto
			margin-top: 2rem
			padding: 2rem
			max-width: 300px
			border-left: none
			border-top: 2px solid $accent
			p
				text-align: center
			.yellowHolder__right__total
				font-size: 3rem
				span
					font-size: 1.4rem
	
	.nav_menu
		padding: 0
		.row
			padding: $gutter/6 0
		.mobile__menu
			display: flex
			align-items: center
			width: 15%
		.nav_menu__left
			width: 70%
			justify-content: center
		.nav_menu__right
			width: 15%
			.navbar-nav
				display: none
			
	.nav_menu.is-sticky
		padding: 0
		.row
			padding: $gutter/6 0
		.mobile__menu
			display: flex
			width: 15%
		.nav_menu__left
			width: 70%
			justify-content: center
		.nav_menu__right
			width: 15%

	.header
		padding: 50px 0 0 0
		min-height: 1000px
		.header__block	
			&__column
				margin-top: 2rem
				&__item
					padding: 0.5rem 5%
	
	.advantages
		.container
			padding: 1rem 0
		.advantages__post
			height: auto
			padding: 3rem 0 .5rem 0
			align-items: center
			background-position: left top
			h3
				font-size: 1.2em
			.btn_more
				color: $text
				display: inline
			.show_more
				display: none
			.show_more.collapse.show
				display: block

	.macbook
		padding: $gutter*2 0 $gutter*4 0
		height: auto
		.container
			height: 100%
			margin: auto
		&::before
			left: 0
			top:  0
			width: 100%
			height: 100%
			background-position: top
			background-size: cover
			background-repeat: no-repeat		
			background-image:url('../img/macbook/screen.jpg')

	.calculator
		padding: $gutter*2 0
		&__block
			text-align: center
			.col-md-4
				margin-bottom: $gutter
			.col-md-4:last-child
				margin-bottom: 0
			img
				width: 3rem
			p
				font-size: 1.2rem
				text-align: center
				margin: 1rem 0
	
	.photos
		&__block
			padding-bottom: 15px
			border-bottom: 1px solid #e7e7e7
			margin-bottom: 30px
			p
				font-size: 1rem
	
	.design_project
		&::before
			left: 0
			top: 0
			width: 100%
			height: 52%
		&::after
			left: 0
			top: 52%
			width: 100%
			height: 48%
		.container
			max-width: 100%
		.introHolder
			h2
				font-size: 26px
				span
					display: block
			p
				font-size: 20px
		&__header
			p
				color: #ffffff
				font-size: 1.3rem
				text-align: center
		.right
			.design_project__header
				p
					padding: $gutter
					height: auto
		&__center
			p
				font-size: 1rem
				height: auto
				padding: $gutter/2
				span
					font-size: 1.2rem
				&:nth-child(3)
					min-height: auto
				&:last-child
					min-height: auto
					padding-bottom: 0
		&__bottom
			margin: 0
			height: auto
			padding: $gutter $gutter*2
			p
				margin-right: 0
		.right
			.design_project__bottom
				p
					margin-left: 0
	
	.recomendation
		.slide
			.recomendation__carousel__item
				margin: 0
				text-align: center
				padding-right: 0
				&::before
					content: ''
					position: absolute
					left: 0
					top: 200px
					width: 100%
					height: 100%
				img
					max-width: 300px
				p
					margin: 1em 0
					padding: 0

	.acquaintance
		&__block
			margin: 1rem 0
			height: auto

	.banner
		min-height: 1200px
		&__list
			ul
				margin: 0 0 0 30%
				padding: 0
				width: 380px
				li
					font-size: 1.2rem
					height: auto
					padding: 0 0 $gutter 0
					&::before
						left: -40px
						width: 30px
						height: 30px	
					span
						display: block	
		&__click
			p
				font-size: 1.6rem
				line-height: 1.2
				.line
					display: none
			.introHolder
				text-align: center
				padding: 1rem 0
				.btn-accent
					margin: 0 2rem 0 0
					display: inline-block
					padding: .5rem 2rem

	.after
		&__block
			padding: 0
			p
				font-size: 20px
				a,
				b
					font-size: 24px

	.operator
		&__blur
			h2
				font-size: 26px
				margin-bottom: 1rem
			ul
				li
					font-size: 20px
		&__text
			h4
				font-size: 22px
			p.phone
				font-size: 20px
				span
					font-size: 24px
					display: block
			img
				display: none
	
	.footer
		&__text
			margin: 0 0 0 3rem
		[class*=col-]
			padding-left: 15px

	.owl-nav 
		position: absolute
		top: 40%
		left: 0
		transform: translateY(-50%)
		button.owl-next, 
		button.owl-prev
			width: 40px
			height: 40px
			font-size: 20px

// ≥576px
+media-breakpoint-down(xs)
	
	.introHolder
		.btn.btn-accent
			font-size: .9rem
			padding: .5rem 1rem
	
	.yellowHolder
		&__left
			h1, h2
				font-size: 1.6em
			p
				font-size: 1.1em

	.header
		min-height: 1000px
		.header__block				
			&__column
				margin-top: 1rem
				&__item
					padding: 1rem 4%
					img
						
					p
						font-size: 1rem
						b
							font-size: 1.1rem
	
	.advantages
		.advantages__post
			height: auto
			padding: 3rem 0 .5rem 0
			align-items: center
			p
				font-size: .9em
				line-height: 1
	
	.photos
		&__block
			text-align: center
			p
				padding: 0 1rem
				line-height: 1
		.owl-dots 
			&::after
				font-size: .7em
			.owl-dot.active
				span::before
					font-size: .7em
		figcaption
			font-size: .8em
	
	.design_project
		&__header
			p
				font-size: 1.3rem
				padding: $gutter 0
				span
					padding: 10px 10px
					margin-right: .3rem
		.right
			.design_project__header
				p
					padding: $gutter 0
		&__center
			p
				text-align: center
		&__bottom
			padding: $gutter $gutter
			height: auto
			p
				margin-right: 0
				padding: 10px 10px 10px 50px
				&::before
					left: 4% 
		.right
			.design_project__bottom
				p
					margin-left: 0

	.recomendation
		.slide
			.recomendation__carousel__item
				img
					max-width: 250px
				p
					margin: 1em .5em
		.carousel
			.carousel-control-prev-icon,
			.carousel-control-next-icon
				width: 40px
				height: 40px
			.carousel-control-prev-icon::before,
			.carousel-control-next-icon::before
				width: 20px
				height: 20px
			.carousel-control-prev-icon
				left: -30px
			.carousel-control-next-icon
				right: -30px

	.acquaintance
		&__img
			padding: $gutter*1.5 $gutter
		
	.banner
		&__list
			ul
				margin: 0 0 0 15%
				width: 280px
				li
					font-size: 1rem
					&::before
						left: -35px
						width: 25px
						height: 25px	
					span
						display: block
		&__click
			padding: 0 5%
			text-align: center
			.introHolder
				text-align: center
				.btn-accent
					margin: 1rem 15%
					display: block
					padding: .5rem 2rem
	
	.partners
		.uk-slidenav
			width: 40px
			height: 40px
			line-height: 26px
	
	.after
		[class*=col-]
			padding: $gutter
			flex-direction: column
			justify-content: center
		img
			width: 50px
			margin: 30px auto
		p
			text-align: center

	.operator
		&__blur
			h2
				font-size: 24px
			ul
				li
					font-size: 1rem
		
	.footer
		&__logo
			text-align: center
			margin: 0 auto
		&__text
			text-align: center
			font-size: 1rem
			margin: 0
			b
				font-size: 1.2rem
		&__phone
			.block
				display: block
		&__social
			margin-bottom: 1rem
		.footer__grey__text.bottom
			margin: 0
		[class*=col-]
			padding: 0 $gutter
			text-align: center
		.right__title
			position: relative
			width: 100%
			max-width: 100%
			text-align: center
			padding: 20px
			p
				font-size: 20px

	.mm-listitem
		margin-left: 0

	.modal-content
		.modal-header
			h3
				font-size: 1.6em

	.modal-content.price__form
		.modal-body
			.row
				border-top: .5px solid #e7e6e6
				text-align: center
				padding: $gutter/2 0
				p
					text-align: center
					padding: 0 $gutter/6
					margin-botto: .5em
					b
						font-size: 1.3em
				label
					padding: 1.5em 0 0 0
					font-size: .9em



@media screen and (max-width: 400px)
	

	.modal-content.okhall-modal
		.modal-body
			p
				font-size: 1em
				line-height: 1.1
				a
					color: #111

	.modal-content.price__form
		.modal-header
			padding: 0
			margin: 0 auto
			p
				b
					font-size: 1.2em
					line-height: 1.1
			.form__two__header,
			.form__three__header
				padding: 1em 0
				margin: 0 auto
				h2
					font-size: 1.2em
				p
					line-height: 1
		.modal-body
			padding: 0
			margin: 0 auto
			.row
				padding: 0
				margin: 0 auto
				p
					b
						font-size: 1.2em
						line-height: 1.1
				label
					padding: 2em 0 0 0
				label:before 
					top: 10px
				.form__two__grey
					font-size: 0.9em
					margin: 1em 0
				
		.no-padding
			padding-bottom: .5em
			.col-lg-6
				padding: 0


@media screen and (max-width: 350px)
	.introHolder
		.btn.btn-accent
			font-size: .8rem
	.header
		min-height: 1100px
	.banner__list ul
		width: 260px
	.footer
		.right__title
			padding: 20px 10px

// /*==========  Mobile First  ==========*/
// ≤576px
+media-breakpoint-up(sm)
    
// ≤768px
+media-breakpoint-up(md)
    
// ≤992px
+media-breakpoint-up(lg)
    

// ≤1200px
+media-breakpoint-up(xl)

@media screen and (min-width: 993px) and (max-width: 1199px)
	body
		font-size: 14px
	.container
		max-width: 900px
	.header
		.header__block
			&__column
				&__item
					p
						font-size: 1.1em
	.acquaintance
		.container
			max-width: 910px

@media screen and (min-width: 1200px) and (max-width: 1440px)
	body
		font-size: 13px
	.container
		max-width: 960px
	.acquaintance
		.container
			max-width: 910px
	.after
		&__block
			padding: $gutter 0
			[class*=col-]
				padding: $gutter*1.5 $gutter*1.5
	.modal-video
		max-width: 960px


@media screen and (min-width: 1300px)
	.header
		.header__block
			&__column
				padding-top: 2em

	.macbook
		&::before
			background-size: 86em

	.design_project
		&__center
			p
				padding: $gutter/2 0
				span
					font-size: 1.4em

	.recomendation .carousel .carousel-control-prev
		left: -7%
	.recomendation .carousel .carousel-control-next
		right: -7%
	.recomendation .carousel .recomendation__carousel__item
		min-height: 450px 
		padding-right: 0px
	.owl-carousel
		.owl-nav 
			button.owl-prev
				left: -8%
			button.owl-next
				right: -8%