@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

	.introHolder
		h2
			font-size: 36px
			line-height: 1

	.header 
		min-height: 600px
		.header__nav 
			&__left
				&__text
					b
						font-size: 18px
					span
						font-size: 1rem
		.header__block
			&__h1
				font-size: 3rem
			&__text
				font-size: 1.8rem
			&__price
				.old
					font-size: 1.8rem
				.price
					font-size: 2.8rem
			&__column
				p
					font-size: 1.1rem
					b
						font-size: 1.2rem
	.advantages
		.container
			padding: 3rem 0 6rem 0
	.macbook
		height: 600px
		&::before
			top: -7vh
			background-size: 960px
		.button-play
			a
				margin-top: $gutter*2
				width: 90px
				height: 90px
				border-radius: 90px
				&::before
					width: 200px
					height: 200px
				&::after
					width: 300px
					height: 300px
			a:hover
				width: 90px
				height: 90px
				&::before
					width: 300px
					height: 300px

	.design_project
		&__header
			p
				color: #ffffff
				font-size: 1.7rem
					
						
// ≥992px
+media-breakpoint-down(md)

	.introHolder
		h2
			font-size: 26px
		p
			font-size: 24px

	.header
		min-height: 600px
		.header__nav 
			&__left
				width: 10%
				&__text
					position: absolute
					left: 50%
					top: 0
					transform: translateX(-50%)
					text-transform: uppercase
					color: $accent
					span
						display: none
		
			&__right
				display: flex
				flex-direction: row
				justify-content: flex-start
				align-items: center
				width: 90%
				margin: auto
				.navbar-nav
					margin: 0 5%
					.nav-item
						.nav-link
							font-size: .9rem
							margin-top: 2rem
							padding: 0 0 2rem 0
				&__items
					.social
						display: none
					.phone
						p
							display: none
						p.d-lg-none
							display: inline-block
							a
								font-size: 2rem

		.header__nav.sticky
			.header__nav__right
				.navbar-nav
					margin: 0 5%
					.nav-item
						.nav-link
							font-size: .9rem
							margin-top: 0
							padding: 2rem 0
				&__items
					width: 10%
					
		.header__block
			&__h1
				font-size: 2.2rem
			&__text
				font-size: 1.3rem
			&__price
				padding: 1rem 0 1rem 2rem
				.old
					font-size: 1.3rem
				.price
					font-size: 2rem
					
			&__column
				text-align: center
				padding: 0
				.row
					width: 100%
					margin: 0
					padding: 0
				img
					padding: 0 0 1rem 0
				p
					font-size: 1.1rem
					padding: 0
					margin: 0
					b
						font-size: 1.2rem
	.advantages
		.container
			padding: 3rem 0 4rem 0

	.macbook
		height: 430px
		&::before
			top: -5vh
			background-size: 720px
		.button-play
			a
				margin-top: $gutter*1.5
				width: 60px
				height: 60px
				&::before
					width: 140px
					height: 140px
				&::after
					width: 200px
					height: 200px
				img
					width: 20px
			a:hover
				width: 60px
				height: 60px
				&::before
					width: 200px
					height: 200px
	
	.calculator
		padding: $gutter 0
		&__block
			img
				width: 4rem	
			p
				font-size: 1.2rem
				margin-left: 0
				
	.design_project
		.container
			max-width: 780px
		&__header
			p
				color: #ffffff
				font-size: 1.2rem
		.right
			.design_project__header
				p
					padding: $gutter
		&__center
			p
				font-size: 1rem
				height: 140px
				padding: $gutter
				span
					font-size: 1.2rem
				&:last-child
					min-height: 200px
		&__bottom
			height: 220px
			p
				margin-right: 20px
		.right
			.design_project__bottom
				p
					margin-left: 20px



// ≥768px
+media-breakpoint-down(sm)
	.introHolder
		h2
			font-size: 26px
			line-height: 1.3
		p
			font-size: 20px

	.header
		min-height: 900px
		.header__nav
			padding: $gutter/2 0
			.row
				display: flex
				flex-direction: row
				justify-content: space-between
			.mobile__menu
				display: flex
				width: 20%
			&__left
				width: 20%
				justify-content: center
				&__logo
					a
						display: flex
						align-items: center
						text-align: center
					#svg
						width: 3rem
				&__text
					display: none
			&__right
				width: 20%
				margin: 0
				justify-content: center
				.navbar-nav
					display: none
				
		.header__nav.sticky
			.row
				display: flex
				flex-direction: row
				justify-content: space-between
			.mobile__menu
				width: 20%
				.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
					background-color: $text
			.header__nav__left
				width: 20%
				justify-content: center
				&__logo
					#svg
						width: 3rem
			.header__nav__right
				width: 20%
				margin: 0
				justify-content: center
				.navbar-nav
					display: none
		
		.header__block
			text-align: center
			&__h1
				font-size: 1.8rem
			&__text
				font-size: 1rem
			&__price
				margin-top: 2rem
				padding: 1rem 0 1rem 2rem
				max-width: 300px
				border-left: none
				border-top: 2px solid $accent
			
				.old
					font-size: 1.3rem
				.price
					font-size: 2.3rem
				.date
					font-size: 1.2rem
				
			&__column
				margin-top: 3rem
				.col, > [class*="col-"]
   				margin-bottom: 2rem

	.advantages
		.container
			padding: 3rem 0
		.advantages__post
			align-items: center
			h3
				font-size: 18px
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis
			&__text
				height: 60px
				overflow: hidden

	.macbook
		padding: $gutter*2 0 $gutter*4 0
		height: auto
		.container
			height: 100%
			margin: auto
		&::before
			left: 0
			top:  0
			width: 100%
			height: 100%
			background-position: top
			background-size: cover
			background-repeat: no-repeat		
			background-image:url('../img/macbook/screen.jpg')

	.calculator
		padding: $gutter*2 0
		&__block
			text-align: center
			.col-md-4
				margin-bottom: $gutter
			.col-md-4:last-child
				margin-bottom: 0
			img
				width: 3rem
			p
				font-size: 1.2rem
				text-align: center
				margin: 1rem 0
	.photos
		p
			font-size: 1rem
	
	.design_project
		.container
			max-width: 100%
		&__header
			p
				color: #ffffff
				font-size: 1.3rem
				text-align: center
		.right
			.design_project__header
				p
					padding: $gutter
					height: auto
		&__center
			p
				font-size: 1rem
				height: auto
				padding: $gutter/2
				span
					font-size: 1.2rem
				&:last-child
					min-height: auto
					padding-bottom: 0
		&__bottom
			margin: 0
			height: auto
			padding: $gutter $gutter*2
			p
				margin-right: 0
		.right
			.design_project__bottom
				p
					margin-left: 0

// ≥576px
+media-breakpoint-down(xs)

	.introHolder
		.btn.btn-accent
			font-size: .9rem
			padding: .5rem 1rem
			
	.header
		min-height: 1000px

	.advantages
		.advantages__post
			h3
				font-size: 18px
				white-space: normal
				overflow: visible
			&__text
				display: none
	.photos
		.col-12
			text-align: center
			p
				padding: 0 1rem
				line-height: 1
	
	.design_project
		&__header
			p
				font-size: 1rem
				padding: $gutter 0
				span
					padding: 10px 10px
					margin-right: .3rem
		&__center
			p
				text-align: center
		&__bottom
			padding: $gutter $gutter
			height: auto
			p
				margin-right: 0
		.right
			.design_project__bottom
				p
					margin-left: 0
				

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
