.menu
    width: 100%
    height: 100vh
    background-size: cover
    background-position: top center
    background-repeat: no-repeat
    position: relative
    h2
        position: absolute
        left: 60px
        font-size: 80px
        border-left: 2px solid $accent
        padding: 0 60px
        line-height: 1
        color: $text
    #pages
        position: relative
        max-width: 900px !important
        margin-left: 90px
        .page
            padding: 50px
            max-width: 450px !important


