.divider
   height: 60px
   display: block
.navbar
   position: fixed
   background: #ffffff
   left: 0
   top: 0
   width: 100%
   padding: 0 15px
   z-index: 99
   .hamburger-box
      width: 30px
      height: 16px
   .hamburger-inner, 
   .hamburger-inner:after, 
   .hamburger-inner:before
      width: 30px
      height: 2px
      background-color: $text
   .hamburger.is-active
      .hamburger-inner, 
      .hamburger-inner:after, 
      .hamburger-inner:before
         background-color: $text
   .hamburger--slider 
      .hamburger-inner
         top: 1px
   .navbar-brand
      display: flex
      align-items: center
      color: $text
      font-size: 1.2em
      transition: all .3s ease-in-out
      position: relative
      img
         width: 250px
         height: auto
         margin: 0 auto
         margin-right: 0.5em
         padding: 0
         transition: all .5s ease-in-out
   .navbar-nav
      .nav-link
         color: $text
         margin-right: .2em
         &:hover
            color: lighten($text, 20%)
   .nav-link
      font-size: .9em
      font-weight: bold
      text-transform: uppercase
      &.phone
         color: $accent

@media screen and (max-width: 1199.98px)
   .navbar
      .nav-link
         font-size: 0.7em

@media screen and (max-width: 991.98px)
   .navbar
      .nav-link
         text-align: center
         font-size: 1em

@media screen and (max-width: 767.98px)
   .navbar
      .navbar-brand
         img
            width: 200px
      .navbar-nav
         padding-top: 20px
      .phone
         padding-bottom: 40px
   