.navbar
   border-bottom: 1px solid #E3E3E3
   padding: 0
   .container
      position: relative
   .navbar-toggler
      background: transparent
      color: transparent
      border: none
      .hamburger-box
         width: 28px
         height: 16px
      .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
         background-color: #fff
         height: 2px
         width: 28px
      .hamburger-inner:before
         width: 20px
   .navbar-brand
      width: 125px
      height: auto
   .navbar-nav
      width: 100%
      max-width: 590px
      justify-content: space-around
      .nav-link
         position: relative
         font-size: .9em
         color: $text
         text-transform: uppercase
         padding-top: 30px
         padding-bottom: 30px
         &:hover
            color: $accent-dark
         &::after
            content: ''
            position: absolute
            left: 0
            bottom: -2px
            width: 100%
            height: 3px
            border-radius: 6px
            background-color: $accent-dark
            transform: scale(0)
            transition: all .3s ease
         &:hover::after
            content: ''
            position: absolute
            left: 0
            bottom: -2px
            width: 100%
            height: 3px
            border-radius: 6px
            background-color: $accent-dark
            transform: scale(1)
   
   .mobile-last
      display: flex
      justify-content: space-around
      align-items: center
      padding-right: 15px
   
   .navbar-phone
      width: 44px
      height: auto
      line-height: 0
      border-radius: 50%
      margin-left: 1.25em
      padding: 15px
      border: 1px solid $bg-light
      margin: 0
      text-align: center
      transition: background .35s ease
      img
         width: 15px
         height: auto

   .navbar-notification
      border: 1px solid $bg-light
      border-radius: 50px
      padding: 11px 22px
      margin: 0 1.25em
      color: $accent-dark
      font-size: 0.9em
      text-align: center
      transition: background .35s ease
      &:hover,
      &:active
         background: #fff

   .navbar-user
      padding: 12px
      img
         width: 22px
         height: auto
   
   .navbar-enter
      border: 1px solid $bg-light
      border-radius: 50px
      padding: 11px 22px
      margin: 0
      color: #ffffff
      background: linear-gradient(180deg, #2A6FF7 0%, #1B489D 100%)
      font-size: 0.9em
      text-align: center
      transition: all .35s ease
      &:hover,
      &:active
         background: linear-gradient(180deg, #2A6FF7 50%, #1B489D 100%)

   
   .navbar-notification.hasPush
      background: $bg-light
      width: 44px
      height: auto
      line-height: 0
      border-radius: 50%
      padding: 15px 12px
      margin: 0 1.25em
      &:hover,
      &:active
         background: #fff
      img
         width: 20px
         height: auto
      .navbar-notification--img
         width: 20px
         position: relative
         &:before
            content: ''
            position: absolute
            top: -5px
            right: -5px
            width: 10px
            height: 10px
            border: 2px solid $bg-light
            background: #D60016
            border-radius: 50%
   
   .navbar-user
      display: flex
      justify-content: space-between
      align-items: center
      line-height: 1
      max-width: 215px
      border-radius: 50px
      padding-right: 35px
      position: relative
      border: 1px solid $bg-light
      background: $bg-light
      transition: background .35s ease
      &::before
         content: ''
         position: absolute
         right: 15px
         top: 55%
         transform: translateY(-50%)
         width: 10px
         height: 6px
         display: block
         background-image: url('../img/navbar/arrow-down.svg')
         opacity: .5
         transition: background .35s ease
      &:hover,
      &:active
         background: #fff
         &::before
            opacity: 1
      .navbar-user--name
         font-size: 0.9em
         color: $text
         margin: 0
         max-width: 136px
         white-space: nowrap
         overflow: hidden
         padding: 0 10px
         text-overflow: ellipsis
   
   .dropdown-center
      .dropdown-menu
         margin-top: 18px
         width: 350px
         border-radius: 0
         transform: translateX(-50%)
         left: 45%
         box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12)
         border: 1px solid $border
         &:before
            content: ''
            position: absolute
            top: -7px
            left: 50%
            transform: translateX(-50%)
            width: 12px
            height: 12px
            background: #ffffff
            border-left: 1px solid $border
            border-top: 1px solid $border
            transform: rotate(45deg)

      .dropdown-menu
         padding: 0
         .dropdown-header
            padding: 15px 30px
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12)
            border-bottom: 1px solid $border
            a
               color: $accent-dark
               text-decoration: underline
               &:hover
                  text-decoration: none
      
      .dropdown-body
         height: 420px
         overflow-y: auto
         .dropdown-body--item
            display: block
            padding: 17px 17px 17px 50px
            border-top: 1px solid $border
            transition: background .35s ease
            p
               position: relative
               font-weight: bold
               font-size: .9em
               color: #777777
               margin: 0
            span
               font-size: 0.9em
               color: #99999B
            &:hover
               background: #F9F9F9
         .hasNew
            p
               position: relative
               font-weight: bold
               font-size: .9em
               color: #1D1D1D
               margin: 0
               &:before
                  content: ''
                  position: absolute
                  left: -1.5em
                  top: .8em
                  transform: translateY(-50%)
                  background: #D60016
                  border-radius: 50%
                  width: 10px
                  height: 10px

   .dropdown-right
      .dropdown-menu
         margin-top: 17px
         width: 235px
         border-radius: 0
         box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.12)
         border: 1px solid $border
         padding: 35px 30px 0 30px
         &:before
            content: ''
            position: absolute
            top: -7px
            right: 15px
            width: 12px
            height: 12px
            background: #ffffff
            border-left: 1px solid $border
            border-top: 1px solid $border
            transform: rotate(45deg)
         .dropdown-menu-user--img
            display: block
            width: 66px
            height: auto
            line-height: 0
            border-radius: 50%
            background: #F9F9F9
            padding: 19px
            margin: 0 auto
            text-align: center
            img
               width: 28px
               height: 28px
         .dropdown-menu-user--name
            font-weight: bold
            font-size: 0.85em
            margin: 1em auto 0 auto
            padding-bottom: 1em
            display: block
            text-align: center
         .dropdown-menu-item
            border-top: 1px solid #EAEBED
            border-bottom: 1px solid #EAEBED
            padding: 20px 0
            a
               padding-bottom: 15px
               font-size: 0.9em
               display: block
               &:last-child
                  padding-bottom: 0
            .order
               color: $accent-dark
         .logout
            position: relative
            padding: 20px 0 20px 25px
            color: #D60016
            display: block
            &:before
               content: ''
               position: absolute
               left: 0
               top: 50%
               transform: translateY(-50%)
               width: 18px
               height: 18px
               background: url('../img/navbar/logout.svg')

      
@media screen and (max-width: 1199.98px)
   .navbar
      .navbar-brand
         width: auto
      .navbar-notification,
      .navbar-user,
      .navbar-enter
         font-size: 0.9em
      .navbar-user
      .navbar-brand
         img
            width: 90px
      .navbar-nav
         justify-content: center
         .nav-link
            font-size: .8em
      .dropdown-center
         .dropdown-menu
            margin-top: 17px
      .dropdown-right
         .dropdown-menu
            margin-top: 16px

@media screen and (max-width: 991.98px)
   .navbar
      .navbar-brand
         img
            width: 70px
      .navbar-nav
         width: 100%
         justify-content: center
         .nav-link
            font-size: .7em
      .navbar-notification,
      .navbar-user,
      .navbar-enter
         font-size: 0.7em
      .navbar-notification
         padding: 13px 20px
      .navbar-notification
         margin: 0 .5em
      .dropdown-center
         .dropdown-menu
            width: 300px
      .dropdown-center,
      .dropdown-right
         .dropdown-menu
            margin-top: 15px

@media screen and (max-width: 767.98px)
   .navbar
      border-bottom: none
      background: $accent-dark
      padding: 10px 0
      .navbar-collapse
         width: 100%
         text-align: center

      .mobile-last
         position: absolute
         right: 10px
         top: 3px
         padding: 0
      .navbar-nav
         max-width: 100%
         padding: 1em 0
         .nav-link
            color: #ffffff
            font-size: 1em
            padding: .5em 1em
            &::after
               bottom: 0
               width: 100%
               height: 0
               border-radius: 0
               transform: scale(0)
            &:hover
               color: #ffffff
            &:hover::after
               bottom: 0
               width: 100%
               height: 0
               border-radius: 0
               transform: scale(0)
      
      .navbar-phone,
      .navbar-notification,
      .navbar-user
         background: $bg-light
         font-size: 1em
      .navbar-notification
         padding: 10px 20px
      .navbar-user
         max-width: 350px
         .navbar-user--name
            max-width: 200px
      .navbar-enter
         font-size: 1em

      .dropdown-center
         .dropdown-menu
            transform: translateX(0)
            right: 0
            left: auto
            &:before
               left: auto
               right: 35px
      
      .dropdown-right
         .dropdown-menu
            width: 270px
            .dropdown-menu-item
               a
                  font-size: 1em

@media screen and (max-width: 576.98px)
   .navbar
      .navbar-phone,
      .navbar-notification,
      .navbar-user,
      .navbar-enter
         font-size: 0.8em
      .navbar-notification,
      .navbar-enter
         padding: 13px 20px
      .dropdown-center
         .dropdown-menu
            width: 300px
            &:before
               left: auto
               right: 32px
      .dropdown-right
         .dropdown-menu
            width: 250px

@media screen and (max-width: 399.98px)
   .navbar
      .dropdown-center
         .dropdown-menu
            width: 290px
            transform: translateX(-60%)
            right: auto
            left: 0
            &:before
               left: auto
               right: 25%
@media screen and (max-width: 349.98px)
   .navbar
      .navbar-notification
         padding: 13px
      .dropdown-center
         .dropdown-menu
            transform: translateX(-50%)
            &:before
               right: 35%