.products
   [class*="col-"]
      padding: 0 5px
      margin-bottom: 5px
   .products-item
      overflow: hidden
      background: #f5f5f5
      border: 1px solid #f5f5f5
      border-radius: 6px
      position: relative
      transition: all .35s ease
      &--more
         text-align: right
      a
         color: $grey
         cursor: pointer !important
         display: block
         position: relative
         &:hover
            color: $text
         img
            max-width: 100%
            transition: all .35s ease
         p
            font-size: 1.3em
            line-height: 1
            font-weight: bold
            padding: 0 1em
            margin-bottom: 0
            transition: all .35s ease
            display: block
         .more-link
            opacity: 0
            transition: all .5s ease
            transform: translateX(30px)
            display: inline-block
            padding: 0 0 1em 0
            text-transform: uppercase
            font-size: 0.8em
            cursor: pointer
            .fas
               transition: all .3s ease
               transform: translateX(-5px)
      &:hover
         background: linear-gradient(45deg, #ebebeb, #f5f5f5)
         border: 1px solid #ebebeb
         a
            img
               transform-origin: 0px 0px
               transform: translateX(30px) translateY(-40px)
            p
               transform: translateY(-30px)
            .more-link
               opacity: 1
               transform: translateX(-20px)
         .more-link:hover
            .fas
               transform: translateX(0px)

@media screen and (max-width: 991.98px)
   .products
      .products-item
         p
            font-size: 1.1em

@media screen and (max-width: 767.98px)
   .products
      .products-item
         p
            font-size: 1.3em

@media screen and (max-width: 767.98px)
   .products
      [class*="col-"]
         padding: 0 15px