.single_content
    .content-center 
        img
            margin: 20px auto
            display: block
            max-width: 100%
            height: auto
            &.img-width
                width: 100%
        &-block
            margin-top: 1em
        p
            text-align: justify
            text-align-last: left
    &_line
        background: #f2f2f2
        padding: .5em
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        font-size: .8em
        margin: 1em 0
        .post-categories
            margin: 0
            padding: 0
            display: inline-block
            li
                margin: 0 .5em 0 0
                padding: 0
                list-style: none
                display: inline-block
        .category
            display: flex
            flex-direction: row
            align-items: center
            padding: 0
            margin: 0
            .single_category_date,
            .single_category_tags,
            .single_category_tag
                .far, .fas
                    color: #888
                    margin-right: .3em
            .single_category_date,
            .single_category_tags
                margin-right: 0.8em
            .single_category_tags,
            .single_category_tag
                a
                    margin-right: 0.5em
        .social
            display: flex
            flex-direction: row
            align-items: center
            p
                margin: 0
            .fab, .far
                margin-left: .5em
                font-size: 1.5em
            .far
                margin-right: .5em
                color: #888888
    .wpcf7-form
        max-width: 300px
        margin: 0 auto
        .btn
            margin: 0
    .policy__checked
        justify-content: center !important

@media screen and (max-width: 577.98px)
    .single_content
        &_line
            .category
                .single_category_tags,
                .single_category_tag
                    .far, .fas
                        display: none
                        margin: 0
                .single_category_tags
                    .post-categories
                        li
                            a
                                font-size: .7em
            .social
                .fab, .far
                    font-size: 1em