.top-nav-bar
  background-color: $WildSand
  margin-bottom: 30px
  ul
    align-items: center
    display: flex
    justify-content: space-between
    li
      border-right: 1px solid $silver
      height: 55px
      width: 145px
      &:first-child
        border-left: 1px solid $silver
      a
        align-items: center
        color: $text
        display: flex
        font-size: .6em
        height: 100%
        padding-left: 10px
        text-align: center
        &:before
          background-repeat: no-repeat
          content: ''
          display: inline-block
    li:nth-child(1) a:before
      background-image: url("/img/icons/icon-category-0.svg")
      content: ''
      display: inline-block
      height: 24px
      width: 39px
    li:nth-child(2) a:before
      background-image: url("/img/icons/icon-category-1.svg")
      content: ''
      display: inline-block
      height: 33px
      width: 52px
    li:nth-child(3) a:before
      background-image: url("/img/icons/icon-category-2.svg")
      content: ''
      display: inline-block
      height: 32px
      width: 40px
    li:nth-child(4) a:before
      background-image: url("/img/icons/icon-category-3.svg")
      content: ''
      display: inline-block
      height: 25px
      width: 53px
    li:nth-child(5) a:before
      background-image: url("/img/icons/icon-category-4.svg")
      content: ''
      display: inline-block
      height: 25px
      width: 55px
    li:nth-child(6) a:before
      background-image: url("/img/icons/icon-category-5.svg")
      content: ''
      display: inline-block
      height: 33px
      width: 40px
    li:nth-child(7) a:before
      background-image: url("/img/icons/icon-category-6.svg")
      content: ''
      display: inline-block
      height: 33px
      margin-right: 6.2px
      width: 40px
    li:nth-child(8) a:before
      background-image: url("/img/icons/icon-category-7.svg")
      content: ''
      display: inline-block
      height: 32px
      margin-right: 15px
      width: 29px
    li:hover
        background-color: $accent
        a
          color: #fff
