$default-font: 'Roboto Condensed', sans-serif
$text: #151515
$text-hover: #c1c1c1
$white: #ffffff

$border-light: #e5e9f2
$bg-main: #f7f7f7
$bg-hover: #f5f6fa

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$gutter: 30px
