@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	box-sizing: border-box
	margin: 0
	padding: 0
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%
figure, .wp-block-image
	margin: 0
	padding: 0
b, strong
	font-weight: bold
a, a:hover
	text-decoration: none
	
.download
	font-size: 1.2rem
	text-decoration: none
	position: relative
	color: $blue
	padding: 4px 0
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 2px
		width: 100%
		height: 1px
		background: $blue
		transition: background-color .3s ease
	&:hover
		color: $blue
		&::before
			height: 0

.line
	margin: 0 0 0 40px
	padding: 0
	position: relative
	.arrow
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 50px
		height: 2px
		background-color: #ffffff
	.arrow:before
		content: ''
		display: block
		position: absolute
		top: 0
		right: -1px
		width: 10px
		height: 2px
		background-color: #ffffff
		transform: rotate(-45deg)
		transform-origin: 100% 0%
	.arrow:after 
		content: ''
		display: block
		position: absolute
		top: 0
		right: -2px
		width: 10px
		height: 2px
		background-color: #ffffff
		transform: rotate(45deg)
		transform-origin: 100% 0%

.introHolder
	text-align: center
	margin: 0 auto
	padding: $gutter 0
	position: relative
	h2
		font-size: 46px
		line-height: 60px
		font-weight: 700
		text-transform: uppercase
		color: #ffffff
		margin-bottom: 1rem
		span
			color: $accent
	p
		font-size: 30px
		font-weight: 500
		color: #ffffff	
		line-height: 1
	.btn
		margin-top: $gutter
		position: relative
		padding: .5rem 2rem
		text-transform: uppercase
		font-weight: bold
		font-size: 1.2rem
		border-radius: 0
		outline: none
		&.btn-accent
			background: $accent
			color: #ffffff

.introHolder.inverse
	h2, p
		color: $text
.introHolder.blue
	h2, p
		color: $text
		span
			color: $blue


.yellowHolder
	display: flex
	align-items: center
	height: 100%
	&__left
		h1, h2
			font-size: 3.8rem
			font-weight: bold
			text-transform: uppercase
			color: #ffffff
			line-height: 1.1
			margin: 0
			padding: 0
		h1
			margin-bottom: 2rem
		h2
			margin-top: 2rem
		p
			font-size: 2.1rem
			font-weight: bold
			line-height: 1
			padding: 0
			margin: 0
			color: #ffffff
			span
				color: $accent
	&__right
		position: relative
		border-left: 2px solid $accent
		padding: 2rem 0 2rem 3rem
		height: 100%
		color: #ffffff
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: #222222
			opacity: .7
		p
			padding: 0
			margin: 0
			position: relative
			margin: auto
			line-height: 1
		.yellowHolder__right__old
			font-size: 1.8rem
			color: #a5a5a5
			text-decoration: line-through
		.yellowHolder__right__total
			font-size: 3.8rem
			color: #ffffff
			font-weight: bold
			line-height: 1.5
			span
				font-size: 2rem
		.yellowHolder__right__date,
		.yellowHolder__right__text
			font-size: 1.2rem



.header
	display: flex
	flex-direction: column
	height: 100vh
	min-height: 700px
	background-size: cover
	background-position: center
	color: #ffffff
	position: relative
	box-sizing: border-box
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		right: 0
		bottom: 0
		background: linear-gradient(to bottom, #000000, #222222)
		opacity: .75
	.container
		position: relative
		.row.border_bottom
			border-bottom: 1px solid #fff
	.header__nav 
		padding: $gutter 0
		margin: 0
		box-sizing: border-box
		.mobile__menu
			display: none
		&__left
			display: flex
			flex-direction: row
			justify-content: space-between
			align-items: center
			width: 42%
			&__logo
				margin: 0
				padding: 0
				box-sizing: border-box
				#svg 
					margin: 0
					padding: 0
					width: 5rem
					path
						fill: #fff
					ellipse, polyline, line
						stroke: #fff
			&__text
				margin-left: 1.5rem
				line-height: 1
				b
					display: block
					font-weight: 500
					padding-bottom: 1rem
					font-size: 22px
				span
					color: #a5a5a5
					font-size: 1.1rem
		&__right
			display: flex
			flex-direction: column-reverse
			width: 58%
			.navbar-nav
				margin: 0
				padding: 0
				display: flex
				flex-direction: row
				justify-content: space-between
				width: 100%
				.nav-item
					list-style-type: none
					padding: 0
					&:first-child
						margin: 0
					.nav-link
						color: #ffffff
						padding: 0
						text-transform: uppercase
						font-size: 1rem
						font-weight: 500
						position: relative
						padding: 1rem 0
						transition: color .3s ease
						&:hover
							color: $accent
						&::after
							content: ''
							position: absolute
							left: 0
							bottom: -2px
							width: 100%
							height: 3px
							border-radius: 6px
							background-color: $accent
							transform: scale(0)
							transition: all .3s ease
						&:hover::after
							content: ''
							position: absolute
							left: 0
							bottom: -2px
							width: 100%
							height: 3px
							border-radius: 6px
							background-color: $accent
							transform: scale(1)

			&__items
				display: flex
				flex-direction: row
				align-items: flex-end
				justify-content: space-between
				.social
					a
						color: #ffffff
						border: 0.5px solid #ffffff
						padding: .5rem
						margin: 0 .3rem
						display: inline-block
						width: 3rem
						text-align: center
						transition: all .3s ease
						&:hover
							color: $accent
							border-color: $accent
							transform: scale(1)
						&:first-child
							margin: 0 .3rem 0 0
				.phone
					text-align: right
					p
						padding: 0
						margin: 0
						color: #ffffff
						font-size: 1.5rem
					a
						color: #ffffff
						img
							display: inline-block
							width: 1.5rem
							height: auto
							margin-right: .5rem

						
	.header__nav.sticky
		position: fixed
		top: 0
		left: 0
		width: 100%
		min-height: 2em
		background: #ffffff
		z-index: 100
		padding: 0
		.header__nav__left
			width: 10%
			&__logo
				#svg
					width: 4rem
					path
						fill: #000
					ellipse, polyline, line
						stroke: #000
			&__text
				display: none

		.header__nav__right
			display: flex
			flex-direction: row
			justify-content: flex-beetwen
			align-items: center
			width: 90%
			margin: auto
			.navbar-nav
				margin: 0 5%
				.nav-item
					.nav-link
						color: $text
						padding: 2rem 0
						&:hover
							color: $accent
			&__items
				width: 50%
				.social
					display: none
				.phone
					p
						font-size: 1.1rem
						color: $text
					a
						color: $text
						


	.header__block
		margin: auto
		&__column
			margin-top: 5rem
			&__item
				display: flex
				justify-content: flex-start
				align-items: flex-start
				margin: 0
				padding: 0 1rem
				img
					width: 4rem
					margin: 0
				p
					font-size: 1.2rem
					font-weight: 500
					line-height: 1.2
					color: #a5a5a5
					margin-left: 20px
					b
						font-size: 1.35rem
						color: #ffffff
						display: block
						margin-bottom: .5rem
			
.header.gutter
	padding-top: 100px

.advantages
	position: relative
	padding: 0
	.container, .row
		width: 100%
		padding: 0
		margin: 0 auto
		position: relative
	.container
		padding: 3rem 0 10rem 0
	&::before
		content: ''
		position: absolute
		top: -40px
		left: 50%
		z-index: 10
		width: 100px
		height: 100px
		border-radius: 50%
		background: inherit
		transform: translateX(-50%)
		z-index: 1
	img.mouse
		position: absolute
		top: -1rem
		left: 50%
		transform: translateX(-50%)
		width: 2rem
		z-index: 2

	.advantages__post
		background-size: cover
		background-position: center
		text-align: center
		padding: 0
		height: 310px
		margin: 3rem 0
		position: relative
		display: flex
		align-items: flex-end
		justify-content: center
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: #000000
			opacity: .6
		.col, > [class*="col-"]
			padding: 0
		h3
			font-size: 22px
			line-height: 26px
			font-weight: 700
			text-transform: uppercase
			color: $accent
			position: relative
			z-index: 2
			a
				color: $accent
		p
			font-size: 20px
			line-height: 28px
			font-weight: 400
			color: #cccccc
			position: relative
			z-index: 2
		&__img
			position: relative
			border: 1px solid #fff
			display: inline-block
			background: #ffffff
			opacity: .5
			border-radius: 30rem
			padding: 1rem
			margin-bottom: 2rem
			transition: opacity .3s ease
			img
				width: 2.5rem
	.advantages__post:hover
		.advantages__post__img
			opacity: 1

.macbook
	position: relative
	background-color: $bg
	width: 100%
	height: 800px
	&::before
		content: ''
		position: absolute
		left: 0
		top: -10vh
		width: 100%
		height: 100%
		background-position: top
		background-size: 1400px
		background-repeat: no-repeat		
		background-image:url('../img/macbook/macbook.png')
	.button-play
		display: flex
		justify-content: center
		align-items: center		
		a
			margin-top: 140px
			width: 100px
			height: 100px
			background-color: #3dafc4
			border-radius: 100px
			display: flex
			justify-content: center
			align-items: center
			position: relative
			&::before
				content: ''	
				position: absolute
				left: 50%
				top: 50%
				transform: translateX(-50%) translateY(-50%)
				width: 250px
				height: 250px
				background-color: #ffffff
				border-radius: 250px
				opacity: .07
				transition: all .3s ease
			&::after
				content: ''	
				position: absolute
				left: 50%
				top: 50%
				transform: translateX(-50%) translateY(-50%)
				width: 360px
				height: 360px
				border: 1px solid #ffffff
				border-radius: 360px
				opacity: .2
			img
				width: 30px
				height: auto
				position: relative
		a:hover
			width: 100px
			height: 100px
			background-color: #3dafc4
			border-radius: 100px
			&::before
				content: ''	
				position: absolute
				left: 50%
				top: 50%
				transform: translateX(-50%) translateY(-50%)
				width: 360px
				height: 360px
				background-color: #ffffff
				border-radius: 360px
				opacity: .2
		
.calculator
	position: relative
	padding: $gutter*2 0
	background-size: cover
	background-position: center
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: #000000
		opacity: .7
	&__block
		align-items: center
		img
			width: 4rem	
		p
			color: #ffffff
			font-size: 1.4rem
			text-align: left
			margin: 0
			margin-left: $gutter/2
			line-height: 1
			b
				color: $accent
	
.photos
	position: relative
	padding: $gutter*2 0
	background: $bg
	.row
		.col-12
			padding: $gutter*2 0 $gutter 0
			border-bottom: 1px solid #e7e7e7
			margin: 0
		.col-12:first-child
			padding: $gutter 0 $gutter 0
	img
		width: 100%
	p
		font-size: 22px
		margin-top: 1rem
			
.design_project
	position: relative
	padding: $gutter*2 0
	background: #000
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 50%
		height: 100%
		background-image: url('../img/design_project/Img_3_Design_project_1.jpg')
		background-size: cover
		background-position: left top
		background-repeat: no-repeat
		opacity: .2
	&::after
		content: ''
		position: absolute
		left: 50%
		top: 0
		width: 50%
		height: 100%
		background-image: url('../img/design_project/Img_3_Design_project_2.jpg')
		background-size: cover
		background-position: left top
		background-repeat: no-repeat
		opacity: .2
	.container, .row
		position: relative
		z-index: 2
	&__header
		p
			color: #ffffff
			font-size: 1.8rem
			font-weight: 700
			text-transform: uppercase
			padding: $gutter 0
			span
				background: #ffffff
				padding: 10px 20px
				margin-right: 1rem
				.far
					color: $text
				.far.fa-thumbs-down
					transform: scale(-1, 1)
					filter: FlipV
	.right
		.design_project__header
			p
				span
					background: $blue
					.far
						color: #ffffff
	&__center
		p
			color: #ffffff
			font-size: 18px
			padding: $gutter 0
			position: relative
			&::before
				content: ''
				position: absolute
				left: 0
				top: 0
				width: 100%
				height: 1px
				background: #eeeeee
				opacity: .14
			&:last-child
				display: block
				height: 100%
				min-height: 160px
			span
				font-size: 24px
				color: #da3232
				font-weight: 700
	.right
		.design_project__center
			p
				span
					color: $blue
	
	&__bottom
		margin: $gutter 0
		display: flex
		padding: $gutter 0
		height: 180px
		p
			background: #ffffff
			color: $text
			font-weight: 700
			height: 100%
			vertical-align: center
			display: flex
			align-items: center
			padding: 10px 10px 10px 80px
			position: relative
			&::before
				content: '\f00d'
				font-family: 'Font Awesome 5 Free'
				font-weight: solid
				font-size: 30px
				color: #da3232
				position: absolute
				left: 5% 
				top: 50%
				transform: translateY(-50%)

	.right
		.design_project__bottom
			p
				background: $blue
				color: #ffffff
				&::before
					content: '\f00c'
					color: #ffffff
					
.recomendation
	position: relative
	padding: $gutter*2 0
	&__carousel
		padding: $gutter 0
		.owl-item 
			padding: 0 $gutter
			img
				width: 100%
		.owl-nav
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			width: 100%
			button.owl-next, button.owl-prev
				width: 60px
				height: 60px
				border-radius: 60px
				background-color: #111111
				color: #ffffff
				position: absolute
				text-align: center
				font-size: 30px
				border: none
				outline: 0
				&:hover
					background-color: $accent
			button.owl-prev
				left: -4%
			button.owl-next
				right: -4%


		&__item
			padding: $gutter*2 0
			position: relative
			&::before
				content: ''
				position: absolute
				left: 18%
				top: 0
				width: 80%
				height: 100%
				background: #ffffff
			p
				font-size: 17px
				padding: $gutter/4 $gutter
				b
					font-size: 20px
					font-weight: 700
			.download
				position: relative
				margin-left: 30px
				&::after
					position: absolute
					left: -30px
					top: 50%
					transform: translateY(-50%)
					content: '\f0c1'
					font-family: 'Font Awesome 5 Free'
					font-weight: bold
					font-size: 20px
					color: $blue
				


.acquaintance
	position: relative
	padding: $gutter*2 0 0 0
	background-size: cover
	background-position: left top
	background-repeat: no-repeat
	overflow: hidden
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		background: #000000
		opacity: .4
	.container
		position: relative
		padding-bottom: 100px
		
		
	&__block
		position: relative
		padding: $gutter*1.5
		height: 100%
		&::before
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background: #111111
			opacity: .7
		
		&__about
			position: relative
			.manager
				position: absolute
				left: -90%
				top: 0
				width: 90%
				opacity: 1
				&.right
					left: auto
					right: -85%
			h3
				color: $blue
				text-transform: uppercase
				font-size: 20px
				font-weight: bold
			p
				color: #fff
				font-size: 1rem
	&__img
		padding: $gutter*1.5 $gutter*2
		&__item
			display: flex
			justify-content: flex-start
			align-items: center
			margin: 0
			padding: 0
			img
				width: 4rem
				margin: 0 0 0 .5rem
			p
				color: #ffffff
				font-size: 20px
				font-weight: bold
				margin: 0 0 0 2rem
	&__text
		background: #fff
		color: $text
		padding: $gutter/2 $gutter*1.5 $gutter/2 $gutter*1.5
		margin: 0 2rem 0 0
		p
			font-size: 20px

			
.price
	padding: $gutter*2 0
	position: relative
	background-size: 50%
	background-position: center bottom
	background-repeat: no-repeat
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 100%
		background: linear-gradient(to top, #ffffff, transparent)
		opacity: .8
	&__header
		position: relative
		background: #111111
		padding: 10px
		color: #ffffff
		text-align: center
		p
			margin: .3rem 0
			b
				font-size: 26px
		p.name
			opacity: .7
		&__sum
			margin: 1rem 0
			font-size: 33px
			color: $accent
			font-weight: bold
			span
				font-size: 25px
			&__old
				color: #ffffff
				opacity: .4
				font-weight: normal
				text-decoration: line-through
		&.top
			position: relative
			&::before
				content: '\f7e4'
				position: absolute
				right: 5%
				top: 5%
				font-family: 'Font Awesome 5 Free'
				font-weight: bold
				font-size: 30px
				color: $accent
	&__center
		background: #f2f3f5
		padding: 10px
		border-left: 1px solid #eeeeee
		border-right: 1px solid #eeeeee
		ul
			margin: 0 0 0 60px
			padding: 0
			list-style-type: none
			li
				font-size: 1.1rem
				padding: 20px 10px 20px 0
				position: relative
				line-height: 1.1
				&::before
					content: '\f14a'
					position: absolute
					left: -45px
					top: 50%
					transform: translateY(-50%)
					font-family: 'Font Awesome 5 Free'
					font-weight: bold
					font-size: 30px
					color: $blue
	&__bottom
		background: #fff
		padding: 10px
		border: 1px solid #eeeeee
		border-top: none
		ul
			margin: 0 10px 0 60px
			padding: 0
			list-style-type: none
			li
				font-size: 1.1rem
				padding: 20px 0 20px 0
				position: relative
				line-height: 1.1
				border-bottom: 1px solid #eeeeee
				&::before
					content: ''
					position: absolute
					left: -45px
					top: 50%
					transform: translateY(-50%)
					width: 30px
					height: 30px
					
			li.num1::before
				background: url('../img/price/1.svg')
			li.num2::before
				background: url('../img/price/2.svg')
			li.num3::before
				background: url('../img/price/3.svg')
			li.num4::before
				background: url('../img/price/4.svg')
			li.num5::before
				background: url('../img/price/5.svg')
			li.num6::before
				background: url('../img/price/6.svg')
			li.num7::before
				background: url('../img/price/7.svg')
			li.num8::before
				background: url('../img/price/8.svg')
			li.num9::before
				background: url('../img/price/9.svg')
			li.num10::before
				background: url('../img/price/10.svg')
			li.num11::before
				background: url('../img/price/11.svg')
			li.num12::before
				background: url('../img/price/12.svg')
			li.num13::before
				background: url('../img/price/13.svg')
					

		.introHolder
			p
				margin: 1rem 0			
			
.banner
	padding: $gutter*2 0
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	position: relative
	&::before
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: #000
		opacity: .7
	&__list
		margin: 5rem 0 2rem 0
		position: relative
		ul
			margin: 0 0 0 40px
			padding: 0
			list-style-type: none
			li
				font-size: 1.05rem
				padding: 0 0 $gutter*2 0
				position: relative
				line-height: 1.5
				height: 100px
				color: #ffffff
				font-weight: bold
				margin: 0
				span
					display: block
				&::before
					content: ''
					position: absolute
					left: -40px
					top: 0
					width: 30px
					height: 30px
					background: url('../img/banner/check.svg')
	&__click
		margin: 0
		padding: 0
		display: flex
		align-items: center
		p
			color: #fff
			font-size: 2rem
			font-weight: bold
			margin: 0
		.introHolder
			margin: 0
			padding: 0
			text-align: left
			.btn-accent
				margin: 0 2rem 0 0
				font-size: 1rem
			.download
				font-size: 1rem




// .header, .advantages, .macbook, .calculator, .photos, .design_project, .recomendation, .acquaintance
// 	display: none


@import "media" // Always at the end
