$accent: #003056
$text: #001f2c
$orange: #ff7518
$gutter: 30px
$default-font: 'Roboto', sans-serif

.page
   color: $text	
   h1
      display: block
      text-align: center
      font-size: 2em
      font-weight: bold