header
    .main-slider
        position: relative
        border: 1px solid $border-color
        &--item
            position: relative
            padding: 0
            margin: 0
            box-shadow: none
            outline: none
            img
                width: 100%
                height: auto
        &--text
            position: absolute
            bottom: 0
            right: 106px
            width: 495px
            z-index: 1
            padding: 2.2em 5.8em 4em 2em
            background: rgba(93, 60, 220, 0.5)
            backdrop-filter: blur(8.17959px)
            h2
                text-transform: uppercase
                font-size: 2.1333em
                margin-bottom: 12px
                color: #ffffff
                font-weight: bold
            p
                font-size: 1em
                color: #ffffff
                margin-bottom: 0

        .slick-dots
            position: absolute
            left: 0
            bottom: 0
            background: $border-color
            display: flex !important
            align-items: flex-end
            margin: 0
            padding: 0
            z-index: 1
            li
                margin: 0
                margin-bottom: 1px
                padding: 0
                line-height: 0
                height: auto
                &:not(:first-child)
                    padding-left: 2px
                &:last-child
                    border-right: 1px solid $border-color
            button
                appearance: none
                margin: 0 !important
                padding: 0 !important
                line-height: 0
                width: 119px
                height: 4px
                background: #fff
                border: 1px solid #ffffff
                color: #ffffff
                overflow: hidden
                outline: none
                box-shadow: none
                cursor: pointer
            .slick-active
                padding: 0
                margin: 0
                button
                    background: $accent
                    color: $accent
                    border: 1px solid $accent

@media screen and ( max-width: 1199.98px )
    header
        .main-slider
            &--text
                right: 0
            .slick-dots
                button
                    width: 114px

@media screen and ( max-width: 991.98px )
    header
        .main-slider
            .slick-dots
                button
                    width: 54px

@media screen and ( max-width: 767.98px )
    header
        .main-slider
            &--text
                width: 316px
                padding: 1em
                right: 15px
                h2
                    font-size: 1.3em
                p
                    font-size: 10px
            .slick-dots
                button
                    width: 50px

@media screen and ( max-width: 767.98px )
    header
        .container
            padding: 0
        .main-slider
            &--text
                width: 60%
                padding: 10px 1em
                h2
                    font-size: 1em
                p
                    font-size: 10px
            .slick-dots
                width: 36%
                li
                    flex: 0 0 25%
                button
                    width: 100%
                    
