.work
    h3
        margin-bottom: 40px
    &-item
        position: relative
        display: block
        overflow: hidden
        border: 1px solid $border-color
        img
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            object-fit: fill
        p
            position: absolute
            right: 0
            bottom: 0
            display: inline-block
            font-size: 25px
            color: #ffffff
            padding: 8px 25px 10px 22px
            margin: 0
            background: linear-gradient(0deg, rgba(14, 16, 17, 0.5), rgba(14, 16, 17, 0.5))
            backdrop-filter: blur(30.021px)
            max-width: 435px
        
        &.first
            padding-top: 65%
        &.second
            padding-top: 75%
        &.mb-30
            margin-bottom: 30px

@media screen and ( max-width: 991.98px )
    .work
        .row
            margin: 0
            padding: 0
        [class*="col-"]
            padding: 0
            margin: 0
            &:first-child
                .work-item
                    &:nth-child(1),
                    &:nth-child(2)
                        border-right: none
                
        &-item
            p
                font-size: 1em
            &.mb-30
                margin-bottom: 0
            &:nth-child(2),
            &:nth-child(4)
                border-top: none

@media screen and ( max-width: 767.98px )
    .work
        h3
            margin-bottom: 20px
        &-item
            p
                font-size: 10px
                padding: 2px 7px
        