@import '_libs/reboot'
@import '_libs/bootstrap_grid'
@import '_libs/fonts'

$accent: #5D3CDC
$text: #121212
$grey: #8A8A8A
$border-color: #000000

$default-font: 'Gilroy', sans-serif

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
*
    box-sizing: border-box
section
    margin-top: 70px
    h1, h2, h3, h4, h5, h6
        display: inline-block
        font-size: 50px
        font-weight: bold
        color: $accent
        border-left: 5px solid $border-color
        line-height: 1
        margin: 0
        padding: 0
        padding-left: 15px
        &.center
            display: block
            margin: 0 auto
            text-align: center
            padding-left: 0
            border-left: none
    &.page
        margin-top: 1em
.container
    padding: 0

a, a:hover
    text-decoration: none
img
    max-width: 100%
.more
    display: inline-block
    font-size: 1em
    line-height: 1
    border: 1px solid $border-color
    padding: 11px 35px 14px 29px
    color: $text
    font-weight: bold
    &:hover
        color: $text
.all
    display: inline-block
    margin-top: 2em
    font-size: 25px
    font-weight: bold
    color: $accent
    border-bottom: 1px solid $accent
    &:hover
        color: $accent


@import 'nav'
@import 'header'
@import 'services'
@import 'about'
@import 'work'
@import 'clients'
@import 'review'
@import 'action'
@import 'footer'

@media screen and ( min-width: 1200px )
    .container
        max-width: 1200px

@media screen and ( max-width: 991.98px )
    section
        h1, h2, h3, h4, h5, h6
            font-size: 35px
    .all
        font-size: 20px

@media screen and ( max-width: 767.98px )
    section
        margin-top: 30px
        h1, h2, h3, h4, h5, h6
            font-size: 30px
    .all
        margin-top: 1em

@media screen and ( max-width: 576.98px )
    section
        margin-top: 20px
        h1, h2, h3, h4, h5, h6
            font-size: 25px
            padding-left: 5px
    .container
        padding: 0 1em
    .more
        font-size: 9px
        padding: 4px 16px
    .all
        font-size: 1em
    
    

body
    opacity: 1

