.footer
   background: #f6f7fa
   padding: 60px 0
   font-size: 1em
   [class*="col-"]
      margin-bottom: 1.5em
   p
      strong
         font-size: 1.425em
   ul
      margin: 0
      padding: 0
      li
         list-style: none
         margin-bottom: 0.5em
   a
      color: $text
      font-size: 1.1em

@media screen and (max-width: 1199.98px)
   .footer
      font-size: .9em

@media screen and (max-width: 767.98px)
   .footer
      font-size: .9em
      ul,
      p
         max-width: 270px
         margin: 0 auto
      p
         margin-bottom: 0.8em
      [class*="col-"]:last-child
         p:last-child
            font-weight: bold