.navbar
   font-size: 1em
   padding: 15px 0
   .hamburger-box
      width: 30px
      height: 16px
   .hamburger-inner, 
   .hamburger-inner:after, 
   .hamburger-inner:before
      width: 30px
      height: 2px
      background-color: #000000
   .hamburger.is-active
      .hamburger-inner, 
      .hamburger-inner:after, 
      .hamburger-inner:before
         background-color: #000000
   .hamburger--slider 
      .hamburger-inner
         top: 1px
   .navbar-brand
      display: flex
      align-items: center
      color: #000000
      font-size: 1.625em
      font-weight: bold
      text-transform: uppercase
      margin-bottom: 0
      margin-right: 0
      img
         width: 51px
         height: auto
         margin-right: .5em
   .search
      display: flex
      align-items: center
      color: #000000
      margin-left: 50px
      max-width: 200px
      font-size: 1.125em
      img
         width: 15px
         height: auto
      .btn
         outline: none !important
         &.btn-dark
            background: $text
            border: 1px solid $text
            display: flex
            align-items: center
            justify-content: center
   .search_btn
      display: none
      margin-left: auto
      img
         width: 25px
         height: auto

   .navbar-nav
      width: 100%
      justify-content: space-between
      margin-left: 60px
      .nav-menu
         display: flex
         .phone
            margin-left: 60px
         .email
            display: none
      .nav-link
         color: $text
         font-size: 1em
         display: flex
         align-items: center
         letter-spacing: 0.45px
         padding: 0
         img
            width: 25px
            height: auto
            margin-right: .5em
         a
            color: $text
            display: block
      .nav-icons
         display: flex
         align-items: center
         a
            img
               margin-right: 1em
            &:last-child
               img
                  margin-right: 0
            span
               display: none

@media screen and (max-width: 1199.98px)
   .navbar
      font-size: .9em
      .navbar-brand
         img
            margin-right: 0.5em
      .search
         margin-left: 30px
      .navbar-nav
         margin-left: 30px
         .nav-menu
            .phone
               margin-left: 30px

@media screen and (max-width: 991.98px)
   .navbar
      .navbar-brand
         padding-left: 15px
         font-size: 1.2em
         img
            width: 35px
      .search
         margin-left: 20px
         max-width: 180px
      .navbar-nav
         margin-left: 0
         .time
            display: none
         .phone
            font-size: .8em

@media screen and (max-width: 767.98px)
   .navbar
      font-size: 1em
      margin: 0
      .navbar-brand
         padding-left: 15px
      .search
         margin-left: auto
         max-width: 200px
      .navbar-nav
         justify-content: center
         align-items: center
         margin: 0
         padding-top: 15px
         .nav-link
            font-size: 1em
            width: 180px
            margin: 0 auto
            text-align: left
            &.phone
               a
                  margin-bottom: 1em
               img
                  margin-right: .5em
            &.time
               display: flex
               font-weight: bold
         .nav-icons
            width: 100%
            flex-direction: column
            align-items: center
            position: relative
            border-top: 1px solid #e0e4eb
            border-bottom: 1px solid #e0e4eb
            a
               display: inline-block
               padding: 17px 0
               img
                  margin-right: .5em
               &:last-child
                  border-top: 0
                  img
                     margin-right: 0.7em
               span
                  display: inline
         .divider
            border-top: 1px solid #e0e4eb
            width: 100%
         .nav-menu
            display: flex
            flex-direction: column
            align-items: center
            padding: 15px 0
            .nav-link
               width: 160px
            img
               display: none
               margin-right: 0
            .phone
               padding: 15px 0
               margin-left: 0
            .email
               display: inline
               font-weight: bold

@media screen and (max-width: 576.98px)
   .navbar
      .search
         display: none
         position: fixed
         left: 50%
         top: 0
         transform: translateX(-50%)
         width: 100%
         max-width: 100%
         height: 80px
         z-index: 999
         &.active
            display: block
         form
            position: relative
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            margin: 0
            &:after
               content: ''
               position: absolute
               left: 0
               top: 0
               width: 100%
               height: 100%
               background: #000
               opacity: .9
            .input-group
               position: relative
               width: 70%
               margin: 0
               z-index: 10
            .btn
               position: relative
               z-index: 10
               &.btn-dark
                  background: $accent
                  border: 1px solid darken($accent, 20%)
      .search_btn
         display: block
      