.news
   padding: 0 0 40px 0
   h5
      font-size: 1.875em
      text-transform: uppercase
      font-weight: bold
      text-align: center
      span
         display: none
   .row
      padding: 20px 0 0 0
   [class*="col-"]
      padding: 30px 60px 30px 15px
   a
      color: $text
      p
         font-size: 1.125em
         margin-bottom: 0
         strong
            color: $red
            font-size: 1.625em
            font-weight: bold
            margin-bottom: .5em
            display: block

@media screen and (max-width: 991.98px)
   .news
      [class*="col-"]
         padding: 20px 10px
      a
         p
            font-size: 1em
            strong
               font-size: 1.2em

@media screen and (max-width: 767.98px)
   .news
      h5
         background: $accent
         border-radius: 6px
         font-size: 1.2em
         font-weight: bold
         width: 100%
         padding: 15px
         text-align: center
         margin: 0 auto 0 auto
         outline: none !important
         position: relative
         span
            display: inline
            position: relative
            &:after
               content: ''
               position: absolute
               right: -25px
               top: 50%
               transform: translateY(-50%)
               width: 17px
               height: 9px
               background-image: url('../img/down.svg')
               background-repeat: no-repeat
               background-position: center
         &.active
            span:after
               background-image: url('../img/up.svg')

      .hide_news
         display: none
         transition: all 1s ease
         &.open
            display: block

@media screen and (max-width: 576.98px)
   .news
      padding: 0 0 40px 0
      .row
         padding: 20px 0 0 0
      [class*="col-"]
         padding: 20px