.popular
   padding: 50px 0
   overflow-x: hidden
   .container
      padding: 0
   h3
      font-size: 1.875em
      text-transform: uppercase
      font-weight: bold
      text-align: center
   .direction_item
      box-shadow: 0 0 15px 3px rgba(127, 128, 156, 0.1)
      border-radius: 10px
      background-color: #ffffff
      padding: 40px 30px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      height: 100%
      transition: transform .3s ease
      &:hover
         transform: scale(1.05)
      img
         max-width: 100%
         height: auto
      p
         font-size: 1.25em
         letter-spacing: 0.5px
         text-align: center
         padding: 0
         margin: 0
         margin-top: 1em
         min-height: 80px
         color: $text
         span
            display: block
      .btn
         outline: none !important
         &.btn-accent
            background: $accent
            font-size: 1.125em
            font-weight: bold
            width: 100%
            max-width: 133px
            text-align: center
            margin: 1em auto 0 auto
            outline: none !important
            &:hover
               background: $red
               color: #fff
            &:active
               background: darken($red, 10%)
               color: #fff
               outline: none !important

   .owl-carousel
      padding: 0
      margin: 0
      &.row
         margin: 0
         padding: 0
      .owl-stage
      .owl-item
         padding: 50px 0
      .owl-nav
         button
            width: 12px
            height: 22px
            display: block
            position: absolute
            top: 50%
            transform: translateY(-50%)
            outline: none
            span
               font-size: 0
         .owl-prev
            left: -2em
            background: url('../img/popular/left.svg') center center no-repeat
         .owl-next
            right: -2em
            background: url('../img/popular/right.svg') center center no-repeat
      .owl-dots
         display: none
         justify-content: center
         button
            outline: none
            width: 10px
            height: 10px
            border-radius: 50%
            display: block
            font-size: 1em
            background: #e8e8e8
            margin-right: .5em
            &.active
               background: #000

@media screen and (max-width: 1199.98px)
   .popular
      font-size: 0.8em


@media screen and (max-width: 767.98px)
   .popular
      .owl-carousel
         .owl-nav
            display: none
         .owl-dots
            display: flex

@media screen and (max-width: 576.98px)
   .popular
      padding: 20px 0
      .container
         padding: 0 7px
      h3
         font-size: 1.5em
      .direction_item
         padding: 20px
         &__img
            max-width: 80%
            min-height: 100px
         p
            font-size: 1em
            min-height: 60px
      .owl-carousel
         .owl-item
            padding: 20px 0
            [class*="col-"]
               padding-right: 8px
               padding-left: 8px

@media screen and (max-width: 374.98px)
   .popular
      h3
         font-size: 1.4em
      .direction_item
         padding: 20px 15px
         p
            font-size: .85em
