@import '_libs/hamburger'
@import 'fonts'

$accent: #ffbd56
$red: #d82718
$text: #000000

$default-font: 'Ubuntu', sans-serif

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.2
	font-family: $default-font
	overflow-x: hidden
	color: $text
	opacity: 0
	letter-spacing: 0.45px
	
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.text-center
	text-align: center !important
	text-align-last: center !important
	p
		text-align: center !important
		text-align-last: center !important
a, 
	&:hover, 
	&:active, 
	&:focus
		text-decoration: none
		outline: none
b, strong
	font-weight: bold
img
	max-width: 100%

@import 'nav'
@import 'header'
@import 'direction'
@import 'popular'
@import 'cloud'
@import 'services'
@import 'news'
@import 'footer'


body
	opacity: 1