.category
    position: relative
    padding: 100px 0 $gutter*2 0
    [class*="col-"]
        margin-bottom: 2em
        h4
            a
                color: $text
        p
            color: #666