.footer
    position: relative
    background: #f3f3f3
    padding: $gutter*2 0 $gutter 0
    [class*="col-"]
        margin-bottom: 3em
    form
        [class*="col-"]
            margin-bottom: 0.5em
    h5
        position: relative
        margin-bottom: 2em
        &:after
            content: ''
            position: absolute
            left: 0
            bottom: -.5em
            width: 50px
            height: 2px
            background: $accent
            display: block
    .clear
        display: block
        height: $gutter
    .footer-form
        .form-control:first-child
            margin-bottom: .8em
        textarea
            height: 100%
            margin-bottom: 0.5em
    .footer-contact
        border-left: 1px solid $gray
        padding-left: $gutter
        font-size: 1em
        p
            .fas, .far
                margin-right: 0.5em
                color: $silver
                text-align: center
                min-width: 1em
            a
                color: $text
                font-weight: bold
    .footer-social
        margin-top: 2em
        margin-left: $gutter
        a
            color: $text
            .fab
                margin-right: 0.5em
                min-width: 2em
                text-align: center
                border: 1px solid $text
                padding: .5em
                &:hover
                    background: $accent
                    color: #ffffff
                    border-color: $accent
    .author
        font-size: 0.8em
        color: $silver
        position: relative
        p
            position: absolute
            top: 0
            right: 0

@keyframes checkmark
    0%
        height: 0
        width: 0
        opacity: 1
    20%
        height: 0
        width: 0.375em
        opacity: 1
    40%
        height: 0.75em
        width: 0.375em
        opacity: 1
    100%
        height: 0.75em
        width: 0.375em
        opacity: 1

@media screen and (max-width: 991.98px)
    .footer
        text-align: center
        h5
            &:after
                left: 50%
                transform: translateX(-50%)
        .footer-contact
            padding-left: 0
            border-left: 0
        .footer-social
            margin-top: 2em
            margin-left: 0
        .author
            text-align: center
            p
                position: relative
                top: auto
                right: auto

    .policy__checked, .robot
        justify-content: center