.review
    position: relative
    padding: 0
    background-size: cover
    background-position: center
    color: #ffffff
    height: 80vh
    min-height: 600px
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    .container
        padding: $gutter*2 15px
    &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: #000
        opacity: .5
    .review-carousel
        &-item
            text-align: center
            &__title
                font-weight: bold
                font-size: 1.2em
                margin: 0 .5em
            &__date
                color: $silver
                font-size: 0.8em
                margin-bottom: 1em
            &__rating
                margin-bottom: 1em
                .fas
                    color: #f9c869
    
    .owl-carousel.review-carousel
        position: relative
        .owl-nav
            position: absolute
            top: 0
            left: 0
            width: 100%
            button.owl-next,
            button.owl-prev
                position: absolute
                color: #f9c869
                font-size: 2em
                border: none
                outline: 0
            button.owl-prev
                left: 0
            button.owl-next
                right: 0
        .owl-dots
            width: 100%
            text-align: center
            display: inline-block
            .owl-dot
                width: 8px
                height: 8px
                background-color: #fff
                border-radius: 10px
                display: inline-block
                margin: 4px
                outline: 0
                transition: background-color .5s ease, transform .5s ease
            .owl-dot.active
                background-color: #f9c869
                transform: scale(1.3)

@media screen and (max-width: 499.98px)
    .review
        min-height: 650px
        background-position: 80% center