.top_products
   width: 100%
   margin: 0 auto
   padding: $gutter 0
   text-align: center
   object-fit: contain
   background: #f6f6f6
   border-bottom: 1px solid #dbdbdb
   .flex
      padding-top: 15px
   a
      border: none
      text-decoration: none
      position: relative
   .top_products__href
      position: relative
      display: flex
      align-items: center
      justify-content: center
      flex-direction: column
      width: 100%
      padding: 20px 30px
      margin-bottom: 1em
      background-size: cover !important
      background-position: center
      background-repeat: no-repeat
      font-size: 1em
      color: #fff
      box-sizing: border-box
      border-radius: 8px
      min-height: 300px
      overflow-x: hidden
      &:hover
         color: #fff
   .top_products__text
      position: relative
      font-size: 1.3em
      font-weight: bold
      padding: 0
      opacity: 0
      z-index: 2
      transform: translate3d(0, 20px, 0)
      transition: opacity .35s, transform .35s
   .more-link
      position: absolute
      right: -10px
      bottom: 30px
      opacity: 0
      z-index: 2
      color: #fff
      font-size: .8em
      font-weight: bold
      text-transform: uppercase
      transition: all .3s ease-in-out
      .fa
         width: 1em
         height: 1em
         margin-right: .5em
         transition: all .2s ease-in-out
      &:hover
         color: #fff
         .fa
            margin-right: 0.2em
   
   /* Slide on hover */
   .top_products__href:hover 
      .top_products__title
         transform: translate3d(0, 0, 0) scale(.7)
      .top_products__text
         transform: translate3d(0, 0, 0)
         opacity: 1
      .more-link
         right: 30px
         opacity: 1

   .has-overlay
      padding: 0
   .has-overlay::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: #000
      opacity: 0
      transition: opacity .35s ease-in-out
      z-index: 1
      border-radius: 8px
   .has-overlay:hover::before
      opacity: .6

@media screen and (max-width: 1199.98px)
   .top_products
      .top_products__text
         font-size: 1.1em
@media screen and (max-width: 991.98px)
   .top_products
      .top_products__href
         min-height: 200px
      .top_products__text
         font-size: 1em
@media screen and (max-width: 768px)
   .top_products
      .top_products__href
         min-height: 300px
      .col-x4
         width: 49%
         margin-left: 1%
         &:first-child
            margin-left: 0
         &:nth-child(2n+1)
            margin-left: 0
         &:last-child
            width: 49%
@media screen and (max-width: 576.98px)
   .top_products
      .top_products__href
         min-height: 200px
      .top_products__text
         font-size: .75em
      .more-link
         font-size: 0.6em
