.header {
	 -skrollr-animation-name:animate-header;
	}

.header .logo {
	 -skrollr-animation-name:animate-logo;
	}

.header .logo p + img {
    -skrollr-animation-name:animate-logo-img;
	}

.header nav a {
	-skrollr-animation-name:animate-nav;
	}

.header .phones dl {
	-skrollr-animation-name:animate-phones;
	}
	
.bg_gray {
	-skrollr-animation-name:animate-bg_gray;
	}

.leafe-left b {
	-skrollr-anchor-target: '.leafe-left';
	-skrollr-animation-name:animate-leafe-left;
	}

.leafe-right b {
	-skrollr-anchor-target: '.leafe-right';
	-skrollr-animation-name:animate-leafe-right;
	}

.card-parallax {
	-skrollr-animation-name:animate-card;
	}


@-skrollr-keyframes animate-header {
 	165 {
		box-shadow:0px 0px 0px rgba(47, 22, 20, 0.1);
    }
    190 {
		box-shadow:0px 5px 10px rgba(47, 22, 20, 0.1);
    }
}

@-skrollr-keyframes animate-logo {
    0 {
		height:138px;
		padding:16px 0 11px;
    }
    165 {
		height:54px;
		padding:20px 0 17px;
    }
}

@-skrollr-keyframes animate-logo-img {
    0 {
		transform:perspective(150px) rotateX(0deg);
    }
    220 {
		transform:perspective(150px) rotateX(-90deg);
    }
}

@-skrollr-keyframes animate-nav {
    0 {
		margin-top:2.9%;
		margin-bottom:2.9%;
    }
    165 {
		margin-top:1.3%;
		margin-bottom:1.3%;
    }
}

@-skrollr-keyframes animate-phones {
    0 {
		margin-top:2.7%;
		margin-bottom:2.7%;
    }
    165 {
		margin-top:1%;
		margin-bottom:1%;
    }
}

@-skrollr-keyframes animate-bg_gray {
    bottom-top {
		background-position:50% -50px;
    }
    top-bottom {
		background-position:50% -190px;
    }
}

@-skrollr-keyframes animate-leafe-left {
    bottom-top {
		transform:rotate(-61deg) translate(-500px, -300px);
    }
    150-center {
		transform:rotate(-1deg) translate(-20px, -8px);
    }
	50-center {
		transform:rotate(0deg) translate(0px, 0px);
	}
}

@-skrollr-keyframes animate-leafe-right {
    bottom-top {
		transform:rotate(60deg) translate(500px, -300px);
    }
    150-center {
		transform:rotate(1deg) translate(20px, -8px);
    }
	50-center {
		transform:rotate(0deg) translate(0px, 0px);
	}
}

@-skrollr-keyframes animate-card {
    bottom-top {
		transform: perspective(1000px) rotateY(-15deg) skewY(4deg);
    }
    top-bottom {
		transform: perspective(1000px) rotateY(40deg) skewY(-4deg);
    }
}