.how
  text-align: center
  background: #ffffff
  h2
    margin-bottom: 1em
  [class*="col-"]
    margin-bottom: 2em
  a
    color: $accent
    font-weight: bold
    &:hover
      color: $accent
  &__card
    img
      max-width: 100px
      margin-bottom: 1em
      transition: transform .3s ease
    &:hover
      img
        transform: scale(1.1)

@media screen and (max-width: 576.98px)
  .how
    &__card
      position: relative
      padding-bottom: 20px
      .d-sm-none
        width: 50px
        padding-top: 20px
      &:last-child
        padding-bottom: 0